<!DOCTYPE html>
<html>
<head>
    <partial name="_headPartial" />

    <style>
        /* Default styles for rightSidebar */
        #rightSidebar {
            display: none;
        }

        @@media screen and (min-width: 1000px) {
            #rightSidebar {
                display: block;
            }
        }

        #leftSidebar {
            display: none;
        }

        @@media screen and (min-width: 850px) {
            #leftSidebar {
                display: block;
            }
        }
        /* Media query for screens 1000px or wider */


        body {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-areas:
                "header header header"
                "leftSidebar main rightSidebar"
                "footer footer footer";
            min-height: 100vh;
        }


        @@media screen and (max-width: 850px) {
            body {
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-rows: auto 1fr auto;
                grid-template-columns: 1fr;
                grid-template-areas:
                    "header header header"
                    "main"
                    "footer footer footer";
                min-height: 100vh;
            }
        }

        @@media screen and (min-width: 850px) and (max-width: 1000px) {
            body {
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-rows: auto 1fr auto;
                grid-template-columns: 1fr;
                grid-template-areas:
                    "header header header"
                    "main"
                    "footer footer footer";
                min-height: 100vh;
            }
        }

        header {
            grid-area: header;
            background-color: #212122;
            color: #fff;
            padding: 20px;
            font-family: "IBM plex sans", sans-serif
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            nav ul {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
            }

                nav ul li {
                    margin-right: 20px;
                }

                    nav ul li a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: bold;
                        padding: 10px;
                        border-radius: 5px;
                    }

                        nav ul li a:hover {
                            background-color: #fff;
                            color: #333;
                            transition: all 0.3s ease;
                        }

        aside {
            background-color: #eee;
            padding: 20px;
            border: 1px solid #ccc;
        }

        #leftSidebar {
            grid-area: leftSidebar;
        }

        #rightSidebar {
            grid-area: rightSidebar;
        }

        main {
            grid-area: main;
            padding: 20px;
            justify-self: center;
        }

        footer {
            grid-area: footer;
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <img width="50" src="/lib/Resources/logo.png" />
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <aside id="leftSidebar">
        <h2>Tutorials</h2>
        <ul class="list-unstyled ps-0">
            @* Sidebar *@
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Home-collapse" aria-expanded="false">                                    Home                                </button>                                <div class="collapse" id="Home-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Home">Home</a></li><li><a class="link-dark rounded" asp-action="AboutThisWebsite" asp-controller="Home">About This Website</a></li><li><a class="link-dark rounded" asp-action="ContactUs" asp-controller="Home">Contact Us</a></li><li><a class="link-dark rounded" asp-action="Directory" asp-controller="Home">Directory</a></li><li><a class="link-dark rounded" asp-action="Privacy" asp-controller="Home">Privacy</a></li><li><a class="link-dark rounded" asp-action="Tutorials" asp-controller="Home">Tutorials</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Java-collapse" aria-expanded="false">                                    Java                                </button>                                <div class="collapse" id="Java-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Java">Home</a></li><li><a class="link-dark rounded" asp-action="Abstraction" asp-controller="Java">Abstraction</a></li><li><a class="link-dark rounded" asp-action="Arraylist" asp-controller="Java">Arraylist</a></li><li><a class="link-dark rounded" asp-action="Arrays" asp-controller="Java">Arrays</a></li><li><a class="link-dark rounded" asp-action="Classes" asp-controller="Java">Classes</a></li><li><a class="link-dark rounded" asp-action="Comments" asp-controller="Java">Comments</a></li><li><a class="link-dark rounded" asp-action="ControlFlow" asp-controller="Java">Control Flow</a></li><li><a class="link-dark rounded" asp-action="DataTypes" asp-controller="Java">Data Types</a></li><li><a class="link-dark rounded" asp-action="DateAndTime" asp-controller="Java">Date And Time</a></li><li><a class="link-dark rounded" asp-action="Encapsulation" asp-controller="Java">Encapsulation</a></li><li><a class="link-dark rounded" asp-action="Enums" asp-controller="Java">Enums</a></li><li><a class="link-dark rounded" asp-action="Exceptions" asp-controller="Java">Exceptions</a></li><li><a class="link-dark rounded" asp-action="FibonacciSequence" asp-controller="Java">Fibonacci Sequence</a></li><li><a class="link-dark rounded" asp-action="ForLoops" asp-controller="Java">For Loops</a></li><li><a class="link-dark rounded" asp-action="Functions" asp-controller="Java">Functions</a></li><li><a class="link-dark rounded" asp-action="HashMaps" asp-controller="Java">Hash Maps</a></li><li><a class="link-dark rounded" asp-action="HashSet" asp-controller="Java">Hash Set</a></li><li><a class="link-dark rounded" asp-action="Inheritance" asp-controller="Java">Inheritance</a></li><li><a class="link-dark rounded" asp-action="InnerClasses" asp-controller="Java">Inner Classes</a></li><li><a class="link-dark rounded" asp-action="Io" asp-controller="Java">Io</a></li><li><a class="link-dark rounded" asp-action="Iterators" asp-controller="Java">Iterators</a></li><li><a class="link-dark rounded" asp-action="LambdaExpressions" asp-controller="Java">Lambda Expressions</a></li><li><a class="link-dark rounded" asp-action="LinkedList" asp-controller="Java">Linked List</a></li><li><a class="link-dark rounded" asp-action="Math" asp-controller="Java">Math</a></li><li><a class="link-dark rounded" asp-action="Modifiers" asp-controller="Java">Modifiers</a></li><li><a class="link-dark rounded" asp-action="Operators" asp-controller="Java">Operators</a></li><li><a class="link-dark rounded" asp-action="Output" asp-controller="Java">Output</a></li><li><a class="link-dark rounded" asp-action="Packages" asp-controller="Java">Packages</a></li><li><a class="link-dark rounded" asp-action="Polymorphism" asp-controller="Java">Polymorphism</a></li><li><a class="link-dark rounded" asp-action="RegularExpressions" asp-controller="Java">Regular Expressions</a></li><li><a class="link-dark rounded" asp-action="Strings" asp-controller="Java">Strings</a></li><li><a class="link-dark rounded" asp-action="SwitchStatements" asp-controller="Java">Switch Statements</a></li><li><a class="link-dark rounded" asp-action="Threads" asp-controller="Java">Threads</a></li><li><a class="link-dark rounded" asp-action="TypeCasting" asp-controller="Java">Type Casting</a></li><li><a class="link-dark rounded" asp-action="UserInput" asp-controller="Java">User Input</a></li><li><a class="link-dark rounded" asp-action="Variables" asp-controller="Java">Variables</a></li><li><a class="link-dark rounded" asp-action="WhileLoops" asp-controller="Java">While Loops</a></li><li><a class="link-dark rounded" asp-action="WrapperClasses" asp-controller="Java">Wrapper Classes</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Js-collapse" aria-expanded="false">                                    Js                                </button>                                <div class="collapse" id="Js-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Js">Home</a></li><li><a class="link-dark rounded" asp-action="Ajax" asp-controller="Js">Ajax</a></li><li><a class="link-dark rounded" asp-action="AjaxXmlhttprequestObject" asp-controller="Js">Ajax Xmlhttprequest Object</a></li><li><a class="link-dark rounded" asp-action="AlternateTableRows" asp-controller="Js">Alternate Table Rows</a></li><li><a class="link-dark rounded" asp-action="ArrayReference" asp-controller="Js">Array Reference</a></li><li><a class="link-dark rounded" asp-action="Arrays" asp-controller="Js">Arrays</a></li><li><a class="link-dark rounded" asp-action="ArraySort" asp-controller="Js">Array Sort</a></li><li><a class="link-dark rounded" asp-action="BinaryArrayToDecimal" asp-controller="Js">Binary Array To Decimal</a></li><li><a class="link-dark rounded" asp-action="Callbacks" asp-controller="Js">Callbacks</a></li><li><a class="link-dark rounded" asp-action="Classes" asp-controller="Js">Classes</a></li><li><a class="link-dark rounded" asp-action="Comments" asp-controller="Js">Comments</a></li><li><a class="link-dark rounded" asp-action="CreateFileSafeNames" asp-controller="Js">Create File Safe Names</a></li><li><a class="link-dark rounded" asp-action="DataTypes" asp-controller="Js">Data Types</a></li><li><a class="link-dark rounded" asp-action="Events" asp-controller="Js">Events</a></li><li><a class="link-dark rounded" asp-action="FunctionBind" asp-controller="Js">Function Bind</a></li><li><a class="link-dark rounded" asp-action="Functions" asp-controller="Js">Functions</a></li><li><a class="link-dark rounded" asp-action="GetMonth" asp-controller="Js">Get Month</a></li><li><a class="link-dark rounded" asp-action="Json" asp-controller="Js">Json</a></li><li><a class="link-dark rounded" asp-action="Maps" asp-controller="Js">Maps</a></li><li><a class="link-dark rounded" asp-action="MathObject" asp-controller="Js">Math Object</a></li><li><a class="link-dark rounded" asp-action="MethodDefinitions" asp-controller="Js">Method Definitions</a></li><li><a class="link-dark rounded" asp-action="Numbers" asp-controller="Js">Numbers</a></li><li><a class="link-dark rounded" asp-action="Objects" asp-controller="Js">Objects</a></li><li><a class="link-dark rounded" asp-action="Operators" asp-controller="Js">Operators</a></li><li><a class="link-dark rounded" asp-action="Output" asp-controller="Js">Output</a></li><li><a class="link-dark rounded" asp-action="RandomColorCreater" asp-controller="Js">Random Color Creater</a></li><li><a class="link-dark rounded" asp-action="RegexExec" asp-controller="Js">Regex Exec</a></li><li><a class="link-dark rounded" asp-action="Replace" asp-controller="Js">Replace</a></li><li><a class="link-dark rounded" asp-action="Statements" asp-controller="Js">Statements</a></li><li><a class="link-dark rounded" asp-action="Strings" asp-controller="Js">Strings</a></li><li><a class="link-dark rounded" asp-action="Syntax" asp-controller="Js">Syntax</a></li><li><a class="link-dark rounded" asp-action="ToFixed" asp-controller="Js">To Fixed</a></li><li><a class="link-dark rounded" asp-action="Variables" asp-controller="Js">Variables</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Cpp-collapse" aria-expanded="false">                                    C++                                </button>                                <div class="collapse" id="Cpp-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Cpp">Home</a></li><li><a class="link-dark rounded" asp-action="Arrays" asp-controller="Cpp">Arrays</a></li><li><a class="link-dark rounded" asp-action="AssignmentOperators" asp-controller="Cpp">Assignment Operators</a></li><li><a class="link-dark rounded" asp-action="Booleans" asp-controller="Cpp">Booleans</a></li><li><a class="link-dark rounded" asp-action="BreakAndContinue" asp-controller="Cpp">Break And Continue</a></li><li><a class="link-dark rounded" asp-action="Comments" asp-controller="Cpp">Comments</a></li><li><a class="link-dark rounded" asp-action="ComparisonOperators" asp-controller="Cpp">Comparison Operators</a></li><li><a class="link-dark rounded" asp-action="Conditions" asp-controller="Cpp">Conditions</a></li><li><a class="link-dark rounded" asp-action="CPPversionHistory" asp-controller="Cpp">C++version History</a></li><li><a class="link-dark rounded" asp-action="DataTypes" asp-controller="Cpp">Data Types</a></li><li><a class="link-dark rounded" asp-action="ForLoop" asp-controller="Cpp">For Loop</a></li><li><a class="link-dark rounded" asp-action="Math" asp-controller="Cpp">Math</a></li><li><a class="link-dark rounded" asp-action="Operators" asp-controller="Cpp">Operators</a></li><li><a class="link-dark rounded" asp-action="Pointers" asp-controller="Cpp">Pointers</a></li><li><a class="link-dark rounded" asp-action="RandomNumbers" asp-controller="Cpp">Random Numbers</a></li><li><a class="link-dark rounded" asp-action="References" asp-controller="Cpp">References</a></li><li><a class="link-dark rounded" asp-action="Strings" asp-controller="Cpp">Strings</a></li><li><a class="link-dark rounded" asp-action="Structures" asp-controller="Cpp">Structures</a></li><li><a class="link-dark rounded" asp-action="SwitchStatement" asp-controller="Cpp">Switch Statement</a></li><li><a class="link-dark rounded" asp-action="TernaryOperator" asp-controller="Cpp">Ternary Operator</a></li><li><a class="link-dark rounded" asp-action="UserInput" asp-controller="Cpp">User Input</a></li><li><a class="link-dark rounded" asp-action="Variables" asp-controller="Cpp">Variables</a></li><li><a class="link-dark rounded" asp-action="WhileLoop" asp-controller="Cpp">While Loop</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Python-collapse" aria-expanded="false">                                    Python                                </button>                                <div class="collapse" id="Python-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Python">Home</a></li><li><a class="link-dark rounded" asp-action="abs" asp-controller="Python">Abs</a></li><li><a class="link-dark rounded" asp-action="Casting" asp-controller="Python">Casting</a></li><li><a class="link-dark rounded" asp-action="Classes" asp-controller="Python">Classes</a></li><li><a class="link-dark rounded" asp-action="Comments" asp-controller="Python">Comments</a></li><li><a class="link-dark rounded" asp-action="controllerGetter" asp-controller="Python">Controller Getter</a></li><li><a class="link-dark rounded" asp-action="DataTypes" asp-controller="Python">Data Types</a></li><li><a class="link-dark rounded" asp-action="Datetime" asp-controller="Python">Datetime</a></li><li><a class="link-dark rounded" asp-action="Functools" asp-controller="Python">Functools</a></li><li><a class="link-dark rounded" asp-action="funnyNumbers" asp-controller="Python">Funny Numbers</a></li><li><a class="link-dark rounded" asp-action="Modules" asp-controller="Python">Modules</a></li><li><a class="link-dark rounded" asp-action="Numbers" asp-controller="Python">Numbers</a></li><li><a class="link-dark rounded" asp-action="Password" asp-controller="Python">Password</a></li><li><a class="link-dark rounded" asp-action="Print" asp-controller="Python">Print</a></li><li><a class="link-dark rounded" asp-action="ReFlags" asp-controller="Python">Re Flags</a></li><li><a class="link-dark rounded" asp-action="stringFormattingTypes" asp-controller="Python">String Formatting Types</a></li><li><a class="link-dark rounded" asp-action="swapcase" asp-controller="Python">Swapcase</a></li><li><a class="link-dark rounded" asp-action="Syntax" asp-controller="Python">Syntax</a></li><li><a class="link-dark rounded" asp-action="VariableGlobals" asp-controller="Python">Variable Globals</a></li><li><a class="link-dark rounded" asp-action="VariableNames" asp-controller="Python">Variable Names</a></li><li><a class="link-dark rounded" asp-action="VariableOutput" asp-controller="Python">Variable Output</a></li><li><a class="link-dark rounded" asp-action="VariableValues" asp-controller="Python">Variable Values</a></li><li><a class="link-dark rounded" asp-action="vars" asp-controller="Python">Vars</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Css-collapse" aria-expanded="false">                                    Css                                </button>                                <div class="collapse" id="Css-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Css">Home</a></li><li><a class="link-dark rounded" asp-action="Backgrounds" asp-controller="Css">Backgrounds</a></li><li><a class="link-dark rounded" asp-action="Borders" asp-controller="Css">Borders</a></li><li><a class="link-dark rounded" asp-action="BoxModel" asp-controller="Css">Box Model</a></li><li><a class="link-dark rounded" asp-action="Colors" asp-controller="Css">Colors</a></li><li><a class="link-dark rounded" asp-action="Comments" asp-controller="Css">Comments</a></li><li><a class="link-dark rounded" asp-action="Display" asp-controller="Css">Display</a></li><li><a class="link-dark rounded" asp-action="Fonts" asp-controller="Css">Fonts</a></li><li><a class="link-dark rounded" asp-action="Gradients" asp-controller="Css">Gradients</a></li><li><a class="link-dark rounded" asp-action="HeightAndWidth" asp-controller="Css">Height And Width</a></li><li><a class="link-dark rounded" asp-action="Icons" asp-controller="Css">Icons</a></li><li><a class="link-dark rounded" asp-action="Links" asp-controller="Css">Links</a></li><li><a class="link-dark rounded" asp-action="Margins" asp-controller="Css">Margins</a></li><li><a class="link-dark rounded" asp-action="Navigation" asp-controller="Css">Navigation</a></li><li><a class="link-dark rounded" asp-action="Outline" asp-controller="Css">Outline</a></li><li><a class="link-dark rounded" asp-action="Padding" asp-controller="Css">Padding</a></li><li><a class="link-dark rounded" asp-action="Position" asp-controller="Css">Position</a></li><li><a class="link-dark rounded" asp-action="SlowUnderlineWithCss" asp-controller="Css">Slow Underline With Css</a></li><li><a class="link-dark rounded" asp-action="Text" asp-controller="Css">Text</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Html-collapse" aria-expanded="false">                                    Html                                </button>                                <div class="collapse" id="Html-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Html">Home</a></li><li><a class="link-dark rounded" asp-action="BasicExample" asp-controller="Html">Basic Example</a></li><li><a class="link-dark rounded" asp-action="ColorPicker" asp-controller="Html">Color Picker</a></li><li><a class="link-dark rounded" asp-action="Colors" asp-controller="Html">Colors</a></li><li><a class="link-dark rounded" asp-action="Comments" asp-controller="Html">Comments</a></li><li><a class="link-dark rounded" asp-action="CountryCodes" asp-controller="Html">Country Codes</a></li><li><a class="link-dark rounded" asp-action="CSS" asp-controller="Html">Css</a></li><li><a class="link-dark rounded" asp-action="FoodForm" asp-controller="Html">Food Form</a></li><li><a class="link-dark rounded" asp-action="Forms" asp-controller="Html">Forms</a></li><li><a class="link-dark rounded" asp-action="InputTypes" asp-controller="Html">Input Types</a></li><li><a class="link-dark rounded" asp-action="LanguageCodes" asp-controller="Html">Language Codes</a></li><li><a class="link-dark rounded" asp-action="Markdown" asp-controller="Html">Markdown</a></li><li><a class="link-dark rounded" asp-action="MathSymbols" asp-controller="Html">Math Symbols</a></li><li><a class="link-dark rounded" asp-action="PostFormatter" asp-controller="Html">Post Formatter</a></li><li><a class="link-dark rounded" asp-action="SemanticHtml" asp-controller="Html">Semantic Html</a></li><li><a class="link-dark rounded" asp-action="Tables" asp-controller="Html">Tables</a></li><li><a class="link-dark rounded" asp-action="Tags" asp-controller="Html">Tags</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Bash-collapse" aria-expanded="false">                                    Bash                                </button>                                <div class="collapse" id="Bash-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Bash">Home</a></li><li><a class="link-dark rounded" asp-action="AppendString" asp-controller="Bash">Append String</a></li><li><a class="link-dark rounded" asp-action="Bashrc" asp-controller="Bash">Bashrc</a></li><li><a class="link-dark rounded" asp-action="Comments" asp-controller="Bash">Comments</a></li><li><a class="link-dark rounded" asp-action="FileNames" asp-controller="Bash">File Names</a></li><li><a class="link-dark rounded" asp-action="Lowercase" asp-controller="Bash">Lowercase</a></li><li><a class="link-dark rounded" asp-action="PrintVariables" asp-controller="Bash">Print Variables</a></li><li><a class="link-dark rounded" asp-action="SplitString" asp-controller="Bash">Split String</a></li><li><a class="link-dark rounded" asp-action="StringLength" asp-controller="Bash">String Length</a></li><li><a class="link-dark rounded" asp-action="Substring" asp-controller="Bash">Substring</a></li><li><a class="link-dark rounded" asp-action="Tips" asp-controller="Bash">Tips</a></li><li><a class="link-dark rounded" asp-action="Uppercase" asp-controller="Bash">Uppercase</a></li><li><a class="link-dark rounded" asp-action="Variables" asp-controller="Bash">Variables</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Git-collapse" aria-expanded="false">                                    Git                                </button>                                <div class="collapse" id="Git-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Git">Home</a></li><li><a class="link-dark rounded" asp-action="Aliases" asp-controller="Git">Aliases</a></li><li><a class="link-dark rounded" asp-action="Branching" asp-controller="Git">Branching</a></li><li><a class="link-dark rounded" asp-action="BranchingWorkflows" asp-controller="Git">Branching Workflows</a></li><li><a class="link-dark rounded" asp-action="BranchManagement" asp-controller="Git">Branch Management</a></li><li><a class="link-dark rounded" asp-action="CommitHistory" asp-controller="Git">Commit History</a></li><li><a class="link-dark rounded" asp-action="Commits" asp-controller="Git">Commits</a></li><li><a class="link-dark rounded" asp-action="Protocols" asp-controller="Git">Protocols</a></li><li><a class="link-dark rounded" asp-action="Rebasing" asp-controller="Git">Rebasing</a></li><li><a class="link-dark rounded" asp-action="Remotes" asp-controller="Git">Remotes</a></li><li><a class="link-dark rounded" asp-action="Repositories" asp-controller="Git">Repositories</a></li><li><a class="link-dark rounded" asp-action="Tags" asp-controller="Git">Tags</a></li><li><a class="link-dark rounded" asp-action="UndoingThings" asp-controller="Git">Undoing Things</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Dotnet-collapse" aria-expanded="false">                                    .NET                                </button>                                <div class="collapse" id="Dotnet-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Dotnet">Home</a></li><li><a class="link-dark rounded" asp-action="AddController" asp-controller="Dotnet">Add Controller</a></li><li><a class="link-dark rounded" asp-action="AddModel" asp-controller="Dotnet">Add Model</a></li><li><a class="link-dark rounded" asp-action="AddViews" asp-controller="Dotnet">Add Views</a></li><li><a class="link-dark rounded" asp-action="GetStarted" asp-controller="Dotnet">Get Started</a></li><li><a class="link-dark rounded" asp-action="RandomNumber" asp-controller="Dotnet">Random Number</a></li><li><a class="link-dark rounded" asp-action="RazorPages" asp-controller="Dotnet">Razor Pages</a></li><li><a class="link-dark rounded" asp-action="WorkWithADatabase" asp-controller="Dotnet">Work With Adatabase</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Go-collapse" aria-expanded="false">                                    Go                                </button>                                <div class="collapse" id="Go-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Go">Home</a></li><li><a class="link-dark rounded" asp-action="AppendFunction" asp-controller="Go">Append Function</a></li><li><a class="link-dark rounded" asp-action="Comments" asp-controller="Go">Comments</a></li><li><a class="link-dark rounded" asp-action="Constants" asp-controller="Go">Constants</a></li><li><a class="link-dark rounded" asp-action="Functions" asp-controller="Go">Functions</a></li><li><a class="link-dark rounded" asp-action="PrintStatement" asp-controller="Go">Print Statement</a></li><li><a class="link-dark rounded" asp-action="Variables" asp-controller="Go">Variables</a></li><li><a class="link-dark rounded" asp-action="WorkingWithFiles" asp-controller="Go">Working With Files</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Sass-collapse" aria-expanded="false">                                    Sass                                </button>                                <div class="collapse" id="Sass-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Sass">Home</a></li><li><a class="link-dark rounded" asp-action="Variables" asp-controller="Sass">Variables</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#seo-collapse" aria-expanded="false">                                    seo                                </button>                                <div class="collapse" id="seo-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="seo">Home</a></li><li><a class="link-dark rounded" asp-action="HtmlTags" asp-controller="seo">Html Tags</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Challenges-collapse" aria-expanded="false">                                    Challenges                                </button>                                <div class="collapse" id="Challenges-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Challenges">Home</a></li>                                    </ul>                                </div>                            </li>
            <li class="mb-1">                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#Glossary-collapse" aria-expanded="false">                                    Glossary                                </button>                                <div class="collapse" id="Glossary-collapse">                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">                                        <li><a class="link-dark rounded" asp-action="index" asp-controller="Glossary">Home</a></li>                                    </ul>                                </div>                            </li>
            @* /End Sidebar *@
        </ul>
    </aside>
    <main>
        <h1 style="display: none;">@ViewData["title"]</h1>
        @RenderBody()
    </main>
    <aside id="rightSidebar">
        <h2>Table of Contents</h2>
    </aside>
    <footer>
        <p>&copy; 2023 alecscripts All Rights Reserved.</p>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="~/js/addH2events.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/sidebars.js"></script>
<script src="~/js/prism.js" asp-append-version="true"></script>
@*
    <li><a href="#" class="link-dark rounded">Annually</a></li>
*@
@* <script src="/js/adjustCol8.js"></script> *@

<!--
  assign @@ViewData["Controller"] for external js access
in /navlinkSelected.js
-->
<script src="/js/createNavlinks.js"></script>
<script src="/js/hideLeftside.js"></script>
<script>var viewdataName = '@ViewData["Controller"]';</script>
<script src="/js/navlinkSelected.js"></script>
<script src="/js/activateLeft.js"></script>
<script src="/js/fillRightSidebar.js"></script>
<script src="/js/assignH3H2ToHeaderClass.js"></script>
<script src="/js/createToc.js"></script>
<script src="/js/highlightRight.js"></script>
<script src="/js/leftScrollTop.js"></script>
<script src="/js/pageSearch.js"></script>
<script src="/js/hoverFooterLinks.js"></script>




@await RenderSectionAsync("Scripts", required: false)
