@* Python Casting *@

<h1 class="display-6">
    Converting Types
</h1>   
<p>
    To jump from one type to another in python,
    use the type function (<code>int(x)</code> for integer, for example). 
</p>

<h1 class="display-6 fs-4 indent-1">
    Int
</h1>  
<p>
    Use the <code>int(x)</code> function to convert a type 
    to an integer. 
    <pre><code class="lang-py">
#=======string========#
string = "123"
print( int(string) )
# 123

#=======float========#
float_ = 2.99
print( int(float_) )
# 2

#========int==========#
int_ = 2
print( int(int_) )
# 2
    </code></pre>
</p>

<h1 class="display-6 fs-4 indent-1">
    Str
</h1>  
<p>
    Use the <code>str(s)</code> function to convert a type 
    to a string. 
    <pre><code class="lang-py">
#=======string========#
string = "123"
print( str(string) )
# '123'

#=======float========#
float_ = 2.99
print( str(float_) )
# '2.99'

#========int==========#
int_ = 2
print( str(int_) )
# '2'
    </code></pre>
</p>

<h1 class="display-6 fs-4 indent-1">
    float
</h1>  
<p>
    Use the <code>float(s)</code> function to convert a type 
    to a float. 
    <pre><code class="lang-py">
#=======string========#
string = "123"
print( float(string) )
# 123.0

#=======float========#
float_ = 2.99
print( float(float_) )
# 2.99

#========int==========#
int_ = 2
print( float(int_) )
# '2.0'
    </code></pre>
</p>
