<style>
    .star::before{
        content: "✪";
        font-size: 25px;
        color: black;
        padding-left: 10px;
    }
    .star-new::before{
        content: "✪";
        font-size: 25px;
        color: limegreen;
        padding-left: 10px;
    }
    
</style>
<p>
    The <code>datetime</code> module is for formatting and extracting 
    times and dates. It comes with lots to help in the way 
    of getting the right time information. 
</p>

<h2>
    Constants
</h2>
<h3>
    datetime.<b>MINYEAR</b>
</h3>
<p class=star>
    Smallest Year number allowed (1). 
</p>

<h3>
    datetime.<b>MAXYEAR</b>
</h3>
<p class=star>
    Biggest Year number allowed (9999). 
</p>

<h3>
    datetime.<b>UTC</b>
</h3>
<p class=star-new>
    Alias for <code>datetime.timezone.utc</code>
</p>
<p class=star-new>
    Introduced in Python 3.11
</p>

