@{
    ViewData["description"] = "Numbers in Python consists of ints, floats and complex numbers.";
}
<h1 class="display-6">
    int
</h1>
<p>
    Ints, or integers, are whole numbers with no fractional (decimal) part. 
</p>
<pre><code class="lang-py">x = 5
y = 10
integer = 1000 # no fractional part
</code></pre>
<h1 class="display-6">
    float
</h1>
<p>
    Floats are numbers with fractional parts, or numbers with a decimal. 
    The decimal place floats around. 
</p>
<pre><code class="lang-py">
x = 2.22
y = 3.14
z = 898.999 # fraction part .999
</code></pre>
<h1 class="display-6">
    complex
</h1>
<p>
    Complex numbers, also known as imaginary numbers, 
    are numbers with real and imaginary parts. The imaginary part 
    is denoted with a <code>j</code>.
</p>
<pre><code class="lang-py">
x = 5 + 2j
y = 7 + 7j    # 7j is the complex/imaginary part
</code></pre>