@{
    ViewData["title"] = "Password";
}


<h1 class="display-6">
    Source Code
</h1>

<h1 class="display-6 fs-4 indent-1">
    Dealing with Punctuation
</h1>

<pre><code class="lang-py">

import os
import secrets

class Password:
    """
    Generate passwords from a list of bytes.
    
    ~~ Example:
        ]<-!*!~^\=}*|;"!\)?'
    """
    punc = [0x21, 0x22, 0x23, 0x24, 0x25, 
        0x26, 0x27, 0x28, 0x29, 0x2a, 
        0x2b, 0x2c, 0x2d, 0x2e, 0x2f, 
        0x3a, 0x3b, 0x3c, 0x3d, 0x3e, 
        0x3f, 0x40, 0x5b, 0x5c, 0x5d, 
        0x5e, 0x5f, 0x60, 0x7b, 0x7c, 
        0x7d, 0x7e]

    @@staticmethod
    def generate_random_punctuation(length=20):
        """
        Make a new list and add Password.punc in a 
        random order over <length> iterations.
        """
        new_password = []
        for i in range(length):
            new_password += [ secrets.choice(Password.punc) ]
        return "".join(map(chr,new_password))



for i in range(10):
    print("# " + Password.generate_random_punctuation())

</code></pre>