@{
    ViewData["title"] = "Password";
}

<h2>
    Password Rules
</h2>

<p>
    Passwords need to be as random as possible 
    and have as much entropy as possible (lots of 
    characters). The characters used in this 
    tutorial are:  
    <ul>
        <li>
            All Characters - <code>0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&'()*+,-./:;<=>?@@[\]^_`{|}~</code>
        </li>
        <li>
            Digits - <code>0123456789</code>
        </li>
        <li>
            Lowers - <code>abcdefghijklmnopqrstuvwxyz</code>
        </li>
        <li>
            Uppers - <code>ABCDEFGHIJKLMNOPQRSTUVWXYZ</code>
        </li>
        <li>
            Punctuation - <code>!"#$%&'()*+,-./:;<=>?@@[\]^_`{|}~</code>
        </li>
    </ul>
</p>

<p>
    The password should not contain any words or phrases, like "sprite88". 
    Hackers have rainbow tables that try thousands of words 
    to crack passwords. 
</p>
