@{
    ViewData["Title"] = "Swapcase";
}

<h1 class="display-6">
    Example
</h1>

        <p>
            Swapcase changes uppercase characters to lowercase and lowercase 
            to uppercase. 
        </p>
        <pre><code class="lang-py">
string = "abcdE"
swapped_case = string.swapcase()
print(swapped_case)
"ABCDe"


# UnkbKnUlbO ➣ uNKBkNuLBo
# alec ➣ ALEC
# Is ➣ iS
# NOt ➣ noT
# what ➣ WHAT
        </code></pre>
