
@{
    ViewData["Title"] = "python abs()";
}

<h1 class="display-6">
    Description
</h1>
<div class="container">
    <div class="container">
        <p>
            Abs stands for absolute value, which is the distance a 
            number is away from zero. 
            In other words, it is always positive 
            and just converts negative numbers to 
            their positive versions.
        </p>
        <pre><code class="lang-py">x, y = 2, -2
print( 
    abs(x), abs(y)#   <---- abs(-2) = 2
     )
# 2, 2</code></pre>
    </div>
</div>

<h1 class="display-6">
    Syntax
</h1>
<div class="container">
    <div class="container">
        
    <p><code>abs(n)</code>, where n is any number.
    If a non-number type is input, a BadOperand Error 
    is thrown.
    </p>

    <pre><code class="lang-py">
abs("a")
TypeError: bad operand type for abs(): 'str'
    </code></pre>
        
    </div>
</div>