@{
    ViewData["Title"] = "Python - Home";
}
<div class="text-center">
    <h3 class="display-4">Python Home Page</h3>
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Python" asp-action="Functions">Functions</a>
</div>
