@{
    ViewData["Title"] = "Python - Splitting Strings";
}

<div class="text-center my-5">
    <h3 class="display-4 rounded-3">Python - Splitting Strings</h3>
</div>

<div class="text-left pt-3" >
    <h6 class="display-6">
        .split()
    </h6>
    <div class="container bg-light p-5 shadow-sm mb-5">
        Python has a string splitting function that
        splits by spaces by default. It returns a list
        with each element being the result of the split.
<pre><code class="lang-py">s = "everybody wants to rule the world"
s_split = s.split()
['everybody', 'wants', 'to', 'rule', 'the', 'world']</code></pre>
    
    One can split on a custom delimeter (seperator) as well: 
<pre><code class="lang-py">s = "1 $ 2 $ 3 $ 4 $ 5 $ 6"
s.split("$")
['1 ', ' 2 ', ' 3 ', ' 4 ', ' 5 ', ' 6']
</code></pre>


    </div>
    <h6 class="display-6">
        regex
    </h6>
    <div class="container bg-light p-5 shadow-sm mb-5">
        <p>
            Python comes with the re (regex) module, and while it 
            makes things more complicated it makes the process 
            a little more intersting.
        </p>
        <pre><code class="lang-py">
import re
p = r"\w+"
# for words
txt = "" 
matches = re.findall(p, txt)
#or use 
re.split() # then use groups
        </code></pre>
        <p>
            This is more complex then suppling a delimter, but it 
            gives one more options on what to 
            do with the output.
        </p>
    </div>

    
</div>