@{
    ViewData["title"] = "String Formatting Types";
}

<h1 class="display-6">
    String Formatting Types
</h1>

<div class="container">
    <div class="container">
        <p>
        <table>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    Example/Output
                </th>
            </tr>
            <tr>
                <td>Left Align</td>
                <td>%</td>
                <td><code> ({'o:<10'}) Python is coo         l! </code></td>
            </tr>
            <tr>
                <td>Right Align</td>
                <td> <code> :> </code> </td>
                <td><code> Py         thon is cool! </code></td>
            </tr>
            <tr>
                <td>Center Align</td>
                <td>%</td>
                <td><code> Py    t     hon is cool! </code></td>
            </tr>
            <tr>
                <td>Binary</td>
                <td>%</td>
                <td><code> 102 in binary is: 1100110 </code></td>
            </tr>
            <tr>
                <td>Fixed</td>
                <td>%</td>
                <td><code> Pi is about: 3.14 </code></td>
            </tr>
            <tr>
                <td>Percent</td>
                <td>%</td>
                <td><code> 1/2 is: 50% </code></td>
            </tr>
            <tr>
                <td>Comma</td>
                <td>%</td>
                <td><code> 1,000,000 </code></td>
            </tr>
        </table>
        </p>
    </div>
</div>