
<center class="pb-5">
    <img src="~/lib/Resources/Git-Logo-1788C.svg">
</center>

<h2 class="display-6">
    What is Git?
</h2>

<p>
    Video games are fun because they have save points. Git, in a similar way, 
    is how programmers save their progress. One of the bread and butter features 
    git has to offer is branches: a way of running tests and experiments 
    on websites and applications while having a save point to go back to, called 
    the main (or master) branch. 
</p>

<h2 class="display-6">
    GitHub
</h2>
<p>
    Github is a popular website for hosting repositories: different 
    projects that have Git version control (save points). GitHub 
    can be linked with a local terminal and make it easy to push 
    changes to a project. This project can then be viewed by others 
    and added on to/changed. <a href="https://github.com/searsam1">My GitHub</a>. 
</p>