<center>
    <img alt="God and Goddess Statues" src="~/lib/Resources/justitia-ge9c60c1ef_1920.jpeg">
    <figcaption>Image by <a href="https://pixabay.com/users/pixel2013-2364555/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2638651">S. Hermann / F. Richter</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2638651">Pixabay</a></figcaption>
</center>

@{
    string[] assignmentOps = {
        "Equals (=)","PlusEquals (+=)","MinusEquals (-=)",
        "TimesEquals (*=)","DivideEquals (/=)","ModuloEquals (%=)",
        "DereferenceEquals (&=)","OREquals (|=)","MinusEquals (-=)",
        "^=", ">>=", "<<="
        
    
    };
}

<section>
    <h2>
        Assignment Operators
    </h2>
    @foreach (string op in assignmentOps)
    {
        <h3>@op</h3>
    }
</section>