
<h1>
    Comments
</h1>
<p>
    Comments are ignored by the computer and describe what the code does and why. 
    Good comments make it easier for someone else to follow the code, or the author 
    coming back to look at the code later.
</p>

<h1>
    Syntax
</h1>
<h2>
    Single-Line Comments
</h2>
<p>
    To do a single-line comment, use two forward slashes <code>//</code>.
</p>
<pre><code class="lang-cpp">std::cout << "Comment Testing!" << "\n"
// This is a single-line comment 
</code></pre>
<h2>
    Multiline Comments
</h2>
<p>
    Multi-line comments are achieved with <code>/* */</code> and can be useful for 
    documentation. 
</p>
<pre><code class="lang-cpp">/* 
This is a multline Comment!
!!!
!!!
*/
</code></pre>