<center>
    <img src="~/lib/Resources/scales-g1615dca4b_1280.jpg" alt="Black and White Justice Balance Scale">
    <figcaption>
        Image by <a href="https://pixabay.com/users/clker-free-vector-images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=310962">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=310962">Pixabay</a>
    </figcaption>
</center>