<p>
    Conditions control the flow of a program with if, else and else-if blocks 
    to determine what the program does. 
</p>

<section>
    <h2>
        The If Statement 
    </h2>
</section>

<section>
    <h2>
        The else statement 
    </h2>
</section>

<section>
    <h2>
        The else-if statement 
    </h2>
</section>