@{
    ViewData["Title"] = "C++ Version History";
}
<h1 class="display-6">
    Version List
</h1>
<p>
    <ul>
        <li>
            1998
        </li>
        <li>
            2003
            <ul>
                <li>
                     ISO/IEC 14882
                </li>
            </ul>
        </li>
        <li>
            2011
        </li>
        <li>
            2014
        </li>
        <li>
            2017
        </li>
        <li>
            2020
        </li>
    </ul>
</p>