@{
    
}
<h1 class="display-6">
    Version List
</h1>
<p>
    <ul>
        <li>
            1998 <i>(C++98)</i>
            <ul>
                <li>
                     ISO/IEC 14882:1998
                </li>
                <li>
                    
                </li>
            </ul>
        </li>
        <li>
            2003 <i>(C++03)</i>
            <ul>
                <li>
                     ISO/IEC 14882:2003
                </li>
                <li>
                     Fixed problems from C++98
                </li>
            </ul>
        </li>
        <li>
            2011 <i>(C++11)</i>
            <ul>
                <li>
                     ISO/IEC 14882:2011
                </li>
                <li>
                     Additions to core and standard library 
                </li>
            </ul>
        </li>
        <li>
            2014 <i>(C++14)</i>
            <ul>
                <li>
                     ISO/IEC 14882:2014
                </li>
                <li>
                     Mainly housekeeping for C++11
                </li>
            </ul>
        </li>
        <li>
            2017 <i>(C++17)</i>
            <ul>
                <li>
                     ISO/IEC 14882:2017
                </li>
                <li>
                     Major Changes 
                </li>
            </ul>
        </li>
        <li>
            2020 <i>(C++20)</i>
            <ul>
                <li>
                     ISO/IEC 14882:2020
                </li>
            </ul>
        </li>
    </ul>
</p>