@{
    
}


<h1 class="display-6">
    C++
</h1>

<p>
    C++ is a multi-paradigm, statically typed
    extension of the C language. Though invented
    in 1985, it still plays a major role in
    the software industry with its competitive
    speed.
</p>
<p><a style="font-size: 13px;">C++ Fibonacci Example &triangledown;</a></p>
<pre><code class="lang-cpp">@{
            string script = @"//
#include <iostream>

void fib(int n){    
    int a = 0, b = 1, c = 0;
    for (int i=0; i<n; i++) {
        c = a + b; 
        a = b; 
        b = c;
        std::cout << b << ""\n"";
        }
    }
int main(){
    fib(12);
    return 0;
}
// 1
// 2
// 3
// 5
// 8
// ...
// 144
// 233
//";
        }@script</code></pre>

<p>
    C++ uses <code>.cpp</code> files and one must compile them
    and run the <code>a.out</code> file.
    The compiler is personal choice and one has a lot of
    different options available, including
<ul>
    <li>Intel C++ Compiler</li>
    <li>clang</li>
    <li>GNU Compiler Collection</li>
</ul>
</p>

<p>
    A compiler is required to turn the script
    into machine code that can be executed
    by a computer. Though it takes time to
    compile programs, the blazing speed at
    which they run at after is fantastic.
</p>
