
<section>
    <h2>
        Math in C++
    </h2>
    <p>
        C++ comes with a lot of great math function out of the box. 
    </p>
</section>

<section>
    <h2>
        Max / Min
    </h2>
    <p>Use <code>std::min(x,y)</code> or <code>std::max(x,y)</code>
    to find the min or max of two numbers, respectively. 
    </p>
    <pre><code class="lang-cpp">
std::cout << std::max(5,7);
// 7         
    </code></pre>
</section>

<section>
    <h2>
        Cmath Header
    </h2>
    <p>
        Include the <code>&lt;cmath&gt;</code> header to gain access to 
        lots of useful math functions. Some examples listed below include the pow function, 
        the sqrt function and the round function. 
    </p>
    <pre><code class="lang-cpp">
#include &lt;cmath&gt;
int main(){
    int x = pow(2,2);
    int y = sqrt(64);
    int z = round(2.89);
    return 0; 
}
    </code></pre>
</section>

<section>
    <h2>
        Some Cmath Functions 
    </h2>
</section>

@{
    string[] funcList = {
        "abs(x)-Returns the absolute value of x",
        "acos(x)-Returns the arccosine of x",
        "asin(x)-Returns the arcsine of x",
        "atan(x)-Returns the arctangent of x",
        "cbrt(x)-Returns the cube root ∛ of x",
        "ceil(x)-Returns x rounded up to the nearest integer",
        "cos(x)-Returns the cosine of x",
        "cosh(x)-Returns the hyperbolic cosine of x",
        "exp(n)-Returns the value of eⁿ",
        "expm1(n)-Returns eⁿ˗1",
        "fabs(x)-Returns the absolute value of a floating x",
        "fdim(x, y)-Returns the positive difference between x and y",
        "floor(x)-Returns the value of x rounded down to its nearest integer",
        "hypot(x, y)-Returns sqrt(x2 + y2) without intermediate overflow or underflow",
        "fma(x, y, z)-Returns x*y + z without losing precision",
        "fmax(x, y)-Returns the highest value of a floating x and y",
        "fmin(x, y)-Returns the lowest value of a floating x and y",
        "fmod(x, y)-Returns the floating point remainder of x/y",
        "pow(x, y)-Returns the value of x to the power of y",
        "sin(x)-Returns the sine of x (x is in radians)",
        "sinh(x)-Returns the hyperbolic sine of a double value",
        "tan(x)-Returns the tangent of an angle",
        "tanh(x)-Returns the hyperbolic tangent of a double value"
        };
}

<table>
    <tr>
        <th>
            Function
        </th>
        <th>
            Description 
        </th>
    </tr>
    @foreach (string func in funcList)
    {
        <tr>
            <td>
                @func.Split("-")[0]
            </td>
            <td>
                @func.Split("-")[1]
            </td>
        </tr>   
    }
</table>

<section>
    <h2>
        Quadratic Equation Example 
    </h2>
    <pre><code class="lang-cpp">

#include &lt;cmath>
#include &lt;vector>
#include &lt;iostream>

std::vector&lt;float> quadratic(int a, int b, int c){
    
    float res1 = (-b + sqrt(pow(b,2) - 4*a*c)) / (2*a);
    float res2 = (-b - sqrt(pow(b,2) - 4*a*c)) / (2*a);
    return {res1, res2};
}

int main(){
        
    for (float res : quadratic(2,4,-9)){
        std::cout << res << "\n";
    }
    // 1.34521
    // -3.34521
}
</code></pre>
</section>