<section>
    <h1>
        Types of Variables
    </h1>
    <p>
        Variables come with different types like numbers or strings that 
        behave differently by default. 
    </p>
    <ul>
        <li>
            int 
        </li>
        <li>
            double
        </li>
        <li>
            char 
        </li>
        <li>
            string 
        </li>   
        <li>
            bool
        </li>
    </ul>
</section>