@{
    ViewData["Title"] = "HTML Home";
}

<h1 class="display-6">
    Tags
</h1>
<div class="container">
    <div class="container">
        <p>
            Tags are the essential building blocks of 
            any HTML document. They start and end with angle brackets:
            <code>&lt;a&gt;</code> and have an end tag with angle brackets, but
            with a forward slash, to indicate the end
            of the content: <code>&lt;/a&gt;</code>. Between those two 
            tags comes the text content of the tag. Inside the start tag, there
            are attributes which are variables given a value with the <code>=</code> operator.
        </p>
        <p>
            <a  asp-action="tags" asp-controller="Html">All tags</a>
        </p>
    </div>
</div>

<h1 class="display-6">
    Attributes
</h1>
<div class="container">
    <div class="container">
        <p>
            Between the start and end tags comes the text then inside the start tag, there
            are attributes which are variables given a value with the <code>=</code> operator.
        </p>
    </div>
</div>

<h1 class="display-6">
    Pages
</h1>
<div class="container">
    <div class="container">
        <p>
            <a  asp-action="tags" asp-controller="Html">All tags</a>
        </p>
    </div>
</div>