$colors: ('Black': '#ffffff', 'Navy': '#ffffff', 'DarkBlue': '#ffffff', 'MediumBlue': '#ffffff', 'Blue': '#ffffff', 'DarkGreen': '#ffffff', 'Green': '#ffffff', 'Teal': '#ffffff', 'DarkCyan': '#ffffff', 'DeepSkyBlue': '#000', 'DarkTurquoise': '#000', 'MediumSpringGreen': '#000', 'Lime': '#ffffff', 'SpringGreen': '#ffffff', 'Aqua': '#000', 'Cyan': '#000', 'MidnightBlue': '#ffffff', 'DodgerBlue': '#000', 'LightSeaGreen': '#ffffff', 'ForestGreen': '#ffffff', 'SeaGreen': '#ffffff', 'DarkSlateGray': '#ffffff', 'DarkSlateGrey': '#ffffff', 'LimeGreen': '#ffffff', 'MediumSeaGreen': '#ffffff', 'Turquoise': '#000', 'RoyalBlue': '#000', 'SteelBlue': '#ffffff', 'DarkSlateBlue': '#ffffff', 'MediumTurquoise': '#000', 'Indigo  ': '#ffffff', 'DarkOliveGreen': '#ffffff', 'CadetBlue': '#000', 'CornflowerBlue': '#000', 'RebeccaPurple': '#ffffff', 'MediumAquaMarine': '#000', 'DimGray': '#ffffff', 'DimGrey': '#ffffff', 'SlateBlue': '#000', 'OliveDrab': '#ffffff', 'SlateGray': '#ffffff', 'SlateGrey': '#ffffff', 'LightSlateGray': '#000', 'LightSlateGrey': '#000', 'MediumSlateBlue': '#000', 'LawnGreen': '#ffffff', 'Chartreuse': '#ffffff', 'Aquamarine': '#000', 'Maroon': '#ffffff', 'Purple': '#ffffff', 'Olive': '#ffffff', 'Gray': '#ffffff', 'Grey': '#ffffff', 'SkyBlue': '#000', 'LightSkyBlue': '#000', 'BlueViolet': '#000', 'DarkRed': '#ffffff', 'DarkMagenta': '#ffffff', 'SaddleBrown': '#ffffff', 'DarkSeaGreen': '#000', 'LightGreen': '#000', 'MediumPurple': '#000', 'DarkViolet': '#ffffff', 'PaleGreen': '#000', 'DarkOrchid': '#000', 'YellowGreen': '#000', 'Sienna': '#ffffff', 'Brown': '#ffffff', 'DarkGray': '#000', 'DarkGrey': '#000', 'LightBlue': '#000', 'GreenYellow': '#000', 'PaleTurquoise': '#000', 'LightSteelBlue': '#000', 'PowderBlue': '#000', 'FireBrick': '#ffffff', 'DarkGoldenRod': '#ffffff', 'MediumOrchid': '#000', 'RosyBrown': '#000', 'DarkKhaki': '#000', 'Silver': '#000', 'MediumVioletRed': '#ffffff', 'IndianRed ': '#000', 'Peru': '#000', 'Chocolate': '#ffffff', 'Tan': '#000', 'LightGray': '#000', 'LightGrey': '#000', 'Thistle': '#000', 'Orchid': '#000', 'GoldenRod': '#000', 'PaleVioletRed': '#000', 'Crimson': '#ffffff', 'Gainsboro': '#000', 'Plum': '#000', 'BurlyWood': '#000', 'LightCyan': '#000', 'Lavender': '#000', 'DarkSalmon': '#000', 'Violet': '#000', 'PaleGoldenRod': '#000', 'LightCoral': '#000', 'Khaki': '#000', 'AliceBlue': '#000', 'HoneyDew': '#000', 'Azure': '#000', 'SandyBrown': '#000', 'Wheat': '#000', 'Beige': '#000', 'WhiteSmoke': '#000', 'MintCream': '#000', 'GhostWhite': '#000', 'Salmon': '#000', 'AntiqueWhite': '#000', 'Linen': '#000', 'LightGoldenRodYellow': '#000', 'OldLace': '#000', 'Red': '#ffffff', 'Fuchsia': '#000', 'Magenta': '#000', 'DeepPink': '#000', 'OrangeRed': '#ffffff', 'Tomato': '#000', 'HotPink': '#000', 'Coral': '#000', 'DarkOrange': '#000', 'LightSalmon': '#000', 'Orange': '#000', 'LightPink': '#000', 'Pink': '#000', 'Gold': '#000', 'PeachPuff': '#000', 'NavajoWhite': '#000', 'Moccasin': '#000', 'Bisque': '#000', 'MistyRose': '#000', 'BlanchedAlmond': '#000', 'PapayaWhip': '#000', 'LavenderBlush': '#000', 'SeaShell': '#000', 'Cornsilk': '#000', 'LemonChiffon': '#000', 'FloralWhite': '#000', 'Snow': '#000', 'Yellow': '#000', 'LightYellow': '#000', 'Ivory': '#000', 'White': '#000');
$dancing-script: "'Dancing Script', cursive";

.dancing-script {
    font-family: #{$dancing-script};
    font-size: 50px;
}

@for $i from 1 through 6 {
    .text-#{$i} { font-size: #{$i * 10}px; }
  }

@each $color, $hex in $colors{
    @if $hex == "#ffffff"{
        .color-#{$color} {
            color: #{$color};
            background-color: #{$hex};
            border: 1px solid #{$color};
        }
    }
    @else if $hex == "#000"{
        .color-#{$color} {
            color: #{$color};
            background-color: black;
            border: 1px solid #{$color};
        }
    }    
}

$color: red; // Global
$background-color: black;

@if $color {
    $background-color: white;
}
.example {
    background-color: $background-color
}
// .example {
//     background-color: white;
//   }