$dancing-script: "'Dancing Script', cursive";

.dancing-script {
    font-family: #{$dancing-script};
    font-size: 50px;
}

@for $i from 1 through 6 {
    .text-#{$i} { font-size: #{$i * 10}px; }
  }


@each $controller in Bash, Python{
    
}