@{
    ViewData["description"] = "Create a New controller from the command line.";
}
<h2>
    .NET
</h2>
<p>
    .NET is a framework designed for building internet connected apps.
    The names are confusing but .NET Core is now just .NET. It offers
    a powerful way to make web apps or applications
    for windows and mac. It uses a language called razor,
    which is just html and C# and it is easy to learn.
</p>
<h2>
    Create a new controller from the command line.
</h2>
<p>
    Install the dotnet-aspnet-codegenerator tool from nuget and add it
    to your projects packages.

<pre><code class="lang-bash command-line">
# install dotnet-code-generator
dotnet tool install -g dotnet-aspnet-codegenerator

# Version Subject To Change
dotnet add package Microsoft.VisualStudio.Web.CodeGeneration.Design --version 6.0.10
</code></pre>
</p>
<p>
    To add a controller, run
<pre><code class="lang-bash command-line">
dotnet-aspnet-codegenerator -p "MyProject.csproj" controller -name "ControllerName" -outDir Controllers -namespace "My.Namespace.Controllers"</code></pre>
</p>

<p>
    <pre><code class="lang-bash command-line">
# dotnet-aspnet-codegenerator 
# -p "MyProject.csproj" 
# controller 
# -name "ControllerName" 
# -outDir Controllers
# -namespace "My.Namespace.Controllers"        
    </code></pre>
</p>