<h2>
    Directory
</h2>

<div class="container text-center border-top">
    <div id="directory">

    </div>
</div>

<script>
    
    function createDirectory(){
        let directory = document.querySelector("#directory");        
        let navbar = document.querySelector(".navbar-nav");        
        let Sidebar =  document.querySelector("#leftSidebar").querySelector("UL").querySelectorAll("li")
        let header 
        let a 
        let btn 

        for (let link of Sidebar){
            // for the headers


            if (link.querySelector("button")){
                header = document.createElement("h2")
                header.textContent = link.querySelector("button").textContent
                directory.appendChild(header)

                
            }
            else {
                a = link.cloneNode(true).querySelector("a")
                a.setAttribute("class", "btn btn-light m-1  border")
                directory.appendChild(a)

            }
        }
        
        
    }
createDirectory()
</script>

<style>
    .active {
        background-color: ;
    }
</style>
