

<div id="directory" class="container">
    Directory
</div>



<script>   
    let directory = document.querySelector("#directory"); 
    let new_btn; 
    let sideBar = document.querySelector("#leftSidebar").querySelector("UL").querySelectorAll(".link-dark")
    controller = "n"; 
    color = "secondary"
    for (let link of sideBar){
        new_contrller = link.textContent.split(" ")[0].toLowerCase()
        // to change color for each header (controller)
        if (new_contrller != controller){
            new_h = document.createElement("H2")
            new_h.style.textAlign = "center"
            new_h.style.textTransform = "capitalize"
            
            controller = new_contrller
            new_h.textContent = controller
            directory.appendChild(new_h)
            color = color == "secondary" ? "dark" : "secondary"
        }
        new_btn = document.createElement("a")
        new_btn.setAttribute('href', link.getAttribute('href'))
        new_btn.setAttribute("class", ` btn btn-outline-${color} my-2 mx-1`)
        new_btn.textContent = link.textContent != "Home" ? link.textContent.split(" ").slice(1,).join(" ") : link.textContent
        directory.appendChild(new_btn)
    }


</script>

<style>
    .active {
        background-color: ;
    }
</style>
