
<p class="text-center">
    total links: <code class="text-success fs-4" id="count"></code> 
</p>


<ul id="directoryElement">

</ul>

<style>
     #directoryElement{
        border: 2px solid black;
        border-radius: 5px;
        border-right: 10px solid black;
        background-position: top right;
        padding: 20px;

     }
     .link-dark{
        
        transition: background-color .5s ;
        
    }
    .link-dark:hover{
        transition: background-color .25s;
    }
    .link-dark:focus{
        outline: none;
    }
    

</style>
<script>
    function get_sidebar_links(){
        let ControllerCount = 0;
        let PageCount = 0;
        let leftSidebarUL = document.querySelector("#leftSidebar").querySelector("UL");
        let directoryElement = document.querySelector("#directoryElement"); 
        let new_li;


        
        for (let a of leftSidebarUL.querySelectorAll(".mb-1")){
            new_li = document.createElement("LI")
            new_li.style.listStyle = "none"
            new_li.append(a)
            directoryElement.append(new_li )
            ControllerCount ++;
            PageCount += a.querySelectorAll("li").length;

            
        }
        document.querySelector("#count").textContent += PageCount;
        document.querySelector("#count").textContent += "-" + ControllerCount;
}   

get_sidebar_links()

</script>

<script>
    let rs = document.querySelector("#rightSidebar"); 
    console.log(rs)
    rs.style.display = "none"
</script>
