@{
    Layout = "../Shared/_homeLayout.cshtml";
 }


<center class="mb-5">
    <h2 style="text-shadow: 2px 2px black;  color: white; font-size: 100px; font-family: 'UnifrakturMaguntia', cursive;">A</h2>
    
    <h2 style="font-size: 40px; font-family: 'UnifrakturMaguntia', cursive;">
        <span class=" border-bottom p-3 bg-dark text-light">Welcome To Alec Scripts</span>
    </h2>
    
</center>



<p class="p-3 bg-dark text-light text-center  rounded-3">
    Find a <a class="link-info" asp-action="Directory" asp-controller="home">Tutorial</a>
</p>


<div class="text-center">
    <a asp-controller="Java" asp-action="index" class=" btn m-2 btn-primary">
        Java
    </a>
    <a asp-controller="cpp" asp-action="index" class="btn m-2 btn-info">
        C++
    </a>
    <a asp-controller="python" asp-action="index" class="btn m-2 btn-light">
        Python
    </a>
    <a asp-controller="CSS" asp-action="index" class="btn m-2 btn-primary">
        CSS
    </a>
    <a asp-controller="Bash" asp-action="index" class="btn m-2 btn-info">
        Bash
    </a>
    <a asp-controller="HTML" asp-action="index" class="btn m-2 btn-light">
        HTML
    </a>
    <a asp-controller="js" asp-action="index" class="btn m-2 btn-primary">
        JavaScript
    </a>
    <a asp-controller="dotnet" asp-action="index" class="btn m-2 btn-info">
        .NET
    </a>
    <a asp-controller="go" asp-action="index" class="btn m-2 btn-light">
        GoLang
    </a>
    <a asp-controller="glossary" asp-action="index" class="btn m-2 btn-primary">
        Glossary
    </a>
    
</div>


