<center>
    <img alt="Pantheon Image, Black and White" src="~/lib/Resources/rome-g7da2215cf_1920.jpeg">
    <figcaption>Image by <a href="https://pixabay.com/users/leonhard_niederwimmer-1131094/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=7245470">Leonhard Niederwimmer</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=7245470">Pixabay</a></figcaption>
    @* rome-g7da2215cf_1920.jpeg *@
</center>

<h2 class="display-6">
     Welcome
</h2>

        <p>
            Welcome to <i style="" class="bg-warning text-dark p-1 fs-6 rounded ">alec-scripts</i> , home 
            of all your scripting needs. Find all the docs you'll ever need.
        </p>

<p>
    <div class="container border border-dark rounded-3 bg-light">
        <h3>
            <span style="font-family: 'UnifrakturMaguntia', cursive; font-size: 35px;">
                November 24, 2022 
            </span>
        </h3>
        
        <p>
            What does it mean to work hard as a programmer?
        </p>
        <ul>
            <li>
                Learning a new language 
            </li>
            <li>
                Creating a new language 
            </li>
            <li>
                10 pages / day -> 3,650 pages / year
            </li>
            <li>
                Regular physical exercise
            </li>
            <li>
                Break every 30 Minutes
            </li>
            <li>
                Perfecting SEO
            </li>
            <li>
                TDD : Test Driven Development - Tests first, code second
            </li>
            <li>
                Testing through real-life use
            </li>
            
        </ul>

    </div>
</p>

<p>
    <div class="container border border-dark rounded-3 bg-light">
        <h3>
            <span style="font-family: 'UnifrakturMaguntia', cursive; font-size: 35px;">
                November 21, 2022 
            </span>
        </h3>
        <br>    
        <p class="quote">Who has deceived thee so oft as thyself</p>
        <figcaption>-Poor Richard</figcaption>
        <p>
            Don't deceive people 
        </p>
    </div>
</p>

<p>
    <div class="container border border-dark rounded-3 bg-light">
        <h3>
            <span style="font-family: 'UnifrakturMaguntia', cursive; font-size: 35px;">
                November 20, 2022 
            </span>
        </h3>
        <br>    
        <p class="quote">Tongue double brings trouble</p>
        <figcaption>-Poor Richard</figcaption>
        <p>
            Don't let your words 
            overload your back 
        </p>
    </div>
</p>

<p>
    <div class="container border border-dark rounded-3 bg-light">
        <h3>
            <span style="font-family: 'UnifrakturMaguntia', cursive; font-size: 35px;">
                November 19, 2022 
            </span>
        </h3>
        <br>    
        <p class="quote">It's easier to keep holidays than commandments</p>
        <figcaption>-Poor Richard</figcaption>
        <p>
            It's easier to take days off than go in 
            on off days. 
        </p>
    </div>
</p>


<p>
    <div class="container border border-dark rounded-3 bg-light">
        <h3>
            <span style="font-family: 'UnifrakturMaguntia', cursive; font-size: 35px;">
                November 18, 2022 
            </span>
        </h3>
        <br>    
        <p class="quote">Man's understanding is dull'd by idleness  </p>
        <figcaption>-Poor Richard</figcaption>
        
        <p>
            The feeling of guilt adds up to form rust that is hard to clean. 
        </p>
        <p>
            Adding value is important to feel valuable; a sensor is built-in to 
            determine inner self-worth in every person.
        </p>
    </div>
</p>

<h2 class="display-6">
     Site Description 
</h2>


        <ul>
            <li class="fs-6">
                Tutorials
                
                    <ul>
                        <li>
                            <a asp-action=index asp-controller=python>
                                Python
                            </a>
                        </li>
                    </ul>
                
            </li>
            <s>
                <li class="fs-6 ">
                    Coding Sandbox
                </li>
            </s>
            <s>
                <li class="fs-6 ">
                    Achievements
                </li>
            </s>
        </ul>
    
<h2 class="display-6">
     Most Recent Update
</h2>
<p>
    <ul>
        <li>
            Bug Fixes
        </li>
    </ul>
</p>

<h2 class="display-6">
    Why Did I Make This Website? 
</h2>

<p>
    Coding is my prescription for happiness. 
</p>
