@{
    ViewData["Title"] = "Home";
}

<h1 class="display-6">
    Welcome
</h1>

        <p>
            Welcome to alecscripts, the home 
            of all scripting needs and documentation. One 
            can find the docs and 
            write examples to concrete the concepts 
            they learn.
        </p>

<h1 class="display-6">
    Site Description 
</h1>

        <p>
            Created By MvcAlecScripts and Alec Sears.
        </p>
        <ul>
            <li class="fs-6">
                Tutorials
                
                    <ul>
                        <li>
                            <a asp-action=index asp-controller=python>
                                Python
                            </a>
                        </li>
                    </ul>
                
            </li>
            <s>
                <li class="fs-6 ">
                    Coding Sandbox
                </li>
            </s>
            <s>
                <li class="fs-6 ">
                    Achievements
                </li>
            </s>
        </ul>
    
<h1 class="display-6">
    Most Recent Update
</h1>
<ul>
    <code>Sat Oct 29 13:28:15 MDT 2022</code>
    <li class="fs-5">
        Added Bash
    </li>
    <code>Fri Oct 28 22:59:49 MDT 2022</code>
    <li class="fs-5">
        Pushed to Azure
    </li>
    <code>Thu Oct 27 22:11:47 MDT 2022</code>
    <li class="fs-5">
        Improved the look and feel of the website by making 
        the background black.
    </li>
</ul>

