
@{
    Layout = "../Shared/_homeLayout.cshtml";
}

<style>
    .homeBody{
          min-height: 100vh;
          max-width: 768px;
    }
    .box{
          height: 400px;
          width: 200px;
    }
</style>

<center>
    <div class="homeBody text-start ">
        <a class="btn" asp-action="tables" asp-controller="html">
            <div class="bg-light shadow p-3 box text-start rounded-3">
            <span  class="text-success">#</span><span style="font-size: .9em ;">HTML</span>
            <h2 class="display-6 fs-3 shadow rounded-3 p-3">
                HTML Tables
            </h2>
            <div class="container " style="font-size: .8em;">
                Tables in HTML have rows and columns which are composed of &lt;tr> and &lt;td> tags, respectively.
            </div>
            <div class=" mt-3 container " style="font-size: .8em;">
                <center><img width=32 height=32 style="border-radius: 100%;" src="/lib/favicon-32x32.png"></center>
            </div>
        
        </div>
        </a>
        
    </div>
    
</center>