@{
    Layout = "../Shared/_homeLayout.cshtml";
}

<style>
@@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

    #codeIcon{
      animation-name: spin ;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

    
}



    .homeBody {
        min-height: 100vh;
        max-width: 768px;
    }

    .box {
        height: 400px;
        width: 200px;
        transition: background .5s ,color .5s;
        background-color: #f8f9fa;
        
    }
    .box:hover {
        background-color: black;
        color: white;
        transition: background  .5s, color .5s;
    }    
</style>


<center style="background: #fcfcfc">
    <img style="margin: 30px;width: 50vw" src="lib\Resources\brandmark-design.png" />
    <div class="col-8">
        <p class="text-center">
            <em>the process of assigning a code to something for classification or identification.</em>
        </p>
        <hr>
        <a class=" text-dark text-decoration-none" asp-controller="python" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-dark">Python</span>
            </p>
        </a>

        <a class=" text-dark text-decoration-none" asp-controller="css" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">CSS</span>
            </p>
        </a>

        <a class=" text-dark text-decoration-none" asp-controller="html" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">HTML</span>
            </p>
        </a>

        <a class=" text-dark text-decoration-none" asp-controller="java" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">Java</span>
            </p>
        </a>

        <a class=" text-dark text-decoration-none" asp-controller="git" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">Git</span>
            </p>
        </a>


    </div>



</center>


