@{
    ViewData["Title"] = "Home";
}

<center>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-prescription" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5.5 6a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 1 0V9h.293l2 2-1.147 1.146a.5.5 0 0 0 .708.708L9 11.707l1.146 1.147a.5.5 0 0 0 .708-.708L9.707 11l1.147-1.146a.5.5 0 0 0-.708-.708L9 10.293 7.695 8.987A1.5 1.5 0 0 0 7.5 6h-2ZM6 7v1h1.5a.5.5 0 0 0 0-1H6Z"/>
        <path fill-rule="evenodd" d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1V1Zm2 3h8v10.5a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5V4ZM3 3V1h10v2H3Z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-capsule" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429l4.243 4.242Z"/>
    </svg>
</center>

<h1 class="display-6">
     Welcome
</h1>

        <p>
            Welcome to <i style="" class="bg-warning text-dark p-1 fs-6 rounded ">alec-scripts</i> , home 
            of all your scripting needs. Find all the docs you'll ever need.
        </p>

<h1 class="display-6">
     Site Description 
</h1>

        <p>
            Created By MvcAlecScripts and Alec Sears.
        </p>
        <ul>
            <li class="fs-6">
                Tutorials
                
                    <ul>
                        <li>
                            <a asp-action=index asp-controller=python>
                                Python
                            </a>
                        </li>
                    </ul>
                
            </li>
            <s>
                <li class="fs-6 ">
                    Coding Sandbox
                </li>
            </s>
            <s>
                <li class="fs-6 ">
                    Achievements
                </li>
            </s>
        </ul>
    
<h1 class="display-6">
     Most Recent Update
</h1>
<ul>
    
    <li class="fs-5">
        <code>Thu Nov 3 16:10:27 MDT 2022</code>
        <ul>
            <li>
                Added Sass Content
            </li>
        </ul>
    </li>
    <code>Sun Oct 30 09:12:48 MDT 2022</code>
    <li class="fs-5">
        Added Bash content, changed display-4 format 
    </li>
    <code>Sat Oct 29 13:28:15 MDT 2022</code>
    <li class="fs-5">
        Added Bash
    </li>
    <code>Fri Oct 28 22:59:49 MDT 2022</code>
    <li class="fs-5">
        Pushed to Azure
    </li>
    <code>Thu Oct 27 22:11:47 MDT 2022</code>
    <li class="fs-5">
        Improved the look and feel of the website by making 
        the background black.
    </li>
</ul>

<h1 class="display-6">
    Why Did I Make This Website? 
</h1>

<p>
    Coding is my prescription for happiness. 
</p>
<p>
    Coding is so much fun and its easy to build new 
    things without lots of physical effort and space. I am 
    building a new table and it is a lot harder because 
    everything has to be cut exactly right. 
</p>

<p>
    Programmers have a lot of amazing tools 
    that make things easier and they are 
    all free (mostly). There is a satisfaction 
    in woodworking and precision, but it is 
    much harder to learn how to do. 
</p>

<p>
    I really wanted to make something that I could grasp the completion of. 
    Sure, this website is far from complete, but I deployed it to a live URL 
    on Azure, designed it with a nav and sidebar, used .NET to do it 
    and I that is complete for a beginner.  
</p>

<p>
    I had this idea that everything about coding is on the internet. Building software is about solving problems and creating new ones,
    not memorizing syntax. Of course, all "good" programmers need to know at least five languages or more. 
    Learning one language and only using that language will make it seem like 
    that is the only and best way to attack every problem. It's good learn new languages 
    in life, it makes you a better person. In the same way, programming in new languages
    will make you a much better programmer. 
</p>

<p>
    That's not to say it wont be hard not to jump 
    to one's natural language every time. It is a 
    habit that is almost unbreakable. Personally, 
    I know python is inefficient in terms of 
    C, but python will always be my native language. 
    At least right now, I will take a language and think 
    about how its done in python and convert it. 
</p>

<p>
    It is easier for me to take a real life problem and translate it to python 
    versus worrying about the low-level stuff and the abstract ideas 
    of real world problem solving. That is the prototype, the final product 
    is done in a more complex language like C++.  
</p>


