@{
    ViewData["Title"] = "Home";
}

<center>
    <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6994120068276129793" height="800" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
</center>

<h1 class="display-6">
     Welcome
</h1>

        <p>
            Welcome to <i style="" class="bg-warning text-dark p-1 fs-6 rounded ">alec-scripts</i> , home 
            of all your scripting needs. Find all the docs you'll ever need.
        </p>

<h1 class="display-6">
     Site Description 
</h1>

        <p>
            Created By MvcAlecScripts and Alec Sears.
        </p>
        <ul>
            <li class="fs-6">
                Tutorials
                
                    <ul>
                        <li>
                            <a asp-action=index asp-controller=python>
                                Python
                            </a>
                        </li>
                    </ul>
                
            </li>
            <s>
                <li class="fs-6 ">
                    Coding Sandbox
                </li>
            </s>
            <s>
                <li class="fs-6 ">
                    Achievements
                </li>
            </s>
        </ul>
    
<h1 class="display-6">
     Most Recent Update
</h1>
<ul>
    
    <li class="fs-5">
        <code>Thu Nov 3 16:10:27 MDT 2022</code>
        <ul>
            <li>
                Added Sass Content
            </li>
        </ul>
    </li>
    <code>Sun Oct 30 09:12:48 MDT 2022</code>
    <li class="fs-5">
        Added Bash content, changed display-4 format 
    </li>
    <code>Sat Oct 29 13:28:15 MDT 2022</code>
    <li class="fs-5">
        Added Bash
    </li>
    <code>Fri Oct 28 22:59:49 MDT 2022</code>
    <li class="fs-5">
        Pushed to Azure
    </li>
    <code>Thu Oct 27 22:11:47 MDT 2022</code>
    <li class="fs-5">
        Improved the look and feel of the website by making 
        the background black.
    </li>
</ul>

