@{
    Layout = "../Shared/_homeLayout.cshtml";
}

<style>
@@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

    #codeIcon{
      animation-name: spin ;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

    
}



    .homeBody {
        min-height: 100vh;
        max-width: 768px;
    }

    .box {
        height: 400px;
        width: 200px;
        transition: background .5s ,color .5s;
        background-color: #f8f9fa;
        
    }
    .box:hover {
        background-color: black;
        color: white;
        transition: background  .5s, color .5s;
    }    
</style>


<center>
    <h2>
        <a asp-controller="home" asp-action="directory" class="text-decoration-none link-dark border-bottom border-dark">Documentation</a> for the Standard <span class="border-bottom border-dark">Programmer</span>
    </h2>
    <h2>
        <div style="height: 100px; width: 100px; border-radius: 100%; border: 1px solid red;" id="codeIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hdmi" viewBox="0 0 16 16">
  <path d="M2.5 7a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11Z"/>
  <path d="M1 5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h.293l.707.707a1 1 0 0 0 .707.293h10.586a1 1 0 0 0 .707-.293l.707-.707H15a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H1Zm0 1h14v3h-.293a1 1 0 0 0-.707.293l-.707.707H2.707L2 9.293A1 1 0 0 0 1.293 9H1V6Z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-usb-micro" viewBox="0 0 16 16">
  <path d="M4.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-7Z"/>
  <path d="M2.707 4A1 1 0 0 0 2 4.293L.293 6A1 1 0 0 0 0 6.707V11a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V6.707A1 1 0 0 0 15.707 6L14 4.293A1 1 0 0 0 13.293 4H2.707Zm0 1h10.586L15 6.707V11H1V6.707L2.707 5Z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ethernet" viewBox="0 0 16 16">
  <path d="M14 13.5v-7a.5.5 0 0 0-.5-.5H12V4.5a.5.5 0 0 0-.5-.5h-1v-.5A.5.5 0 0 0 10 3H6a.5.5 0 0 0-.5.5V4h-1a.5.5 0 0 0-.5.5V6H2.5a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 .5-.5ZM3.75 11h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm2 0h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm1.75.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5ZM9.75 11h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5a.25.25 0 0 1 .25-.25Zm1.75.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25v-1.5Z"/>
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2ZM1 2a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2Z"/>
</svg>
        </div>

    </h2>
    <h2>
        The Standard Tutorial
    </h2>
    <div class="col-8">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bug text-danger" viewBox="0 0 16 16">
                <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
            </svg>
            <h3>
                Coding
            </h3>
            <p class="text-center">
                <em>the process of assigning a code to something for classification or identification.</em>
            </p>
        <hr>
        <a class=" text-dark text-decoration-none" asp-controller="python" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-dark">Python</span>
            </p>
        </a>
        
        <a class=" text-dark text-decoration-none" asp-controller="css" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">CSS</span>
            </p>
        </a>

        <a class=" text-dark text-decoration-none" asp-controller="html" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">HTML</span>
            </p>
        </a>

        <a class=" text-dark text-decoration-none" asp-controller="java" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">Java</span>
            </p>
        </a>

        <a class=" text-dark text-decoration-none" asp-controller="git" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">Git</span>
            </p>
        </a>
        
    
    </div>
    
    
    
</center>


