<center>
    <img alt="Pantheon Image, Black and White" src="~/lib/Resources/rome-g7da2215cf_1920.jpeg">
    <figcaption>Image by <a href="https://pixabay.com/users/leonhard_niederwimmer-1131094/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=7245470">Leonhard Niederwimmer</a> from <a href="https://pixabay.com//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=7245470">Pixabay</a></figcaption>
    @* rome-g7da2215cf_1920.jpeg *@
</center>

<h2 class="display-6">
     Welcome
</h2>

        <p>
            Welcome to <i style="" class="bg-warning text-dark p-1 fs-6 rounded ">alec-scripts</i> , home 
            of all your scripting needs. Find all the docs you'll ever need.
        </p>


<p id="currentCommit" class="text-light">
    <script>
        let commitHash = "c5c2e0f46cdb5928aeec0bad4719007498b7292b".slice(0,7);
        document.querySelector("#currentCommit")
        .textContent = "Current Commit: " + commitHash;
    </script>
</p>

<h2 class="display-6">
     Site Description 
</h2>

        <p>
            Created By MvcAlecScripts and Alec Sears.
        </p>
        <ul>
            <li class="fs-6">
                Tutorials
                
                    <ul>
                        <li>
                            <a asp-action=index asp-controller=python>
                                Python
                            </a>
                        </li>
                    </ul>
                
            </li>
            <s>
                <li class="fs-6 ">
                    Coding Sandbox
                </li>
            </s>
            <s>
                <li class="fs-6 ">
                    Achievements
                </li>
            </s>
        </ul>
    
<h2 class="display-6">
     Most Recent Update
</h2>
<p>
    <ul>
        <li>
            Bug Fixes
        </li>
    </ul>
</p>

<h2 class="display-6">
    Why Did I Make This Website? 
</h2>

<p>
    Coding is my prescription for happiness. 
</p>
<p>
    Coding is so much fun and its easy to build new 
    things without lots of physical effort and space. I am 
    building a new table and it is a lot harder because 
    everything has to be cut exactly right. 
</p>

<p>
    Programmers have a lot of amazing tools 
    that make things easier and they are 
    all free (mostly). There is a satisfaction 
    in woodworking and precision, but it is 
    much harder to learn how to do. 
</p>

<p>
    I really wanted to make something that I could grasp the completion of. 
    Sure, this website is far from complete, but I deployed it to a live URL 
    on Azure, designed it with a nav and sidebar, used .NET to do it 
    and I that is complete for a beginner.  
</p>

<p>
    I had this idea that everything about coding is on the internet. Building software is about solving problems and creating new ones,
    not memorizing syntax. Of course, all "good" programmers need to know at least five languages or more. 
    Learning one language and only using that language will make it seem like 
    that is the only and best way to attack every problem. It's good learn new languages 
    in life, it makes you a better person. In the same way, programming in new languages
    will make you a much better programmer. 
</p>

<p>
    That's not to say it wont be hard not to jump 
    to one's natural language every time. It is a 
    habit that is almost unbreakable. Personally, 
    I know python is inefficient in terms of 
    C, but python will always be my native language. 
    At least right now, I will take a language and think 
    about how its done in python and convert it. 
</p>

<p>
    It is easier for me to take a real life problem and translate it to python 
    versus worrying about the low-level stuff and the abstract ideas 
    of real world problem solving. That is the prototype, the final product 
    is done in a more complex language like C++.  
</p>


