@{
    Layout = "../Shared/new_general_layout.cshtml";

    string[] basicTerminalCommands = @"pwd-Print Working Directory
ls-Display directory contents
cd-Change Directory
mkdir-Make Directory
touch-Make New File".Split("\n");
}



<style>
    @@keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    #codeIcon {
        animation-name: spin;
        animation-duration: 50s;
        background-color: crimson;
        border-radius: 100%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }



    .homeBody {
        min-height: 100vh;
        max-width: 768px;
    }

    .box {
        height: 400px;
        width: 200px;
        transition: background .5s, color .5s;
        background-color: #f8f9fa;

    }

    .box:hover {
        background-color: black;
        color: white;
        transition: background .5s, color .5s;
    }
</style>


<center style="background: #fcfcfc">
    <img style="margin: 30px;width: 300px" src="lib\Resources\brandmark-design.png" />
    <div>


        <p class="text-center">
            <em>the process of assigning a code to something for classification or identification.</em>
        </p>
        <hr>

        <h2>
            Computers and coding
        </h2>

        <br>
        <div class="text-center">
            <p>
                The nice part about coding is the ability
                for anyone with a computer to
                become a software engineer.
            </p>

        <a class=" text-dark text-decoration-none" asp-controller="css" asp-action="index">
            <p class=" text-dark text-center" style="letter-spacing: .2rem; font-size: 25px; font-family: 'Orbitron', sans-serif;">
                <span class="border-bottom border-success">CSS</span>
            <p>
                Woodworking, on the other hand, is a hard profession to get into
                because big tools are needed to make big money.
                These tools are harder to maintain because they are physically bigger,
                require more complex mantinence, and are physically dangerous.
            </p>
            <p>
                The tablesaw is an imperative tool to have in the workshop. It
                is expensive, messy, dangerous. That being said, it
                makes the job of cutting a lot easier and less physically
                demanding. Compare this to computers that only require
                a power source and an internet connection.
            </p>

            <div style="display: inline-block; height: 50px; width: 50px; background: black; border-radius: 100%"></div>
            <div style="display: inline-block; height: 50px; width: 50px; background: crimson; border-radius: 100%">
            </div>
            <h2>
                Coding Languages
            </h2>
            <p>
                Coding is done in languages that computers can translate into machine-readable
                code. Some of the more recent languages are <code>python</code>, <code>javaScript</code>,
                <code>java</code>, and more.
            </p>
            <p>
                For example, to output "hello world" in the python coding 
                language, use the following code:
            </p>
            <pre><code class="lang-python">print("hello world")
# hello world</code></pre>

            <h2>
                The Terminal
            </h2>
            <p>
                The terminal is textbox that gets commands from a user 
                to do things on a computer, like make new files, folders, etc..
            </p>
            <p>
                Getting used to the terminal is an important stepping stone to 
                becoming a developer. 
            </p>

        </a>


    </div>




            <p>
                To open a new terminal window on mac, press command + space and type terminal 
                and a little black box should show up. 
            </p>
            <h2>
                Basic commands
            </h2>
            <ul class="text-start">
                @foreach (string command in basicTerminalCommands)
                {   
                    <li class="pt-2" style="list-style: none;">
                        <code class="lang-bash">@command.Split("-")[0]</code>
                        <em class="text-muted">@command.Split("-")[1]</em>
                        
                    </li>
                }
            </ul>
        </div>


</center>


