@{
    Layout = "../Shared/_homeLayout.cshtml";
}

<style>
@@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

    #codeIcon{
      animation-name: spin ;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

    
}



    .homeBody {
        min-height: 100vh;
        max-width: 768px;
    }

    .box {
        height: 400px;
        width: 200px;
        transition: background .5s ,color .5s;
        background-color: #f8f9fa;
        
    }
    .box:hover {
        background-color: black;
        color: white;
        transition: background  .5s, color .5s;
    }    
</style>


<center>
    <h2>
        <a asp-controller="home" asp-action="directory" class="text-decoration-none link-dark border-bottom border-dark">Documentation</a> for the Standard <span class="border-bottom border-dark">Programmer</span>
    </h2>
    <h2>
        <svg id="codeIcon" xmlns="http://www.w3.org/2000/svg"
         width="100"
          height="100"
           fill="currentColor"
            class="bi bi-globe-americas"
             viewBox="0 0 32 32">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
        </svg>
    </h2>
    <h2>
        The Standard Tutorial
    </h2>
    <div class="col-8">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bug text-danger" viewBox="0 0 16 16">
                <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
            </svg>
            <h3>
                Coding
            </h3>
            <p class="text-center">
                <em>the process of assigning a code to something for classification or identification.</em>
            </p>
        <hr>
        <a class=" text-dark text-decoration-none" asp-controller="python" asp-action="index">
            <h3>
                Learn <span class="text-danger"><i>python</i></span>
            </h3>
            <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/files/python-logo-only.svg">
        
        </a>
    
    </div>
    
    
    
</center>


