
@{
    Layout = "../Shared/_homeLayout.cshtml";
}

<style>

h2:not(#logo)::after{ 
    content: "";
    color: rgb(255,0,0,.55);
}

</style>
<center class="mb-5">
    <h2 class="border-warning border-bottom text-dark display-3">
        Alec Scripts
    </h2>
    
</center>
<div class="container" style="max-width: 896px;">
    <div  class="text-secondary p-3 m-3 rounded-3">
        <p style="" class="display-6 text-center">
        The <span class="text-dark">Supreme</span> Art <span class="text-dark">of</span> Coding
        </p>
    </div>
</div>
<div class="container" style="max-width: 896px;">
    <div  class="text-secondary p-3 m-3 rounded-3">
        <p style="" class="display-6 text-center">
        <a asp-action="Tutorials" asp-controller="Home" class="text-dark text-decoration-none border-warning border-bottom"> ⧫ Tutorials </a>
        </p>
    </div>
</div>

<div class="container" style="max-width: 896px;">
    <div  class="text-secondary p-3 m-3 rounded-3">
        <p style="" class="display-6 text-center">
        <a href="https://github.com/searsam1/alecscripts" class="text-dark text-decoration-none border-warning border-bottom"> ⧫ Repository </a>
        </p>
    </div>
</div>

<div class="container" style="max-width: 896px;">
    <div  class="text-secondary p-3 m-3 rounded-3">
        <p style="" class="display-6 text-center">
        <a asp-controller="home" asp-action="AboutThisWebsite" class="text-dark text-decoration-none border-warning border-bottom"> ⧫ About </a>
        </p>
    </div>
</div>
