@{
    
}


<h1 class="display-6">
    1a.Warranty
</h1>

<p>
    None of the code found on this website is responsible 
    for any damages that may arise when 
    executing code found on <i>alecscripts.com</i>&trade;. Neither 
    the limited partners, nor any connected enterprises are
    liable for the consequences that may arise from 
    following/reading a tutorial. There is NO Warranty 
    on alecscripts.com&trade;.
</p>


<h1 class="display-6">
    1b.License
</h1>
<p>
    All code and content found under this website 
    is available to the public under the GNU GPLv3 
    license.
</p>