
@{
    Layout = "../Shared/_homeLayout.cshtml";
}

<center class="mb-5">
    <h2 class="border-warning border-bottom text-dark display-3">
        Tutorials
    </h2>
    
</center>
<div class="container" style="max-width: 896px;">
    <div  class="text-secondary p-3 m-3 rounded-3">
        <p style="" class="display-6 text-center">
        Find a coding tutorial or documentation
        </p>
    </div>
</div>
<div class="container" style="max-width: 896px;">
    <div  class="text-secondary p-3 m-3 rounded-3">
        <p style="" class="display-6 text-center">
        <a asp-action="Directory" asp-controller="Home" class="text-dark text-decoration-none border-warning border-bottom"> ⧫ Listed by Language </a>
        </p>
    </div>
</div>
<style>
    .btn-toggle::before {
    width: 1.5em;
    line-height: 0;
    content:"›";
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  
  }
  #tutorials li:active{
    color: black;
    background-color: inherit;
  }
 
</style>

@* a09ba98393d12f113dd9dc8a450223abb7f17608fb65ad8866eda2108df61f67 *@
<table class=" table table-hover table-striped table-dark">
      <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Js" asp-action="Index">
        Js
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="GetMonth"> GetMonth  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="BinaryArrayToDecimal"> BinaryArrayToDecimal  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="ToFixed"> ToFixed  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Json"> Json  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="RandomColorCreater"> RandomColorCreater  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="AlternateTableRows"> AlternateTableRows  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Classes"> Classes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="MethodDefinitions"> MethodDefinitions  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="CreateFileSafeNames"> CreateFileSafeNames  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Replace"> Replace  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="RegexExec"> RegexExec  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="ArraySort"> ArraySort  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Output"> Output  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Statements"> Statements  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Syntax"> Syntax  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Comments"> Comments  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Variables"> Variables  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Arrays"> Arrays  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="ArrayReference"> ArrayReference  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Operators"> Operators  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="DataTypes"> DataTypes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Functions"> Functions  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Objects"> Objects  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Events"> Events  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Strings"> Strings  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Numbers"> Numbers  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="Maps"> Maps  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Js" asp-action="MathObject"> MathObject  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Cpp" asp-action="Index">
        Cpp
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="CPPversionHistory"> CPPversionHistory  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Comments"> Comments  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Variables"> Variables  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="UserInput"> UserInput  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="DataTypes"> DataTypes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Operators"> Operators  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="AssignmentOperators"> AssignmentOperators  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="ComparisonOperators"> ComparisonOperators  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Strings"> Strings  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Math"> Math  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Booleans"> Booleans  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Conditions"> Conditions  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="TernaryOperator"> TernaryOperator  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="SwitchStatement"> SwitchStatement  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="WhileLoop"> WhileLoop  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="ForLoop"> ForLoop  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="BreakAndContinue"> BreakAndContinue  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Arrays"> Arrays  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Structures"> Structures  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="References"> References  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="Pointers"> Pointers  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Cpp" asp-action="RandomNumbers"> RandomNumbers  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Python" asp-action="Index">
        Python
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Password"> Password  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="swapcase"> swapcase  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="vars"> vars  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="abs"> abs  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="funnyNumbers"> funnyNumbers  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="stringFormattingTypes"> stringFormattingTypes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="controllerGetter"> controllerGetter  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Comments"> Comments  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Syntax"> Syntax  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="VariableNames"> VariableNames  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="VariableValues"> VariableValues  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="VariableOutput"> VariableOutput  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="VariableGlobals"> VariableGlobals  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="DataTypes"> DataTypes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Numbers"> Numbers  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Modules"> Modules  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="ReFlags"> ReFlags  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Casting"> Casting  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Classes"> Classes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Print"> Print  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Datetime"> Datetime  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Python" asp-action="Functools"> Functools  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Git" asp-action="Index">
        Git
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Repositories"> Repositories  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Branching"> Branching  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Commits"> Commits  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="CommitHistory"> CommitHistory  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="UndoingThings"> UndoingThings  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Remotes"> Remotes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Tags"> Tags  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Aliases"> Aliases  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="BranchManagement"> BranchManagement  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="BranchingWorkflows"> BranchingWorkflows  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Rebasing"> Rebasing  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Git" asp-action="Protocols"> Protocols  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="v2" asp-action="Index">
        v2
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="v2" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Go" asp-action="Index">
        Go
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Go" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Go" asp-action="PrintStatement"> PrintStatement  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Home" asp-action="Index">
        Home
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Home" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Home" asp-action="Privacy"> Privacy  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Home" asp-action="Directory"> Directory  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Home" asp-action="AboutThisWebsite"> AboutThisWebsite  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Home" asp-action="Tutorials"> Tutorials  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Glossary" asp-action="Index">
        Glossary
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Glossary" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Bash" asp-action="Index">
        Bash
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="Variables"> Variables  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="PrintVariables"> PrintVariables  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="Bashrc"> Bashrc  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="Comments"> Comments  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="Lowercase"> Lowercase  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="Uppercase"> Uppercase  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="StringLength"> StringLength  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="SplitString"> SplitString  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="Substring"> Substring  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="AppendString"> AppendString  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="FileNames"> FileNames  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Bash" asp-action="Tips"> Tips  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Css" asp-action="Index">
        Css
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="SlowUnderlineWithCss"> SlowUnderlineWithCss  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Gradients"> Gradients  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Colors"> Colors  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Comments"> Comments  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Backgrounds"> Backgrounds  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Borders"> Borders  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Margins"> Margins  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Padding"> Padding  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="HeightAndWidth"> HeightAndWidth  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="BoxModel"> BoxModel  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Outline"> Outline  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Text"> Text  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Fonts"> Fonts  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Icons"> Icons  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Css" asp-action="Links"> Links  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Html" asp-action="Index">
        Html
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="Tags"> Tags  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="Colors"> Colors  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="BasicExample"> BasicExample  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="Comments"> Comments  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="CSS"> CSS  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="ColorPicker"> ColorPicker  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="MathSymbols"> MathSymbols  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="Forms"> Forms  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="InputTypes"> InputTypes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="CountryCodes"> CountryCodes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="LanguageCodes"> LanguageCodes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="FoodForm"> FoodForm  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="Markdown"> Markdown  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Html" asp-action="PostFormatter"> PostFormatter  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Dotnet" asp-action="Index">
        Dotnet
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Dotnet" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Dotnet" asp-action="RandomNumber"> RandomNumber  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Dotnet" asp-action="RazorPages"> RazorPages  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Dotnet" asp-action="GetStarted"> GetStarted  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Dotnet" asp-action="AddController"> AddController  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Dotnet" asp-action="AddViews"> AddViews  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Dotnet" asp-action="AddModel"> AddModel  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Dotnet" asp-action="WorkWithADatabase"> WorkWithADatabase  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Java" asp-action="Index">
        Java
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Comments"> Comments  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Variables"> Variables  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Math"> Math  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="DataTypes"> DataTypes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Operators"> Operators  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Arrays"> Arrays  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Strings"> Strings  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="ControlFlow"> ControlFlow  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Functions"> Functions  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Packages"> Packages  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Io"> Io  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Output"> Output  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="TypeCasting"> TypeCasting  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="WhileLoops"> WhileLoops  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="ForLoops"> ForLoops  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="SwitchStatements"> SwitchStatements  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Classes"> Classes  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Modifiers"> Modifiers  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Encapsulation"> Encapsulation  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Inheritance"> Inheritance  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Polymorphism"> Polymorphism  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="InnerClasses"> InnerClasses  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Abstraction"> Abstraction  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Enums"> Enums  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="UserInput"> UserInput  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="DateAndTime"> DateAndTime  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Arraylist"> Arraylist  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="WrapperClasses"> WrapperClasses  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="LinkedList"> LinkedList  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="HashMaps"> HashMaps  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="HashSet"> HashSet  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Iterators"> Iterators  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Exceptions"> Exceptions  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="RegularExpressions"> RegularExpressions  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="Threads"> Threads  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="LambdaExpressions"> LambdaExpressions  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Java" asp-action="FibonacciSequence"> FibonacciSequence  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Challenges" asp-action="Index">
        Challenges
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Challenges" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="Sass" asp-action="Index">
        Sass
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Sass" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="Sass" asp-action="Variables"> Variables  </a> </td>
  </tr>
  <tr style="top: 40px;" class="sticky-top text-center table-light">
    <td>
      <a class="link-dark text-decoration-none" asp-controller="seo" asp-action="Index">
        seo
      </a>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="seo" asp-action="Index"> Index  </a> </td>
  </tr>
  <tr>
      <td> <a class="link-light text-decoration-none" asp-controller="seo" asp-action="HtmlTags"> HtmlTags  </a> </td>
  </tr>
</table>
    