
<h2>
    Background Colors
</h2>
<p>
    Possible color values can be defined by:
    <ul>
        <li>
            name (like <code>red</code>)
        </li>
        <li>
            hex <code>#FF0000</code>
        </li>
        <li>
            rgb value <code>rgb(255,0,0)</code>
        </li>
    </ul><p>
        Use one of these values with background-color to change the 
    background color of an element.     
    </p>
<pre><code class="lang-css">p {
    background-color: red; /* <-- using name */
}

p {
    background-color: rgb(255, 0, 0); /* <-- using rgb */
}

p {
    background-color: #ff0000; /* <-- using hex value */
}
</code></pre>
</p>

<h3>
    transparent background  colors
</h3>
<p>
    Along with changing <code>background-color</code>, <code>opacity</code> can also be 
    modified to change the background transparency. 
</p>
<pre><code class="lang-css">p {
    background-color: #ff0000; 
    opacity: 60%; /* <-- change transparency */
    }
</code></pre>

<p style="
    background-color: #ff0000; 
    opacity: 60%;
    margin-left: 3%;
    height: 200px;
    ">
    opacity: 60%
</p>

<h3>
    rgba and transparency
</h3>
<p>
    Another way to make backgrounds transparent is to use 
    <code>rgba()</code>, with the last value being a decimal 
    between 0 and 1. Lower values are more transparent.
</p>


<pre><code class="lang-css">p {
    background-color: rgba(255,0,0,.6); 
    }
</code></pre>
<p style="
    background-color: rgba(255,0,0,.6); 
    margin-left: 3%;
    height: 200px;
    ">
    opacity: 60%
</p>
<p class="styleBox">
</p>
<pre><code class="lang-css">
    p {background: 
        linear-gradient(
            45deg, 
            rgb(255,0,0, .1) 0% 10%, 
            ...
            rgb(255,0,0, 1) 90% 100%
        )}
</code></pre>

<style>
    .styleBox {
        height: 200px; margin-left: 3%; background: 
        linear-gradient(
            45deg, 
            rgb(255,0,0, .1) 0% 10%, 
            rgb(255,0,0, .2) 10% 20%,
            rgb(255,0,0, .3) 20% 30%,
            rgb(255,0,0, .4) 30% 40%,
            rgb(255,0,0, .5) 40% 50%,
            rgb(255,0,0, .6) 50% 60%,
            rgb(255,0,0, .7) 60% 70%,
            rgb(255,0,0, .8) 70% 80%,
            rgb(255,0,0, .9) 80% 90%,
            rgb(255,0,0, 1) 90% 100%
        );
        
        }

    .styleBox:hover{
        background: 
        linear-gradient(
            40deg, 
            rgb(255,0,0, .1) 0% 10%, 
            rgb(255,0,0, .2) 10% 20%,
            rgb(255,0,0, .3) 20% 30%,
            rgb(255,0,0, .4) 30% 40%,
            rgb(255,0,0, .5) 40% 50%,
            rgb(255,0,0, .6) 50% 60%,
            rgb(255,0,0, .7) 60% 70%,
            rgb(255,0,0, .8) 70% 80%,
            rgb(255,0,0, .9) 80% 90%,
            rgb(255,0,0, 1) 90% 100%
        );
    }
</style>

<h2>
    Background-image
</h2>
<p>
    The background-image property names an image to use as a background instead of a color.
</p>
<p>
    Something to note: the image will repeat itself until the space is full by default. To give the path of 
    the background-image, use <code>url(**path)</code>. 
</p>
<pre><code class="lang-css">body {
    background-image: url("python-logo-only.svg");
    }
</code></pre>
<h3>
    Python Logo Example
</h3>
<div class="shadow-sm rounded-3" style="width: 46.55%; background-repeat: repeat-x; border: 1px solid rgb(1,1,1,.1);  height: 200px; margin-left: 3%; background-image: url('/lib/Resources/python-logo-only.svg');">
    <div style="position: relative; bottom: -80%">
        <center>
            Python Logo Example
        </center>
    </div>
</div>

<h3>
    Rome Example
</h3>
<div class="shadow-sm rounded-3" style="background-position: right bottom; width: 46.55%; background-repeat: repeat-x; border: 1px solid rgb(1,1,1,.1);  height: 200px; margin-left: 3%; 
background-image: url('/lib/Resources/rome-g7da2215cf_1920.jpeg');">
    <div style="position: relative; left: 10%; bottom: -80%; color: yellow;">
      
            <span class="mag">
                Rome Example
            </span>
      
    </div>
</div>
