<h2>
    Syntax
</h2>
<p>
    Comments help describe why and what the code does: it is for the human to read 
    and not the computer. As such, the compiler will ignore them.
</p>
<p>
    Comments start with <code>/*</code> and end with <code>*/</code>. 
</p>
<pre><code class="lang-css">
/* Change span color to pink */
span {
  color: pink;
}    
</code></pre>

<pre><code class="lang-css">
/* This is a 
multiline
comment 
 */
</code></pre>