<p>
    Elements in HTML have a display property that can take 
    on one of the following values: 
</p>
<ul>
    <li>
        <code>inline</code>
    </li>
    <li>
        <code>block</code>
    </li>
    <li>
        <code>inline-block</code>
    </li>
</ul>