
<p>
    The display property in CSS controls if 
    elements can live next to it horizontally. 
</p>

<h2>Display Values</h2>
<p>
    Elements in HTML have a display property that can take 
    on one of the following values: 
</p>
<ul>
    <li>
        <code>inline</code>
    </li>
    <li>
        <code>block</code>
    </li>
    <li>
        <code>inline-block</code>
    </li>
</ul>

<h3>Inline</h3>
<p>Tags like &lt;em&gt; will have an inline box around the text to make it italic. 
    Other elements that are not normally inline can be made inline 
    with the display property.      
</p> 

<pre><code class="lang-css">h1 {
  display: inline;
}</code></pre>

<p>
    Inline elements can have elements next to them horizontally. For example, having a bold element 
    next to an italic element.  
</p>
<p>
    <i>italic</i> <b>bold</b>
</p>

<h3>
    Block
</h3>
<p>
    Block elements have no elements to the left or right. All headings 
    are block elements along with <code>&lt;p&gt;</code>, <code>&lt;div&gt;</code>, and <code>&lt;footer&gt;</code> elements. 
</p>
<pre><code class="lang-css">i {
  display: block;
}</code></pre>

<i style="display: block;">
    Block
</i>
<i style="display: block;">
    Block
</i>
<b>
    Inline
</b>
<b>
    Inline
</b>
<hr>
<p>
    Notice how the block element takes up the whole line, while the 
    inline elements line up next to each other. 
</p>

<h3>
    Inline-block
</h3>
<p>
    Normally, inline elements cannot have height and width properties. Inline blocks 
    can be next to each other but also have height and width properties, combing inline and block 
    displays. 
</p>
<pre><code class="lang-css">.box {
  display: inline-block;
}</code></pre>
<div style="display: inline-block; width: 100px; height: 200px; background: lightblue;">
        box
</div>
<div style="display: inline-block; background: orange; height: 133px; width: 150px;">
        box
</div>
<pre><code class="lang-css">light-blue-box 
{
    display: inline-block;
    background: orange;
    height: 133px;
    width: 150px; 
}
</code></pre>
<pre><code class="lang-css">orange-box 
    {
        display: inline-block; 
        width: 100px; 
        height: 200px;
        background: lightblue;
    }
</code></pre>

<p>
    The blue box and orange box are inline elements that have different heights and widths. 
</p>

<h2>
    Floating elements
</h2>
<p>
    Elements can be "floated" left or right: the float property pushes the element 
    the maximum amount to the <span class="border-bottom border-success">left</span> or <span class="border-bottom border-danger">right</span> . 
</p>
<div class="border border-dark" style="width: 50%;">
    <span style="float: left;" class="text-success fs-2">←⚛︎</span>
    <span style="float: right;" class="text-danger fs-2">⚛︎→</span>
</div>
<br>
<br>
<pre><code class="lang-css">f-left {
        float: left;
    }
</code></pre>
<pre><code class="lang-css">f-right {
        float: right;
    }
</code></pre>

