
<p>
    The display property in CSS controls if 
    elements can live next to it horizontally. 
</p>

<h2>Display Values</h2>
<p>
    Elements in HTML have a display property that can take 
    on one of the following values: 
</p>
<ul>
    <li>
        <code>inline</code>
    </li>
    <li>
        <code>block</code>
    </li>
    <li>
        <code>inline-block</code>
    </li>
</ul>

<h3>Inline</h3>
<p>Tags like &lt;em&gt; will have an inline box around the text to make it italic. 
    Other elements that are not normally inline can be made inline 
    with the display property.      
</p> 

<pre><code class="lang-css">h1 {
  display: inline;
}</code></pre>

