
<h2 class="display-6">
    What is CSS?
</h2>

<p>
    Cascading style sheets, or CSS, is a way to style 
    html websites with little effort. Css can be referenced 
    from an external file, called a stylesheet, that is accessed by the 
    link tag. The other ways are inline, which uses the style attribute, 
    and internal, which uses the style tag. 
</p>
@{
    string example3 = @"<!-- Index.html -->
<link rel=""stylesheet"" href=""stylesheet.css"">";}
<h3>
    External Example
</h3>
<p>

<pre><code class="lang-css">/*  stylesheet.css  */
p {
    color: "red";
}
</code></pre>
<pre><code class="lang-html">@example3</code></pre>

</p>

<h3>
    Internal Example
</h3>
@{
        string example2 = @"<style> 
    p { 
        color: ""red""
    } 
</style>";
    }
<pre><code class="lang-html">@example2</code></pre>

<h3>
    Inline Example
</h3>
<p>
    @{
        string example = @"<p style=""color: red""> This is inline styling </p>";
    }
    <pre><code class="lang-html">@example</code></pre>
</p>

<h2 class="display-6">
    Basic Syntax 
</h2>

<p>
    Css has a nice syntax that uses the tag name followed by curly brackets <code>{}</code>. 
    The actual styling elements are separated by semicolons and the key-value pairs are 
    separated by colons. 
    <pre><code class="lang-css">p {
    color: red;
}</code></pre>
</p>


<p style="color: red">
    Now the text color of &lt;p&gt; is red. 
</p>

<h3>
    Classes
</h3>
<p>
    Use dot <code>.</code> notation before the class name to 
    access a class. 
</p>  
<pre><code class="lang-css">.column {
    max-width: 20%;
} 
</code></pre>

<h3>IDs</h3>
<p>
    Use a hashtag <code>#</code> before the element name to access an element by ID. 
</p>  
<pre><code class="lang-css">
#tableOfContents {
    color: red;
} 
</code></pre>
