
<h2 class="display-6">
    What is CSS?
</h2>

<p>
    <strong>Cascading style sheets</strong>, or <strong>CSS</strong>, is a way to style 
    html websites with little effort. Css can be referenced 
    from an <strong>external</strong> file, called a stylesheet, that is accessed by the 
    link tag. The other ways are inline, which uses the style attribute, 
    and internal, which uses the style tag. 
</p>
<p>
    The most common way to use CSS is through external <b>stylesheets</b>. It 
    takes selectors and styles them according to the declaration. Inside the declaration
        there is the property and then the value. 
</p>
<p>
    <h3>
        Rulesets (Stylesheet Syntax):
    </h3> 
    <ul>
        <li>
            Selectors
            <pre data-line="1" class="lang-css"><code>p {
    color: blue;
}</code></pre>
        </li>
        <li>
            Declaration Blocks
            <pre data-line="1-3" class="lang-css"><code><span>p</span> {
    color: blue;
}</code></pre>
        </li>
        <li>
            Declarations
            <pre data-line="2" class="lang-css"><code><span>p</span> {
     color: blue; 
}</code></pre>
        </li>
        <li>
            Properties
        </li>
        <pre data-line="2" class="lang-css"><code><span>p</span> {
     /* property --> */  color : blue;
}</code></pre>
        <li>
            Values
            <pre  data-line="2"  class="lang-css"><code><span>p</span> {
    color :  blue /* <-- Value  */ ;
}</code></pre>
        </li>
    </ul>
</p>
@{
    string example3 = @"<!-- Index.html -->
<link rel=""stylesheet"" href=""stylesheet.css"">";}
<h3>
    External Example
</h3>

<pre><code class="lang-css">/*  stylesheet.css  */
p {
    color: "red";
}
</code></pre>
<pre><code class="lang-html">@example3</code></pre>


<h3>
    Internal Example
</h3>
@{
        string example2 = @"<style> 
    p { 
        color: ""red""
    } 
</style>";
    }
<pre><code class="lang-html">@example2</code></pre>

<h3>
    Inline Example
</h3>

@{
    string example = @"<p style=""color: red""> This is inline styling </p>";
}
<pre><code class="lang-html">@example</code></pre>


<h2 class="display-6">
    Basic Syntax 
</h2>

<p>
    Css has a nice syntax that uses the tag name followed by curly brackets <code>{}</code>. 
    The actual styling elements are separated by semicolons and the key-value pairs are 
    separated by colons. 
    <pre><code class="lang-css">p {
    color: red;
}</code></pre>
</p>


<p style="color: red">
    Now the text color of &lt;p&gt; is red. 
</p>

<h3>
    .Classes
</h3>
<p>
    Html offers classes which can be styled 
    using CSS. This makes it more streamline for 
    styling a custom collection of elements in the 
    same class. Otherwise, tags would be the 
    only groups to style. 
</p>
<p>
    Use dot <code>.</code> notation before the class name to 
    access a class. 
</p>  
<pre><code class="lang-css">.column {
    max-width: 20%;
} 
.header {
    background: red;
}
</code></pre>

<h3>#IDs</h3>
<p>
    Html elements can have IDs to label them. This makes it useful 
    for styling a single element without all the others in the same 
    class or tag. 
    Use a hashtag <code>#</code> before an ID to access an element by ID. 
</p>  
<pre><code class="lang-css">
#tableOfContents {
    color: red;
}

#title {
    color: red;
}
</code></pre>

<p>
    In the example above, title is an ID and not the title tag. 
</p>

<h2>
    Attribute Selectors
</h2>
<p>
    Another way of accessing an element by attribute is with an attribute selector. 
    There are other attributes besides class and ID, so that is where the attribute selector comes into 
    play. It can be used alone or with a type on the outside. 
</p>
<pre><code class="lang-css">type[attribute*=value]</code></pre>

<p>
    Take a look at some examples to get more familiar: 
</p>
<pre><code class="lang-css">img[src*='lang-css'] {
  height: 50px;
}
 
img[src*='lang-html'] {
  height: 100px;
}</code></pre>
<p>
    In the examples above, only img tags with <code>"lang-css"</code> in the src
    will have a height of <code>50px</code>. All img tags 
    with <code>"lang-css"</code> in the src will have a height of <code>100px</code>. 
</p>


<h2>
    
</h2>