
<h2>
    Primary Vs Secondary
</h2>

<p>
    Navigation links guide the user around a website. There is 
    the <b>primary</b> navigation and there is the <b>secondary</b>
    navigation. The primary is used for the main links of 
    a website such the homepage main link and the navigation bar (navbar). 
</p>

<p>
    Secondary navigation is more specific. For example: 
    <div>
        <span class="bg-dark text-white p-2 rounded">Shopping</span>
        →
        <span class="bg-dark text-white p-2 rounded">Computers</span>
        →
        <span class="bg-dark text-white p-2 rounded">GPU</span>
        →
        <span class="bg-dark text-white p-2 rounded">GTX</span>
        →
        <span class="bg-warning p-2 rounded">30 Series</span>
    </div>
</p>
<p>
    The example above is known as a breadcrumb. 
</p>
<p>
    The user can look at a breadcrumb and instantly know where they are. It 
    is useful to provide these breadcrumbs for navigation, but also 
    so that the user can go back and fourth and view other parts of the website, 
    possibly making another sale. 
</p>

