
@{
    ViewData["title"] = "Binary Array to Decimal";
}
<h1 class="display-6">
    Binary Array to Decimal
</h1>
<div class="container">
    <div class="container">
        <p>
            Given an array of zeros and ones, 
            convert it into a decimal number.
        </p>
        <p>
            <code> [0, 0, 0, 1]</code> -> <code> 1 </code>
        </p>
        <p>
            <code> [0, 0, 1, 0]</code> -> <code> 2 </code>
        </p>
        <p>
            <code> [1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1]</code> -> <code> 2013 </code>
        </p>
        
    <details>
            <pre><code class="lang-js">
function binaryToDecimal(arr) {
    let s = "" 
    for (let i of arr){
        s += i
    }
    return parseInt(s, 2);
}
            </code></pre>
        <summary>
            Show Solution
        </summary>
    </details>
    </div>
</div>



