
@{
    ViewData["Title"] = "JavaScript Home";
}
@* JavaScript Date getMonth() *@
<h1 class="display-6">
    Get Month
</h1>
<div class="container">
    <div class="container">
        <p>
            <a class="sidebar-link" asp-controller="Js" asp-action="jsGetMonth">get month</a>
        </p>
    </div>
</div>