
@{
    ViewData["Title"] = "JavaScript Home";
}
@* JavaScript Date getMonth() *@

<h1 class="display-6">
    What is javaScript?
</h1>

<div class="container">
    <div class="container">
        <p>
            Js, or javaScript, is a programming 
            language designed to engage with 
            elements in an html document. javaScript allows for
            a more complex website that has more functionality. 
        </p>
        <p>
            Js is one of the most popular and well-known 
            programming languages because it is used almost 
            everywhere on the internet. That being so, 
            tutorials are easy to come by with helpful information.
            It's also a relatively simple language to learn.
        </p>
        <p>
            Most websites are in a package with <code>HTML</code>, <code>CSS</code> and <code>JS</code>. 
            JS, or javaScript, updates this package dynamically to output something about the package 
            or to modify the contents of the package; it's the brains behind the operation.
        </p>
        
<a style="font-size: 13px;">JS Fibonacci Example &triangledown; Source: <a href="https://www.programiz.com/javascript/examples/fibonacci-series">programiz.com</a> </a>
<pre><code class="lang-js">
// program to generate fibonacci series up to n terms

// take input from the user
const number = parseInt(prompt('Enter the number of terms: '));
let n1 = 0, n2 = 1, nextTerm;

console.log('Fibonacci Series:');

for (let i = 1; i <= number; i++) {
    console.log(n1);
    nextTerm = n1 + n2;
    n1 = n2;
    n2 = nextTerm;
}
</code></pre>
<a style="font-size: 13px;">Get an <code>n</code> number of Fibonacci numbers with javaScript
| Credit: <a href="https://www.programiz.com/javascript/examples/fibonacci-series">programiz.com</a></a>
    </div>
</div>

<h1 class="display-6">
    Get Month
</h1>
<div class="container">
    <div class="container">
        <p>
            <a class="sidebar-link" asp-controller="Js" asp-action="jsGetMonth">get month</a>
        </p>
    </div>
</div>

<h1 class="display-6">
    Conditional (ternary) operator
</h1>
<div class="container">
    <div class="container">
        <p>
            <code>condition ? true : false</code>
        </p>
        <p>
            Given three variables <code>a</code>, <code>b</code> and <code>c</code>, 
            write a program that adds <br> <code>a * 5</code> + <code>b * 10</code> + <code>c * 20</code>. 
        </p>
        <p>
            If any of the given variables are negative, return <code>"invalid"</code>.
        </p>
        <pre><code class="lang-js">
function scoreCalculator(a, b, c) {
	return a >= 0 && b >= 0 && c >= 0 ?
	  a * 5 + b * 10 + c * 20 : "invalid";
}       
        </code></pre>
        <p>
            In the example above, if any of the variables 
            are negative "invalid", or the false condition, is returned. 
            If all of them are positive, however, the variables 
            are multiplied and added together.
        </p>
    </div>
</div>