@{
    
}

<h1 class="display-6">
    What are IP Datagrams?
</h1>
<p>
    IP Datagrams are organized packets in the network layer. They consist of a header and 
    a payload which is specified in the datagram. 
</p>

<div class="container">
    <table>
    <tr style="border-bottom: 1px solid black;">
        <th style="text-align: right;">
            Version
        </th>
        <th style="text-align: right;">
            Header Length
        </th>
        <th style="text-align: right;">
            Service Type
        </th>
        <th style="text-align: right;">
            Total Length
        </th>
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <th style="text-align: right;">
            ID
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            Flags
        </th>
        <th style="text-align: right;">
            Fragment Offset
        </th>
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <th style="text-align: right;">
            TTL
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            Header Checksum
        </th>
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <th style="text-align: right;">
            Source IP Address
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            
        </th>
    </tr>
    <tr style="border-bottom: 1px solid black;">
        <th style="text-align: right;">
            Destination IP Address
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            
        </th>
    </tr>    
    <tr style="border-bottom: 1px solid black;">
        <th style="text-align: right;">
            Options
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            
        </th>
        <th style="text-align: right;">
            Padding
        </th>
    </tr>
    </table>
</div>

