@{
    string basicHTMLtemplate = @"<!-- Basic Html Template -->
<!DOCTYPE html>
<html>
    <body>
    <h2>
        h2 Heading
    </h2>
    <p>
        Paragraph
    </p>
    </body>
</html>
<!-- Basic Html Template -->
";
}


<h2 class="display-6">
    Basic HTML Template
</h2>
<p>
    Html needs to be wrapped in the <code>DOCTYPE</code> tag and <code>HTML</code> tag, which 
    can be annoying. This is a basic "  starter" template for beginner html users.

    <pre><code class="lang-html">@basicHTMLtemplate</code></pre>
</p>

<textarea>
<h2>
    h2 Heading
</h2>
<p>
    Paragraph
</p>
</textarea>