

<h2>
    Math Symbols
</h2>

<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Symbol</th>
        <th>Unicode</th>
        <th>Hex Code</th>
        <th>HTML Code</th>
        <th>HTML Entity</th>
        <th>CSS Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Plus Sign</td>
        <td title="Plus Sign">+&nbsp;</td>
        <td>U+0002B</td>
        <td>&amp;#x2b;</td>
        <td>&amp;#43;</td>
        <td>&amp;plus;</td>
        <td>\002B</td>
    </tr>
    <tr>
        <td>Minus Sign</td>
        <td title="Minus Sign">−&nbsp;</td>
        <td>U+02212</td>
        <td>&amp;#x2212;</td>
        <td>&amp;#8722;</td>
        <td>&amp;minus;</td>
        <td>\2212</td>
    </tr>
    <tr>
        <td>Multiplication Sign</td>
        <td title="Multiplication Sign">×&nbsp;</td>
        <td>U+000D7</td>
        <td>&amp;#xd7;</td>
        <td>&amp;#215;</td>
        <td>&amp;times;</td>
        <td>\00D7</td>
    </tr>
    <tr>
        <td>Division Sign</td>
        <td title="Division Sign">÷&nbsp;</td>
        <td>U+000F7</td>
        <td>&amp;#xf7;</td>
        <td>&amp;#247;</td>
        <td>&amp;divide;</td>
        <td>\00F7</td>
    </tr>
    <tr>
        <td>Equal Sign</td>
        <td title="Equal Sign">=&nbsp;</td>
        <td>U+0003D</td>
        <td>&amp;#x3d;</td>
        <td>&amp;#61;</td>
        <td>&amp;equals;</td>
        <td>\003D</td>
    </tr>
    <tr>
        <td>Not Equal To Sign</td>
        <td title="Not Equal To Sign">≠&nbsp;</td>
        <td>U+02260</td>
        <td>&amp;#x2260;</td>
        <td>&amp;#8800;</td>
        <td>&amp;ne;</td>
        <td>\2260</td>
    </tr>
    <tr>
        <td>Plus or Minus Sign</td>
        <td title="Plus or Minus Sign">±&nbsp;</td>
        <td>U+000B1</td>
        <td>&amp;#xb1;</td>
        <td>&amp;#177;</td>
        <td>&amp;plusmn;</td>
        <td>\00B1</td>
    </tr>
    <tr>
        <td>Not Sign</td>
        <td title="Not Sign">¬&nbsp;</td>
        <td>U+000AC</td>
        <td>&amp;#xac;</td>
        <td>&amp;#172;</td>
        <td>&amp;not;</td>
        <td>\00AC</td>
    </tr>
    <tr>
        <td>Less-Than Sign</td>
        <td title="Less-Than Sign">&lt;&nbsp;</td>
        <td>U+0003C</td>
        <td>&amp;#x3c;</td>
        <td>&amp;#60;</td>
        <td>&amp;lt;</td>
        <td>\003C</td>
    </tr>
    <tr>
        <td>Greater-Than Sign</td>
        <td title="Greater-Than Sign">&gt;&nbsp;</td>
        <td>U+0003E</td>
        <td>&amp;#x3e;</td>
        <td>&amp;#62;</td>
        <td>&amp;gt;</td>
        <td>\003E</td>
    </tr>
    <tr>
        <td>Equal to or Less-Than Sign</td>
        <td title="Equal to or Less-Than Sign">⋜&nbsp;</td>
        <td>U+022DC</td>
        <td>&amp;#x22DC;</td>
        <td>&amp;#8924;</td>
        <td></td>
        <td>\22DC</td>
    </tr>
    <tr>
        <td>Equal to or Greater-Than Sign</td>
        <td title="Equal to or Greater-Than Sign">⋝&nbsp;</td>
        <td>U+022DD</td>
        <td>&amp;#x22DD;</td>
        <td>&amp;#8925;</td>
        <td></td>
        <td>\22DD</td>
    </tr>
    <tr>
        <td>Degree Sign</td>
        <td title="Degree Sign">°&nbsp;</td>
        <td>U+000B0</td>
        <td>&amp;#xb0;</td>
        <td>&amp;#176;</td>
        <td>&amp;deg;</td>
        <td>\00B0</td>
    </tr>
    <tr>
        <td>Superscript One</td>
        <td title="Superscript One">¹&nbsp;</td>
        <td>U+000B9</td>
        <td>&amp;#xb9;</td>
        <td>&amp;#185;</td>
        <td>&amp;sup1;</td>
        <td>\00B9</td>
    </tr>
    <tr>
        <td>Superscript Two</td>
        <td title="Superscript Two">²&nbsp;</td>
        <td>U+000B2</td>
        <td>&amp;#xb2;</td>
        <td>&amp;#178;</td>
        <td>&amp;sup2;</td>
        <td>\00B2</td>
    </tr>
    <tr>
        <td>Superscript Three</td>
        <td title="Superscript Three">³&nbsp;</td>
        <td>U+000B3</td>
        <td>&amp;#xb3;</td>
        <td>&amp;#179;</td>
        <td>&amp;sup3;</td>
        <td>\00B3</td>
    </tr>
    <tr>
        <td>Function</td>
        <td title="Function">ƒ&nbsp;</td>
        <td>U+00192</td>
        <td>&amp;#x192;</td>
        <td>&amp;#402;</td>
        <td>&amp;fnof;</td>
        <td>\0192</td>
    </tr>
    <tr>
        <td>Percent Sign</td>
        <td title="Percent Sign">%&nbsp;</td>
        <td>U+00025</td>
        <td>&amp;#x25;</td>
        <td>&amp;#37;</td>
        <td>&amp;percnt;</td>
        <td>\0025</td>
    </tr>
    <tr>
        <td>Per Mille Sign</td>
        <td title="Per Mille Sign">‰&nbsp;</td>
        <td>U+00089</td>
        <td>&amp;#x89;</td>
        <td>&amp;#137;</td>
        <td>&amp;permil;</td>
        <td>\0089</td>
    </tr>
    <tr>
        <td>Per Ten Thousand Sign</td>
        <td title="Per Ten Thousand Sign">‱&nbsp;</td>
        <td>U+02031</td>
        <td>&amp;#x2031;</td>
        <td>&amp;#8241;</td>
        <td>&amp;pertenk;</td>
        <td>\2031</td>
    </tr>
    <tr>
        <td>For All</td>
        <td title="For All">∀&nbsp;</td>
        <td>U+02200</td>
        <td>&amp;#x2200;</td>
        <td>&amp;#8704;</td>
        <td>&amp;forall;</td>
        <td>\2200</td>
    </tr>
    <tr>
        <td>Complement</td>
        <td title="Complement">∁&nbsp;</td>
        <td>U+02201</td>
        <td>&amp;#x2201;</td>
        <td>&amp;#8705;</td>
        <td>&amp;comp;</td>
        <td>\2201</td>
    </tr>
    <tr>
        <td>Partial Differential</td>
        <td title="Partial Differential">∂&nbsp;</td>
        <td>U+02202</td>
        <td>&amp;#x2202;</td>
        <td>&amp;#8706;</td>
        <td>&amp;part;</td>
        <td>\2202</td>
    </tr>
    <tr>
        <td>There Exists</td>
        <td title="There Exists">∃&nbsp;</td>
        <td>U+02203</td>
        <td>&amp;#x2203;</td>
        <td>&amp;#8707;</td>
        <td>&amp;exist;</td>
        <td>\2203</td>
    </tr>
    <tr>
        <td>There Does Not Exist</td>
        <td title="There Does Not Exist">∄&nbsp;</td>
        <td>U+02204</td>
        <td>&amp;#x2204;</td>
        <td>&amp;#8708;</td>
        <td>&amp;nexist;</td>
        <td>\2204</td>
    </tr>
    <tr>
        <td>Empty Set</td>
        <td title="Empty Set">∅&nbsp;</td>
        <td>U+02205</td>
        <td>&amp;#x2205;</td>
        <td>&amp;#8709;</td>
        <td>&amp;empty;</td>
        <td>\2205</td>
    </tr>
    <tr>
        <td>Increment</td>
        <td title="Increment">∆&nbsp;</td>
        <td>U+02206</td>
        <td>&amp;#x2206;</td>
        <td>&amp;#8710;</td>
        <td></td>
        <td>\2206</td>
    </tr>
    <tr>
        <td>Nabla</td>
        <td title="Nabla">∇&nbsp;</td>
        <td>U+02207</td>
        <td>&amp;#x2207;</td>
        <td>&amp;#8711;</td>
        <td>&amp;nabla;</td>
        <td>\2207</td>
    </tr>
    <tr>
        <td>Element Of</td>
        <td title="Element Of">∈&nbsp;</td>
        <td>U+02208</td>
        <td>&amp;#x2208;</td>
        <td>&amp;#8712;</td>
        <td>&amp;isin;</td>
        <td>\2208</td>
    </tr>
    <tr>
        <td>Not an Element Of</td>
        <td title="Not an Element Of">∉&nbsp;</td>
        <td>U+02209</td>
        <td>&amp;#x2209;</td>
        <td>&amp;#8713;</td>
        <td>&amp;notin;</td>
        <td>\2209</td>
    </tr>
    <tr>
        <td>Small Element Of</td>
        <td title="Small Element Of">∊&nbsp;</td>
        <td>U+0220A</td>
        <td>&amp;#x220A;</td>
        <td>&amp;#8714;</td>
        <td></td>
        <td>\220A</td>
    </tr>
    <tr>
        <td>Contains as Member</td>
        <td title="Contains as Member">∋&nbsp;</td>
        <td>U+0220B</td>
        <td>&amp;#x220B;</td>
        <td>&amp;#8715;</td>
        <td>&amp;ni;</td>
        <td>\220B</td>
    </tr>
    <tr>
        <td>Does Not Contain as Member</td>
        <td title="Does Not Contain as Member">∌&nbsp;</td>
        <td>U+0220C</td>
        <td>&amp;#x220C;</td>
        <td>&amp;#8716;</td>
        <td>&amp;notni;</td>
        <td>\220C</td>
    </tr>
    <tr>
        <td>Small Contains as Member</td>
        <td title="Small Contains as Member">∍&nbsp;</td>
        <td>U+0220D</td>
        <td>&amp;#x220D;</td>
        <td>&amp;#8717;</td>
        <td></td>
        <td>\220D</td>
    </tr>
    <tr>
        <td>End of Proof</td>
        <td title="End of Proof">∎&nbsp;</td>
        <td>U+0220E</td>
        <td>&amp;#x220E;</td>
        <td>&amp;#8718;</td>
        <td></td>
        <td>\220E</td>
    </tr>
    <tr>
        <td>N-Ary Product</td>
        <td title="N-Ary Product">∏&nbsp;</td>
        <td>U+0220F</td>
        <td>&amp;#x220F;</td>
        <td>&amp;#8719;</td>
        <td>&amp;prod;</td>
        <td>\220F</td>
    </tr>
    <tr>
        <td>N-Ary Coproduct</td>
        <td title="N-Ary Coproduct">∐&nbsp;</td>
        <td>U+02210</td>
        <td>&amp;#x2210;</td>
        <td>&amp;#8720;</td>
        <td>&amp;coprod;</td>
        <td>\2210</td>
    </tr>
    <tr>
        <td>N-Ary Summation</td>
        <td title="N-Ary Summation">∑&nbsp;</td>
        <td>U+02211</td>
        <td>&amp;#x2211;</td>
        <td>&amp;#8721;</td>
        <td>&amp;sum;</td>
        <td>\2211</td>
    </tr>
    <tr>
        <td>Minus-or-Plus Sign</td>
        <td title="Minus-or-Plus Sign">∓&nbsp;</td>
        <td>U+02213</td>
        <td>&amp;#x2213;</td>
        <td>&amp;#8723;</td>
        <td>&amp;mnplus;</td>
        <td>\2213</td>
    </tr>
    <tr>
        <td>Dot Plus</td>
        <td title="Dot Plus">∔&nbsp;</td>
        <td>U+02214</td>
        <td>&amp;#x2214;</td>
        <td>&amp;#8724;</td>
        <td>&amp;plusdo;</td>
        <td>\2214</td>
    </tr>
    <tr>
        <td>Division Slash</td>
        <td title="Division Slash">∕&nbsp;</td>
        <td>U+02215</td>
        <td>&amp;#x2215;</td>
        <td>&amp;#8725;</td>
        <td></td>
        <td>\2215</td>
    </tr>
    <tr>
        <td>Set Minus</td>
        <td title="Set Minus">∖&nbsp;</td>
        <td>U+02216</td>
        <td>&amp;#x2216;</td>
        <td>&amp;#8726;</td>
        <td>&amp;setminus;</td>
        <td>\2216</td>
    </tr>
    <tr>
        <td>Asterisk Operator</td>
        <td title="Asterisk Operator">∗&nbsp;</td>
        <td>U+02217</td>
        <td>&amp;#x2217;</td>
        <td>&amp;#8727;</td>
        <td>&amp;lowast;</td>
        <td>\2217</td>
    </tr>
    <tr>
        <td>Ring Operator</td>
        <td title="Ring Operator">∘&nbsp;</td>
        <td>U+02218</td>
        <td>&amp;#x2218;</td>
        <td>&amp;#8728;</td>
        <td>&amp;compfn;</td>
        <td>\2218</td>
    </tr>
    <tr>
        <td>Bullet Operator</td>
        <td title="Bullet Operator">∙&nbsp;</td>
        <td>U+02219</td>
        <td>&amp;#x2219;</td>
        <td>&amp;#8729;</td>
        <td></td>
        <td>\2219</td>
    </tr>
    <tr>
        <td>Square Root</td>
        <td title="Square Root">√&nbsp;</td>
        <td>U+0221A</td>
        <td>&amp;#x221A;</td>
        <td>&amp;#8730;</td>
        <td>&amp;radic;</td>
        <td>\221A</td>
    </tr>
    <tr>
        <td>Cube Root</td>
        <td title="Cube Root">∛&nbsp;</td>
        <td>U+0221B</td>
        <td>&amp;#x221B;</td>
        <td>&amp;#8731;</td>
        <td></td>
        <td>\221B</td>
    </tr>
    <tr>
        <td>Fourth Root</td>
        <td title="Fourth Root">∜&nbsp;</td>
        <td>U+0221C</td>
        <td>&amp;#x221C;</td>
        <td>&amp;#8732;</td>
        <td></td>
        <td>\221C</td>
    </tr>
    <tr>
        <td>Proportional To</td>
        <td title="Proportional To">∝&nbsp;</td>
        <td>U+0221D</td>
        <td>&amp;#x221D;</td>
        <td>&amp;#8733;</td>
        <td>&amp;prop;</td>
        <td>\221D</td>
    </tr>
    <tr>
        <td>Infinity</td>
        <td title="Infinity">∞&nbsp;</td>
        <td>U+0221E</td>
        <td>&amp;#x221E;</td>
        <td>&amp;#8734;</td>
        <td>&amp;infin;</td>
        <td>\221E</td>
    </tr>
    <tr>
        <td>Right Angle</td>
        <td title="Right Angle">∟&nbsp;</td>
        <td>U+0221F</td>
        <td>&amp;#x221F;</td>
        <td>&amp;#8735;</td>
        <td>&amp;angrt;</td>
        <td>\221F</td>
    </tr>
    <tr>
        <td>Angle</td>
        <td title="Angle">∠&nbsp;</td>
        <td>U+02220</td>
        <td>&amp;#x2220;</td>
        <td>&amp;#8736;</td>
        <td>&amp;ang;</td>
        <td>\2220</td>
    </tr>
    <tr>
        <td>Measured Angle</td>
        <td title="Measured Angle">∡&nbsp;</td>
        <td>U+02221</td>
        <td>&amp;#x2221;</td>
        <td>&amp;#8737;</td>
        <td>&amp;angmsd;</td>
        <td>\2221</td>
    </tr>
    <tr>
        <td>Spherical Angle</td>
        <td title="Spherical Angle">∢&nbsp;</td>
        <td>U+02222</td>
        <td>&amp;#x2222;</td>
        <td>&amp;#8738;</td>
        <td>&amp;angsph;</td>
        <td>\2222</td>
    </tr>
    <tr>
        <td>Divides</td>
        <td title="Divides">∣&nbsp;</td>
        <td>U+02223</td>
        <td>&amp;#x2223;</td>
        <td>&amp;#8739;</td>
        <td>&amp;mid;</td>
        <td>\2223</td>
    </tr>
    <tr>
        <td>Does Not Divide</td>
        <td title="Does Not Divide">∤&nbsp;</td>
        <td>U+02224</td>
        <td>&amp;#x2224;</td>
        <td>&amp;#8740;</td>
        <td>&amp;nmid;</td>
        <td>\2224</td>
    </tr>
    <tr>
        <td>Parallel To</td>
        <td title="Parallel To">∥&nbsp;</td>
        <td>U+02225</td>
        <td>&amp;#x2225;</td>
        <td>&amp;#8741;</td>
        <td>&amp;parallel;</td>
        <td>\2225</td>
    </tr>
    <tr>
        <td>Not Parallel To</td>
        <td title="Not Parallel To">∦&nbsp;</td>
        <td>U+02226</td>
        <td>&amp;#x2226;</td>
        <td>&amp;#8742;</td>
        <td>&amp;npar;</td>
        <td>\2226</td>
    </tr>
    <tr>
        <td>Logical And</td>
        <td title="Logical And">∧&nbsp;</td>
        <td>U+02227</td>
        <td>&amp;#x2227;</td>
        <td>&amp;#8743;</td>
        <td>&amp;and;</td>
        <td>\2227</td>
    </tr>
    <tr>
        <td>Logical Or</td>
        <td title="Logical Or">∨&nbsp;</td>
        <td>U+02228</td>
        <td>&amp;#x2228;</td>
        <td>&amp;#8744;</td>
        <td>&amp;or;</td>
        <td>\2228</td>
    </tr>
    <tr>
        <td>Intersection</td>
        <td title="Intersection">∩&nbsp;</td>
        <td>U+02229</td>
        <td>&amp;#x2229;</td>
        <td>&amp;#8745;</td>
        <td>&amp;cap;</td>
        <td>\2229</td>
    </tr>
    <tr>
        <td>Union</td>
        <td title="Union">∪&nbsp;</td>
        <td>U+0222A</td>
        <td>&amp;#x222A;</td>
        <td>&amp;#8746;</td>
        <td>&amp;cup;</td>
        <td>\222A</td>
    </tr>
    <tr>
        <td>Integral</td>
        <td title="Integral">∫&nbsp;</td>
        <td>U+0222B</td>
        <td>&amp;#x222B;</td>
        <td>&amp;#8747;</td>
        <td>&amp;int;</td>
        <td>\222B</td>
    </tr>
    <tr>
        <td>Double Integral</td>
        <td title="Double Integral">∬&nbsp;</td>
        <td>U+0222C</td>
        <td>&amp;#x222C;</td>
        <td>&amp;#8748;</td>
        <td>&amp;Int;</td>
        <td>\222C</td>
    </tr>
    <tr>
        <td>Triple Integral</td>
        <td title="Triple Integral">∭&nbsp;</td>
        <td>U+0222D</td>
        <td>&amp;#x222D;</td>
        <td>&amp;#8749;</td>
        <td>&amp;iiint;</td>
        <td>\222D</td>
    </tr>
    <tr>
        <td>Contour Integral</td>
        <td title="Contour Integral">∮&nbsp;</td>
        <td>U+0222E</td>
        <td>&amp;#x222E;</td>
        <td>&amp;#8750;</td>
        <td>&amp;conint;</td>
        <td>\222E</td>
    </tr>
    <tr>
        <td>Surface Integral</td>
        <td title="Surface Integral">∯&nbsp;</td>
        <td>U+0222F</td>
        <td>&amp;#x222F;</td>
        <td>&amp;#8751;</td>
        <td>&amp;Conint;</td>
        <td>\222F</td>
    </tr>
    <tr>
        <td>Volume Integral</td>
        <td title="Volume Integral">∰&nbsp;</td>
        <td>U+02230</td>
        <td>&amp;#x2230;</td>
        <td>&amp;#8752;</td>
        <td>&amp;Cconint;</td>
        <td>\2230</td>
    </tr>
    <tr>
        <td>Clockwise Integral</td>
        <td title="Clockwise Integral">∱&nbsp;</td>
        <td>U+02231</td>
        <td>&amp;#x2231;</td>
        <td>&amp;#8753;</td>
        <td>&amp;cwint;</td>
        <td>\2231</td>
    </tr>
    <tr>
        <td>Clockwise Contour Integral</td>
        <td title="Clockwise Contour Integral">∲&nbsp;</td>
        <td>U+02232</td>
        <td>&amp;#x2232;</td>
        <td>&amp;#8754;</td>
        <td>&amp;cwconint;</td>
        <td>\2232</td>
    </tr>
    <tr>
        <td>Anticlockwise Contour Integral</td>
        <td title="Anticlockwise Contour Integral">∳&nbsp;</td>
        <td>U+02233</td>
        <td>&amp;#x2233;</td>
        <td>&amp;#8755;</td>
        <td>&amp;awconint;</td>
        <td>\2233</td>
    </tr>
    <tr>
        <td>Therefore</td>
        <td title="Therefore">∴&nbsp;</td>
        <td>U+02234</td>
        <td>&amp;#x2234;</td>
        <td>&amp;#8756;</td>
        <td>&amp;there4;</td>
        <td>\2234</td>
    </tr>
    <tr>
        <td>Because</td>
        <td title="Because">∵&nbsp;</td>
        <td>U+02235</td>
        <td>&amp;#x2235;</td>
        <td>&amp;#8757;</td>
        <td>&amp;because;</td>
        <td>\2235</td>
    </tr>
    <tr>
        <td>Ratio</td>
        <td title="Ratio">∶&nbsp;</td>
        <td>U+02236</td>
        <td>&amp;#x2236;</td>
        <td>&amp;#8758;</td>
        <td>&amp;ratio;</td>
        <td>\2236</td>
    </tr>
    <tr>
        <td>Proportion</td>
        <td title="Proportion">∷&nbsp;</td>
        <td>U+02237</td>
        <td>&amp;#x2237;</td>
        <td>&amp;#8759;</td>
        <td>&amp;Colon;</td>
        <td>\2237</td>
    </tr>
    <tr>
        <td>Dot Minus</td>
        <td title="Dot Minus">∸&nbsp;</td>
        <td>U+02238</td>
        <td>&amp;#x2238;</td>
        <td>&amp;#8760;</td>
        <td>&amp;minusd;</td>
        <td>\2238</td>
    </tr>
    <tr>
        <td>Excess</td>
        <td title="Excess">∹&nbsp;</td>
        <td>U+02239</td>
        <td>&amp;#x2239;</td>
        <td>&amp;#8761;</td>
        <td></td>
        <td>\2239</td>
    </tr>
    <tr>
        <td>Geometric Proportion</td>
        <td title="Geometric Proportion">∺&nbsp;</td>
        <td>U+0223A</td>
        <td>&amp;#x223A;</td>
        <td>&amp;#8762;</td>
        <td>&amp;mDDot;</td>
        <td>\223A</td>
    </tr>
    <tr>
        <td>Homothetic</td>
        <td title="Homothetic">∻&nbsp;</td>
        <td>U+0223B</td>
        <td>&amp;#x223B;</td>
        <td>&amp;#8763;</td>
        <td>&amp;homtht;</td>
        <td>\223B</td>
    </tr>
    <tr>
        <td>Tilde Operator</td>
        <td title="Tilde Operator">∼&nbsp;</td>
        <td>U+0223C</td>
        <td>&amp;#x223C;</td>
        <td>&amp;#8764;</td>
        <td>&amp;sim;</td>
        <td>\223C</td>
    </tr>
    <tr>
        <td>Reversed Tilde</td>
        <td title="Reversed Tilde">∽&nbsp;</td>
        <td>U+0223D</td>
        <td>&amp;#x223D;</td>
        <td>&amp;#8765;</td>
        <td>&amp;bsim;</td>
        <td>\223D</td>
    </tr>
    <tr>
        <td>Inverted Lazy S</td>
        <td title="Inverted Lazy S">∾&nbsp;</td>
        <td>U+0223E</td>
        <td>&amp;#x223E;</td>
        <td>&amp;#8766;</td>
        <td>&amp;ac;</td>
        <td>\223E</td>
    </tr>
    <tr>
        <td>Sine Wave</td>
        <td title="Sine Wave">∿&nbsp;</td>
        <td>U+0223F</td>
        <td>&amp;#x223F;</td>
        <td>&amp;#8767;</td>
        <td>&amp;acd;</td>
        <td>\223F</td>
    </tr>
    <tr>
        <td>Wreath Product</td>
        <td title="Wreath Product">≀&nbsp;</td>
        <td>U+02240</td>
        <td>&amp;#x2240;</td>
        <td>&amp;#8768;</td>
        <td>&amp;wreath;</td>
        <td>\2240</td>
    </tr>
    <tr>
        <td>Not Tilde</td>
        <td title="Not Tilde">≁&nbsp;</td>
        <td>U+02241</td>
        <td>&amp;#x2241;</td>
        <td>&amp;#8769;</td>
        <td>&amp;nsim;</td>
        <td>\2241</td>
    </tr>
    <tr>
        <td>Minus Tilde</td>
        <td title="Minus Tilde">≂&nbsp;</td>
        <td>U+02242</td>
        <td>&amp;#x2242;</td>
        <td>&amp;#8770;</td>
        <td>&amp;esim;</td>
        <td>\2242</td>
    </tr>
    <tr>
        <td>Asymptotically Equal To</td>
        <td title="Asymptotically Equal To">≃&nbsp;</td>
        <td>U+02243</td>
        <td>&amp;#x2243;</td>
        <td>&amp;#8771;</td>
        <td>&amp;sime;</td>
        <td>\2243</td>
    </tr>
    <tr>
        <td>Not Asymptotically Equal To</td>
        <td title="Not Asymptotically Equal To">≄&nbsp;</td>
        <td>U+02244</td>
        <td>&amp;#x2244;</td>
        <td>&amp;#8772;</td>
        <td>&amp;nsime;</td>
        <td>\2244</td>
    </tr>
    <tr>
        <td>Approximately Equal To</td>
        <td title="Approximately Equal To">≅&nbsp;</td>
        <td>U+02245</td>
        <td>&amp;#x2245;</td>
        <td>&amp;#8773;</td>
        <td>&amp;cong;</td>
        <td>\2245</td>
    </tr>
    <tr>
        <td>Approximately but Not Actually Equal To</td>
        <td title="Approximately but Not Actually Equal To">≆&nbsp;</td>
        <td>U+02246</td>
        <td>&amp;#x2246;</td>
        <td>&amp;#8774;</td>
        <td>&amp;simne;</td>
        <td>\2246</td>
    </tr>
    <tr>
        <td>Neither Approximately Nor Actually Equal To</td>
        <td title="Neither Approximately Nor Actually Equal To">≇&nbsp;</td>
        <td>U+02247</td>
        <td>&amp;#x2247;</td>
        <td>&amp;#8775;</td>
        <td>&amp;ncong;</td>
        <td>\2247</td>
    </tr>
    <tr>
        <td>Almost Equal To</td>
        <td title="Almost Equal To">≈&nbsp;</td>
        <td>U+02248</td>
        <td>&amp;#x2248;</td>
        <td>&amp;#8776;</td>
        <td>&amp;asymp;</td>
        <td>\2248</td>
    </tr>
    <tr>
        <td>Not Almost Equal To</td>
        <td title="Not Almost Equal To">≉&nbsp;</td>
        <td>U+02249</td>
        <td>&amp;#x2249;</td>
        <td>&amp;#8777;</td>
        <td>&amp;nap;</td>
        <td>\2249</td>
    </tr>
    <tr>
        <td>Almost Equal or Equal To</td>
        <td title="Almost Equal or Equal To">≊&nbsp;</td>
        <td>U+0224A</td>
        <td>&amp;#x224A;</td>
        <td>&amp;#8778;</td>
        <td>&amp;approxeq;</td>
        <td>\224A</td>
    </tr>
    <tr>
        <td>Triple Tilde</td>
        <td title="Triple Tilde">≋&nbsp;</td>
        <td>U+0224B</td>
        <td>&amp;#x224B;</td>
        <td>&amp;#8779;</td>
        <td>&amp;apid;</td>
        <td>\224B</td>
    </tr>
    <tr>
        <td>All Equal To</td>
        <td title="All Equal To">≌&nbsp;</td>
        <td>U+0224C</td>
        <td>&amp;#x224C;</td>
        <td>&amp;#8780;</td>
        <td>&amp;bcong;</td>
        <td>\224C</td>
    </tr>
    <tr>
        <td>Equivalent To</td>
        <td title="Equivalent To">≍&nbsp;</td>
        <td>U+0224D</td>
        <td>&amp;#x224D;</td>
        <td>&amp;#8781;</td>
        <td>&amp;asympeq;</td>
        <td>\224D</td>
    </tr>
    <tr>
        <td>Geometrically Equivalent To</td>
        <td title="Geometrically Equivalent To">≎&nbsp;</td>
        <td>U+0224E</td>
        <td>&amp;#x224E;</td>
        <td>&amp;#8782;</td>
        <td>&amp;bump;</td>
        <td>\224E</td>
    </tr>
    <tr>
        <td>Difference Between</td>
        <td title="Difference Between">≏&nbsp;</td>
        <td>U+0224F</td>
        <td>&amp;#x224F;</td>
        <td>&amp;#8783;</td>
        <td>&amp;bumpe;</td>
        <td>\224F</td>
    </tr>
    <tr>
        <td>Approaches the Limit</td>
        <td title="Approaches the Limit">≐&nbsp;</td>
        <td>U+02250</td>
        <td>&amp;#x2250;</td>
        <td>&amp;#8784;</td>
        <td>&amp;esdot;</td>
        <td>\2250</td>
    </tr>
    <tr>
        <td>Geometrically Equal To</td>
        <td title="Geometrically Equal To">≑&nbsp;</td>
        <td>U+02251</td>
        <td>&amp;#x2251;</td>
        <td>&amp;#8785;</td>
        <td>&amp;eDot;</td>
        <td>\2251</td>
    </tr>
    <tr>
        <td>Approximately Equal to or the Image Of</td>
        <td title="Approximately Equal to or the Image Of">≒&nbsp;</td>
        <td>U+02252</td>
        <td>&amp;#x2252;</td>
        <td>&amp;#8786;</td>
        <td>&amp;efDot;</td>
        <td>\2252</td>
    </tr>
    <tr>
        <td>Image of or Approximately Equal To</td>
        <td title="Image of or Approximately Equal To">≓&nbsp;</td>
        <td>U+02253</td>
        <td>&amp;#x2253;</td>
        <td>&amp;#8787;</td>
        <td>&amp;erDot;</td>
        <td>\2253</td>
    </tr>
    <tr>
        <td>Colon Equals</td>
        <td title="Colon Equals">≔&nbsp;</td>
        <td>U+02254</td>
        <td>&amp;#x2254;</td>
        <td>&amp;#8788;</td>
        <td>&amp;colone;</td>
        <td>\2254</td>
    </tr>
    <tr>
        <td>Equals Colon</td>
        <td title="Equals Colon">≕&nbsp;</td>
        <td>U+02255</td>
        <td>&amp;#x2255;</td>
        <td>&amp;#8789;</td>
        <td>&amp;ecolon;</td>
        <td>\2255</td>
    </tr>
    <tr>
        <td>Ring in Equal To</td>
        <td title="Ring in Equal To">≖&nbsp;</td>
        <td>U+02256</td>
        <td>&amp;#x2256;</td>
        <td>&amp;#8790;</td>
        <td>&amp;ecir;</td>
        <td>\2256</td>
    </tr>
    <tr>
        <td>Ring Equal To</td>
        <td title="Ring Equal To">≗&nbsp;</td>
        <td>U+02257</td>
        <td>&amp;#x2257;</td>
        <td>&amp;#8791;</td>
        <td>&amp;cire;</td>
        <td>\2257</td>
    </tr>
    <tr>
        <td>Corresponds To</td>
        <td title="Corresponds To">≘&nbsp;</td>
        <td>U+02258</td>
        <td>&amp;#x2258;</td>
        <td>&amp;#8792;</td>
        <td></td>
        <td>\2258</td>
    </tr>
    <tr>
        <td>Estimates</td>
        <td title="Estimates">≙&nbsp;</td>
        <td>U+02259</td>
        <td>&amp;#x2259;</td>
        <td>&amp;#8793;</td>
        <td>&amp;wedgeq;</td>
        <td>\2259</td>
    </tr>
    <tr>
        <td>Equiangular To</td>
        <td title="Equiangular To">≚&nbsp;</td>
        <td>U+0225A</td>
        <td>&amp;#x225A;</td>
        <td>&amp;#8794;</td>
        <td>&amp;veeeq;</td>
        <td>\225A</td>
    </tr>
    <tr>
        <td>Star Equals</td>
        <td title="Star Equals">≛&nbsp;</td>
        <td>U+0225B</td>
        <td>&amp;#x225B;</td>
        <td>&amp;#8795;</td>
        <td></td>
        <td>\225B</td>
    </tr>
    <tr>
        <td>Delta Equal To</td>
        <td title="Delta Equal To">≜&nbsp;</td>
        <td>U+0225C</td>
        <td>&amp;#x225C;</td>
        <td>&amp;#8796;</td>
        <td>&amp;trie;</td>
        <td>\225C</td>
    </tr>
    <tr>
        <td>Equal to by Definition</td>
        <td title="Equal to by Definition">≝&nbsp;</td>
        <td>U+0225D</td>
        <td>&amp;#x225D;</td>
        <td>&amp;#8797;</td>
        <td></td>
        <td>\225D</td>
    </tr>
    <tr>
        <td>Measured By</td>
        <td title="Measured By">≞&nbsp;</td>
        <td>U+0225E</td>
        <td>&amp;#x225E;</td>
        <td>&amp;#8798;</td>
        <td></td>
        <td>\225E</td>
    </tr>
    <tr>
        <td>Questioned Equal To</td>
        <td title="Questioned Equal To">≟&nbsp;</td>
        <td>U+0225F</td>
        <td>&amp;#x225F;</td>
        <td>&amp;#8799;</td>
        <td>&amp;equest;</td>
        <td>\225F</td>
    </tr>
    <tr>
        <td>Identical To</td>
        <td title="Identical To">≡&nbsp;</td>
        <td>U+02261</td>
        <td>&amp;#x2261;</td>
        <td>&amp;#8801;</td>
        <td>&amp;equiv;</td>
        <td>\2261</td>
    </tr>
    <tr>
        <td>Not Identical To</td>
        <td title="Not Identical To">≢&nbsp;</td>
        <td>U+02262</td>
        <td>&amp;#x2262;</td>
        <td>&amp;#8802;</td>
        <td>&amp;nequiv;</td>
        <td>\2262</td>
    </tr>
    <tr>
        <td>Strictly Equivalent To</td>
        <td title="Strictly Equivalent To">≣&nbsp;</td>
        <td>U+02263</td>
        <td>&amp;#x2263;</td>
        <td>&amp;#8803;</td>
        <td></td>
        <td>\2263</td>
    </tr>
    <tr>
        <td>Less-Than or Equal To</td>
        <td title="Less-Than or Equal To">≤&nbsp;</td>
        <td>U+02264</td>
        <td>&amp;#x2264;</td>
        <td>&amp;#8804;</td>
        <td>&amp;le;</td>
        <td>\2264</td>
    </tr>
    <tr>
        <td>Greater-Than or Equal To</td>
        <td title="Greater-Than or Equal To">≥&nbsp;</td>
        <td>U+02265</td>
        <td>&amp;#x2265;</td>
        <td>&amp;#8805;</td>
        <td>&amp;ge;</td>
        <td>\2265</td>
    </tr>
    <tr>
        <td>Less-Than Over Equal To</td>
        <td title="Less-Than Over Equal To">≦&nbsp;</td>
        <td>U+02266</td>
        <td>&amp;#x2266;</td>
        <td>&amp;#8806;</td>
        <td>&amp;lE;</td>
        <td>\2266</td>
    </tr>
    <tr>
        <td>Greater-Than Over Equal To</td>
        <td title="Greater-Than Over Equal To">≧&nbsp;</td>
        <td>U+02267</td>
        <td>&amp;#x2267;</td>
        <td>&amp;#8807;</td>
        <td>&amp;gE;</td>
        <td>\2267</td>
    </tr>
    <tr>
        <td>Less-Than but Not Equal To</td>
        <td title="Less-Than but Not Equal To">≨&nbsp;</td>
        <td>U+02268</td>
        <td>&amp;#x2268;</td>
        <td>&amp;#8808;</td>
        <td>&amp;lnE;</td>
        <td>\2268</td>
    </tr>
    <tr>
        <td>Greater-Than but Not Equal To</td>
        <td title="Greater-Than but Not Equal To">≩&nbsp;</td>
        <td>U+02269</td>
        <td>&amp;#x2269;</td>
        <td>&amp;#8809;</td>
        <td>&amp;gnE;</td>
        <td>\2269</td>
    </tr>
    <tr>
        <td>Much Less-Than</td>
        <td title="Much Less-Than">≪&nbsp;</td>
        <td>U+0226A</td>
        <td>&amp;#x226A;</td>
        <td>&amp;#8810;</td>
        <td>&amp;Lt;</td>
        <td>\226A</td>
    </tr>
    <tr>
        <td>Much Greater-Than</td>
        <td title="Much Greater-Than">≫&nbsp;</td>
        <td>U+0226B</td>
        <td>&amp;#x226B;</td>
        <td>&amp;#8811;</td>
        <td>&amp;Gt;</td>
        <td>\226B</td>
    </tr>
    <tr>
        <td>Between</td>
        <td title="Between">≬&nbsp;</td>
        <td>U+0226C</td>
        <td>&amp;#x226C;</td>
        <td>&amp;#8812;</td>
        <td>&amp;between;</td>
        <td>\226C</td>
    </tr>
    <tr>
        <td>Not Equivalent To</td>
        <td title="Not Equivalent To">≭&nbsp;</td>
        <td>U+0226D</td>
        <td>&amp;#x226D;</td>
        <td>&amp;#8813;</td>
        <td>&amp;NotCupCap;</td>
        <td>\226D</td>
    </tr>
    <tr>
        <td>Not Less-Than</td>
        <td title="Not Less-Than">≮&nbsp;</td>
        <td>U+0226E</td>
        <td>&amp;#x226E;</td>
        <td>&amp;#8814;</td>
        <td>&amp;nlt;</td>
        <td>\226E</td>
    </tr>
    <tr>
        <td>Not Greater-Than</td>
        <td title="Not Greater-Than">≯&nbsp;</td>
        <td>U+0226F</td>
        <td>&amp;#x226F;</td>
        <td>&amp;#8815;</td>
        <td>&amp;ngt;</td>
        <td>\226F</td>
    </tr>
    <tr>
        <td>Neither Less-Than Nor Equal To</td>
        <td title="Neither Less-Than Nor Equal To">≰&nbsp;</td>
        <td>U+02270</td>
        <td>&amp;#x2270;</td>
        <td>&amp;#8816;</td>
        <td>&amp;nle;</td>
        <td>\2270</td>
    </tr>
    <tr>
        <td>Neither Greater-Than Nor Equal To</td>
        <td title="Neither Greater-Than Nor Equal To">≱&nbsp;</td>
        <td>U+02271</td>
        <td>&amp;#x2271;</td>
        <td>&amp;#8817;</td>
        <td>&amp;nge;</td>
        <td>\2271</td>
    </tr>
    <tr>
        <td>Less-Than or Equivalent To</td>
        <td title="Less-Than or Equivalent To">≲&nbsp;</td>
        <td>U+02272</td>
        <td>&amp;#x2272;</td>
        <td>&amp;#8818;</td>
        <td>&amp;lsim;</td>
        <td>\2272</td>
    </tr>
    <tr>
        <td>Greater-Than or Equivalent To</td>
        <td title="Greater-Than or Equivalent To">≳&nbsp;</td>
        <td>U+02273</td>
        <td>&amp;#x2273;</td>
        <td>&amp;#8819;</td>
        <td>&amp;gsim;</td>
        <td>\2273</td>
    </tr>
    <tr>
        <td>Neither Less-Than Nor Equivalent To</td>
        <td title="Neither Less-Than Nor Equivalent To">≴&nbsp;</td>
        <td>U+02274</td>
        <td>&amp;#x2274;</td>
        <td>&amp;#8820;</td>
        <td>&amp;nlsim;</td>
        <td>\2274</td>
    </tr>
    <tr>
        <td>Neither Greater-Than Nor Equivalent To</td>
        <td title="Neither Greater-Than Nor Equivalent To">≵&nbsp;</td>
        <td>U+02275</td>
        <td>&amp;#x2275;</td>
        <td>&amp;#8821;</td>
        <td>&amp;ngsim;</td>
        <td>\2275</td>
    </tr>
    <tr>
        <td>Less-Than or Greater-Than</td>
        <td title="Less-Than or Greater-Than">≶&nbsp;</td>
        <td>U+02276</td>
        <td>&amp;#x2276;</td>
        <td>&amp;#8822;</td>
        <td>&amp;lg;</td>
        <td>\2276</td>
    </tr>
    <tr>
        <td>Greater-Than or Less-Than</td>
        <td title="Greater-Than or Less-Than">≷&nbsp;</td>
        <td>U+02277</td>
        <td>&amp;#x2277;</td>
        <td>&amp;#8823;</td>
        <td>&amp;gl;</td>
        <td>\2277</td>
    </tr>
    <tr>
        <td>Neither Less-Than Nor Greater-Than</td>
        <td title="Neither Less-Than Nor Greater-Than">≸&nbsp;</td>
        <td>U+02278</td>
        <td>&amp;#x2278;</td>
        <td>&amp;#8824;</td>
        <td>&amp;ntlg;</td>
        <td>\2278</td>
    </tr>
    <tr>
        <td>Neither Greater-Than Nor Less-Than</td>
        <td title="Neither Greater-Than Nor Less-Than">≹&nbsp;</td>
        <td>U+02279</td>
        <td>&amp;#x2279;</td>
        <td>&amp;#8825;</td>
        <td>&amp;ntgl;</td>
        <td>\2279</td>
    </tr>
    <tr>
        <td>Precedes</td>
        <td title="Precedes">≺&nbsp;</td>
        <td>U+0227A</td>
        <td>&amp;#x227A;</td>
        <td>&amp;#8826;</td>
        <td>&amp;pr;</td>
        <td>\227A</td>
    </tr>
    <tr>
        <td>Succeeds</td>
        <td title="Succeeds">≻&nbsp;</td>
        <td>U+0227B</td>
        <td>&amp;#x227B;</td>
        <td>&amp;#8827;</td>
        <td>&amp;sc;</td>
        <td>\227B</td>
    </tr>
    <tr>
        <td>Precedes or Equal To</td>
        <td title="Precedes or Equal To">≼&nbsp;</td>
        <td>U+0227C</td>
        <td>&amp;#x227C;</td>
        <td>&amp;#8828;</td>
        <td>&amp;prcue;</td>
        <td>\227C</td>
    </tr>
    <tr>
        <td>Succeeds or Equal To</td>
        <td title="Succeeds or Equal To">≽&nbsp;</td>
        <td>U+0227D</td>
        <td>&amp;#x227D;</td>
        <td>&amp;#8829;</td>
        <td>&amp;sccue;</td>
        <td>\227D</td>
    </tr>
    <tr>
        <td>Precedes or Equivalent To</td>
        <td title="Precedes or Equivalent To">≾&nbsp;</td>
        <td>U+0227E</td>
        <td>&amp;#x227E;</td>
        <td>&amp;#8830;</td>
        <td>&amp;prsim;</td>
        <td>\227E</td>
    </tr>
    <tr>
        <td>Succeeds or Equivalent To</td>
        <td title="Succeeds or Equivalent To">≿&nbsp;</td>
        <td>U+0227F</td>
        <td>&amp;#x227F;</td>
        <td>&amp;#8831;</td>
        <td>&amp;scsim;</td>
        <td>\227F</td>
    </tr>
    <tr>
        <td>Does Not Precede</td>
        <td title="Does Not Precede">⊀&nbsp;</td>
        <td>U+02280</td>
        <td>&amp;#x2280;</td>
        <td>&amp;#8832;</td>
        <td>&amp;npr;</td>
        <td>\2280</td>
    </tr>
    <tr>
        <td>Does Not Succeed</td>
        <td title="Does Not Succeed">⊁&nbsp;</td>
        <td>U+02281</td>
        <td>&amp;#x2281;</td>
        <td>&amp;#8833;</td>
        <td>&amp;nsc;</td>
        <td>\2281</td>
    </tr>
    <tr>
        <td>Subset Of</td>
        <td title="Subset Of">⊂&nbsp;</td>
        <td>U+02282</td>
        <td>&amp;#x2282;</td>
        <td>&amp;#8834;</td>
        <td>&amp;sub;</td>
        <td>\2282</td>
    </tr>
    <tr>
        <td>Superset Of</td>
        <td title="Superset Of">⊃&nbsp;</td>
        <td>U+02283</td>
        <td>&amp;#x2283;</td>
        <td>&amp;#8835;</td>
        <td>&amp;sup;</td>
        <td>\2283</td>
    </tr>
    <tr>
        <td>Not a Subset Of</td>
        <td title="Not a Subset Of">⊄&nbsp;</td>
        <td>U+02284</td>
        <td>&amp;#x2284;</td>
        <td>&amp;#8836;</td>
        <td>&amp;nsub;</td>
        <td>\2284</td>
    </tr>
    <tr>
        <td>Not a Superset Of</td>
        <td title="Not a Superset Of">⊅&nbsp;</td>
        <td>U+02285</td>
        <td>&amp;#x2285;</td>
        <td>&amp;#8837;</td>
        <td>&amp;nsup;</td>
        <td>\2285</td>
    </tr>
    <tr>
        <td>Subset of or Equal To</td>
        <td title="Subset of or Equal To">⊆&nbsp;</td>
        <td>U+02286</td>
        <td>&amp;#x2286;</td>
        <td>&amp;#8838;</td>
        <td>&amp;sube;</td>
        <td>\2286</td>
    </tr>
    <tr>
        <td>Superset of or Equal To</td>
        <td title="Superset of or Equal To">⊇&nbsp;</td>
        <td>U+02287</td>
        <td>&amp;#x2287;</td>
        <td>&amp;#8839;</td>
        <td>&amp;supe;</td>
        <td>\2287</td>
    </tr>
    <tr>
        <td>Neither a Subset of Nor Equal To</td>
        <td title="Neither a Subset of Nor Equal To">⊈&nbsp;</td>
        <td>U+02288</td>
        <td>&amp;#x2288;</td>
        <td>&amp;#8840;</td>
        <td>&amp;nsube;</td>
        <td>\2288</td>
    </tr>
    <tr>
        <td>Neither a Superset of Nor Equal To</td>
        <td title="Neither a Superset of Nor Equal To">⊉&nbsp;</td>
        <td>U+02289</td>
        <td>&amp;#x2289;</td>
        <td>&amp;#8841;</td>
        <td>&amp;nsupe;</td>
        <td>\2289</td>
    </tr>
    <tr>
        <td>Subset of With Not Equal To</td>
        <td title="Subset of With Not Equal To">⊊&nbsp;</td>
        <td>U+0228A</td>
        <td>&amp;#x228A;</td>
        <td>&amp;#8842;</td>
        <td>&amp;subne;</td>
        <td>\228A</td>
    </tr>
    <tr>
        <td>Superset of With Not Equal To</td>
        <td title="Superset of With Not Equal To">⊋&nbsp;</td>
        <td>U+0228B</td>
        <td>&amp;#x228B;</td>
        <td>&amp;#8843;</td>
        <td>&amp;supne;</td>
        <td>\228B</td>
    </tr>
    <tr>
        <td>Multiset</td>
        <td title="Multiset">⊌&nbsp;</td>
        <td>U+0228C</td>
        <td>&amp;#x228C;</td>
        <td>&amp;#8844;</td>
        <td></td>
        <td>\228C</td>
    </tr>
    <tr>
        <td>Multiset Multiplication</td>
        <td title="Multiset Multiplication">⊍&nbsp;</td>
        <td>U+0228D</td>
        <td>&amp;#x228D;</td>
        <td>&amp;#8845;</td>
        <td>&amp;cupdot;</td>
        <td>\228D</td>
    </tr>
    <tr>
        <td>Multiset Union</td>
        <td title="Multiset Union">⊎&nbsp;</td>
        <td>U+0228E</td>
        <td>&amp;#x228E;</td>
        <td>&amp;#8846;</td>
        <td>&amp;uplus;</td>
        <td>\228E</td>
    </tr>
    <tr>
        <td>Square Image Of</td>
        <td title="Square Image Of">⊏&nbsp;</td>
        <td>U+0228F</td>
        <td>&amp;#x228F;</td>
        <td>&amp;#8847;</td>
        <td>&amp;sqsub;</td>
        <td>\228F</td>
    </tr>
    <tr>
        <td>Square Original Of</td>
        <td title="Square Original Of">⊐&nbsp;</td>
        <td>U+02290</td>
        <td>&amp;#x2290;</td>
        <td>&amp;#8848;</td>
        <td>&amp;sqsup;</td>
        <td>\2290</td>
    </tr>
    <tr>
        <td>Square Image of or Equal To</td>
        <td title="Square Image of or Equal To">⊑&nbsp;</td>
        <td>U+02291</td>
        <td>&amp;#x2291;</td>
        <td>&amp;#8849;</td>
        <td>&amp;sqsube;</td>
        <td>\2291</td>
    </tr>
    <tr>
        <td>Square Original of or Equal To</td>
        <td title="Square Original of or Equal To">⊒&nbsp;</td>
        <td>U+02292</td>
        <td>&amp;#x2292;</td>
        <td>&amp;#8850;</td>
        <td>&amp;sqsupe;</td>
        <td>\2292</td>
    </tr>
    <tr>
        <td>Square Cap</td>
        <td title="Square Cap">⊓&nbsp;</td>
        <td>U+02293</td>
        <td>&amp;#x2293;</td>
        <td>&amp;#8851;</td>
        <td>&amp;sqcap;</td>
        <td>\2293</td>
    </tr>
    <tr>
        <td>Square Cup</td>
        <td title="Square Cup">⊔&nbsp;</td>
        <td>U+02294</td>
        <td>&amp;#x2294;</td>
        <td>&amp;#8852;</td>
        <td>&amp;sqcup;</td>
        <td>\2294</td>
    </tr>
    <tr>
        <td>Circled Plus</td>
        <td title="Circled Plus">⊕&nbsp;</td>
        <td>U+02295</td>
        <td>&amp;#x2295;</td>
        <td>&amp;#8853;</td>
        <td>&amp;oplus;</td>
        <td>\2295</td>
    </tr>
    <tr>
        <td>Circled Minus</td>
        <td title="Circled Minus">⊖&nbsp;</td>
        <td>U+02296</td>
        <td>&amp;#x2296;</td>
        <td>&amp;#8854;</td>
        <td>&amp;ominus;</td>
        <td>\2296</td>
    </tr>
    <tr>
        <td>Circled Times</td>
        <td title="Circled Times">⊗&nbsp;</td>
        <td>U+02297</td>
        <td>&amp;#x2297;</td>
        <td>&amp;#8855;</td>
        <td>&amp;otimes;</td>
        <td>\2297</td>
    </tr>
    <tr>
        <td>Circled Division Slash</td>
        <td title="Circled Division Slash">⊘&nbsp;</td>
        <td>U+02298</td>
        <td>&amp;#x2298;</td>
        <td>&amp;#8856;</td>
        <td>&amp;osol;</td>
        <td>\2298</td>
    </tr>
    <tr>
        <td>Circled Dot Operator</td>
        <td title="Circled Dot Operator">⊙&nbsp;</td>
        <td>U+02299</td>
        <td>&amp;#x2299;</td>
        <td>&amp;#8857;</td>
        <td>&amp;odot;</td>
        <td>\2299</td>
    </tr>
    <tr>
        <td>Circled Ring Operator</td>
        <td title="Circled Ring Operator">⊚&nbsp;</td>
        <td>U+0229A</td>
        <td>&amp;#x229A;</td>
        <td>&amp;#8858;</td>
        <td>&amp;ocir;</td>
        <td>\229A</td>
    </tr>
    <tr>
        <td>Circled Asterisk Operator</td>
        <td title="Circled Asterisk Operator">⊛&nbsp;</td>
        <td>U+0229B</td>
        <td>&amp;#x229B;</td>
        <td>&amp;#8859;</td>
        <td>&amp;oast;</td>
        <td>\229B</td>
    </tr>
    <tr>
        <td>Circled Equals</td>
        <td title="Circled Equals">⊜&nbsp;</td>
        <td>U+0229C</td>
        <td>&amp;#x229C;</td>
        <td>&amp;#8860;</td>
        <td></td>
        <td>\229C</td>
    </tr>
    <tr>
        <td>Circled Dash</td>
        <td title="Circled Dash">⊝&nbsp;</td>
        <td>U+0229D</td>
        <td>&amp;#x229D;</td>
        <td>&amp;#8861;</td>
        <td>&amp;odash;</td>
        <td>\229D</td>
    </tr>
    <tr>
        <td>Squared Plus</td>
        <td title="Squared Plus">⊞&nbsp;</td>
        <td>U+0229E</td>
        <td>&amp;#x229E;</td>
        <td>&amp;#8862;</td>
        <td>&amp;plusb;</td>
        <td>\229E</td>
    </tr>
    <tr>
        <td>Squared Minus</td>
        <td title="Squared Minus">⊟&nbsp;</td>
        <td>U+0229F</td>
        <td>&amp;#x229F;</td>
        <td>&amp;#8863;</td>
        <td>&amp;minusb;</td>
        <td>\229F</td>
    </tr>
    <tr>
        <td>Squared Times</td>
        <td title="Squared Times">⊠&nbsp;</td>
        <td>U+022A0</td>
        <td>&amp;#x22A0;</td>
        <td>&amp;#8864;</td>
        <td>&amp;timesb;</td>
        <td>\22A0</td>
    </tr>
    <tr>
        <td>Squared Dot Operator</td>
        <td title="Squared Dot Operator">⊡&nbsp;</td>
        <td>U+022A1</td>
        <td>&amp;#x22A1;</td>
        <td>&amp;#8865;</td>
        <td>&amp;sdotb;</td>
        <td>\22A1</td>
    </tr>
    <tr>
        <td>Right Tack</td>
        <td title="Right Tack">⊢&nbsp;</td>
        <td>U+022A2</td>
        <td>&amp;#x22A2;</td>
        <td>&amp;#8866;</td>
        <td>&amp;vdash;</td>
        <td>\22A2</td>
    </tr>
    <tr>
        <td>Left Tack</td>
        <td title="Left Tack">⊣&nbsp;</td>
        <td>U+022A3</td>
        <td>&amp;#x22A3;</td>
        <td>&amp;#8867;</td>
        <td>&amp;dashv;</td>
        <td>\22A3</td>
    </tr>
    <tr>
        <td>Down Tack</td>
        <td title="Down Tack">⊤&nbsp;</td>
        <td>U+022A4</td>
        <td>&amp;#x22A4;</td>
        <td>&amp;#8868;</td>
        <td>&amp;top;</td>
        <td>\22A4</td>
    </tr>
    <tr>
        <td>Up Tack</td>
        <td title="Up Tack">⊥&nbsp;</td>
        <td>U+022A5</td>
        <td>&amp;#x22A5;</td>
        <td>&amp;#8869;</td>
        <td>&amp;perp;</td>
        <td>\22A5</td>
    </tr>
    <tr>
        <td>Assertion</td>
        <td title="Assertion">⊦&nbsp;</td>
        <td>U+022A6</td>
        <td>&amp;#x22A6;</td>
        <td>&amp;#8870;</td>
        <td></td>
        <td>\22A6</td>
    </tr>
    <tr>
        <td>Models</td>
        <td title="Models">⊧&nbsp;</td>
        <td>U+022A7</td>
        <td>&amp;#x22A7;</td>
        <td>&amp;#8871;</td>
        <td>&amp;models;</td>
        <td>\22A7</td>
    </tr>
    <tr>
        <td align="center">TRUE</td>
        <td title="True">⊨&nbsp;</td>
        <td>U+022A8</td>
        <td>&amp;#x22A8;</td>
        <td>&amp;#8872;</td>
        <td>&amp;vDash;</td>
        <td>\22A8</td>
    </tr>
    <tr>
        <td>Forces</td>
        <td title="Forces">⊩&nbsp;</td>
        <td>U+022A9</td>
        <td>&amp;#x22A9;</td>
        <td>&amp;#8873;</td>
        <td>&amp;Vdash;</td>
        <td>\22A9</td>
    </tr>
    <tr>
        <td>Triple Vertical Bar Right Turnstile</td>
        <td title="Triple Vertical Bar Right Turnstile">⊪&nbsp;</td>
        <td>U+022AA</td>
        <td>&amp;#x22AA;</td>
        <td>&amp;#8874;</td>
        <td>&amp;Vvdash;</td>
        <td>\22AA</td>
    </tr>
    <tr>
        <td>Double Vertical Bar Double Right Turnstile</td>
        <td title="Double Vertical Bar Double Right Turnstile">⊫&nbsp;</td>
        <td>U+022AB</td>
        <td>&amp;#x22AB;</td>
        <td>&amp;#8875;</td>
        <td>&amp;VDash;</td>
        <td>\22AB</td>
    </tr>
    <tr>
        <td>Does Not Prove</td>
        <td title="Does Not Prove">⊬&nbsp;</td>
        <td>U+022AC</td>
        <td>&amp;#x22AC;</td>
        <td>&amp;#8876;</td>
        <td>&amp;nvdash;</td>
        <td>\22AC</td>
    </tr>
    <tr>
        <td>Not True</td>
        <td title="Not True">⊭&nbsp;</td>
        <td>U+022AD</td>
        <td>&amp;#x22AD;</td>
        <td>&amp;#8877;</td>
        <td>&amp;nvDash;</td>
        <td>\22AD</td>
    </tr>
    <tr>
        <td>Does Not Force</td>
        <td title="Does Not Force">⊮&nbsp;</td>
        <td>U+022AE</td>
        <td>&amp;#x22AE;</td>
        <td>&amp;#8878;</td>
        <td>&amp;nVdash;</td>
        <td>\22AE</td>
    </tr>
    <tr>
        <td>Negated Double Vertical Bar Double Right Turnstile</td>
        <td title="Negated Double Vertical Bar Double Right Turnstile">⊯&nbsp;</td>
        <td>U+022AF</td>
        <td>&amp;#x22AF;</td>
        <td>&amp;#8879;</td>
        <td>&amp;nVDash;</td>
        <td>\22AF</td>
    </tr>
    <tr>
        <td>Precedes Under Relation</td>
        <td title="Precedes Under Relation">⊰&nbsp;</td>
        <td>U+022B0</td>
        <td>&amp;#x22B0;</td>
        <td>&amp;#8880;</td>
        <td>&amp;prurel;</td>
        <td>\22B0</td>
    </tr>
    <tr>
        <td>Succeeds Under Relation</td>
        <td title="Succeeds Under Relation">⊱&nbsp;</td>
        <td>U+022B1</td>
        <td>&amp;#x22B1;</td>
        <td>&amp;#8881;</td>
        <td></td>
        <td>\22B1</td>
    </tr>
    <tr>
        <td>Normal Subgroup Of</td>
        <td title="Normal Subgroup Of">⊲&nbsp;</td>
        <td>U+022B2</td>
        <td>&amp;#x22B2;</td>
        <td>&amp;#8882;</td>
        <td>&amp;vltri;</td>
        <td>\22B2</td>
    </tr>
    <tr>
        <td>Contains as Normal Subgroup</td>
        <td title="Contains as Normal Subgroup">⊳&nbsp;</td>
        <td>U+022B3</td>
        <td>&amp;#x22B3;</td>
        <td>&amp;#8883;</td>
        <td>&amp;vrtri;</td>
        <td>\22B3</td>
    </tr>
    <tr>
        <td>Normal Subgroup of or Equal To</td>
        <td title="Normal Subgroup of or Equal To">⊴&nbsp;</td>
        <td>U+022B4</td>
        <td>&amp;#x22B4;</td>
        <td>&amp;#8884;</td>
        <td>&amp;ltrie;</td>
        <td>\22B4</td>
    </tr>
    <tr>
        <td>Contains as Normal Subgroup or Equal To</td>
        <td title="Contains as Normal Subgroup or Equal To">⊵&nbsp;</td>
        <td>U+022B5</td>
        <td>&amp;#x22B5;</td>
        <td>&amp;#8885;</td>
        <td>&amp;rtrie;</td>
        <td>\22B5</td>
    </tr>
    <tr>
        <td>Original Of</td>
        <td title="Original Of">⊶&nbsp;</td>
        <td>U+022B6</td>
        <td>&amp;#x22B6;</td>
        <td>&amp;#8886;</td>
        <td>&amp;origof;</td>
        <td>\22B6</td>
    </tr>
    <tr>
        <td>Image Of</td>
        <td title="Image Of">⊷&nbsp;</td>
        <td>U+022B7</td>
        <td>&amp;#x22B7;</td>
        <td>&amp;#8887;</td>
        <td>&amp;imof;</td>
        <td>\22B7</td>
    </tr>
    <tr>
        <td>Multimap</td>
        <td title="Multimap">⊸&nbsp;</td>
        <td>U+022B8</td>
        <td>&amp;#x22B8;</td>
        <td>&amp;#8888;</td>
        <td>&amp;mumap;</td>
        <td>\22B8</td>
    </tr>
    <tr>
        <td>Hermitian Conjugate Matrix</td>
        <td title="Hermitian Conjugate Matrix">⊹&nbsp;</td>
        <td>U+022B9</td>
        <td>&amp;#x22B9;</td>
        <td>&amp;#8889;</td>
        <td>&amp;hercon;</td>
        <td>\22B9</td>
    </tr>
    <tr>
        <td>Intercalate</td>
        <td title="Intercalate">⊺&nbsp;</td>
        <td>U+022BA</td>
        <td>&amp;#x22BA;</td>
        <td>&amp;#8890;</td>
        <td>&amp;intcal;</td>
        <td>\22BA</td>
    </tr>
    <tr>
        <td>Xor</td>
        <td title="Xor">⊻&nbsp;</td>
        <td>U+022BB</td>
        <td>&amp;#x22BB;</td>
        <td>&amp;#8891;</td>
        <td>&amp;veebar;</td>
        <td>\22BB</td>
    </tr>
    <tr>
        <td>Nand</td>
        <td title="Nand">⊼&nbsp;</td>
        <td>U+022BC</td>
        <td>&amp;#x22BC;</td>
        <td>&amp;#8892;</td>
        <td></td>
        <td>\22BC</td>
    </tr>
    <tr>
        <td>Nor</td>
        <td title="Nor">⊽&nbsp;</td>
        <td>U+022BD</td>
        <td>&amp;#x22BD;</td>
        <td>&amp;#8893;</td>
        <td>&amp;barvee;</td>
        <td>\22BD</td>
    </tr>
    <tr>
        <td>Right Angle With Arc</td>
        <td title="Right Angle With Arc">⊾&nbsp;</td>
        <td>U+022BE</td>
        <td>&amp;#x22BE;</td>
        <td>&amp;#8894;</td>
        <td>&amp;angrtvb;</td>
        <td>\22BE</td>
    </tr>
    <tr>
        <td>Right Triangle</td>
        <td title="Right Triangle">⊿&nbsp;</td>
        <td>U+022BF</td>
        <td>&amp;#x22BF;</td>
        <td>&amp;#8895;</td>
        <td>&amp;lrtri;</td>
        <td>\22BF</td>
    </tr>
    <tr>
        <td>N-Ary Logical And</td>
        <td title="N-Ary Logical And">⋀&nbsp;</td>
        <td>U+022C0</td>
        <td>&amp;#x22C0;</td>
        <td>&amp;#8896;</td>
        <td>&amp;xwedge;</td>
        <td>\22C0</td>
    </tr>
    <tr>
        <td>N-Ary Logical Or</td>
        <td title="N-Ary Logical Or">⋁&nbsp;</td>
        <td>U+022C1</td>
        <td>&amp;#x22C1;</td>
        <td>&amp;#8897;</td>
        <td>&amp;xvee;</td>
        <td>\22C1</td>
    </tr>
    <tr>
        <td>N-Ary Intersection</td>
        <td title="N-Ary Intersection">⋂&nbsp;</td>
        <td>U+022C2</td>
        <td>&amp;#x22C2;</td>
        <td>&amp;#8898;</td>
        <td>&amp;xcap;</td>
        <td>\22C2</td>
    </tr>
    <tr>
        <td>N-Ary Union</td>
        <td title="N-Ary Union">⋃&nbsp;</td>
        <td>U+022C3</td>
        <td>&amp;#x22C3;</td>
        <td>&amp;#8899;</td>
        <td>&amp;xcup;</td>
        <td>\22C3</td>
    </tr>
    <tr>
        <td>Diamond Operator</td>
        <td title="Diamond Operator">⋄&nbsp;</td>
        <td>U+022C4</td>
        <td>&amp;#x22C4;</td>
        <td>&amp;#8900;</td>
        <td>&amp;diamond;</td>
        <td>\22C4</td>
    </tr>
    <tr>
        <td>Dot Operator</td>
        <td title="Dot Operator">⋅&nbsp;</td>
        <td>U+022C5</td>
        <td>&amp;#x22C5;</td>
        <td>&amp;#8901;</td>
        <td>&amp;sdot;</td>
        <td>\22C5</td>
    </tr>
    <tr>
        <td>Star Operator</td>
        <td title="Star Operator">⋆&nbsp;</td>
        <td>U+022C6</td>
        <td>&amp;#x22C6;</td>
        <td>&amp;#8902;</td>
        <td>&amp;Star;</td>
        <td>\22C6</td>
    </tr>
    <tr>
        <td>Division Times</td>
        <td title="Division Times">⋇&nbsp;</td>
        <td>U+022C7</td>
        <td>&amp;#x22C7;</td>
        <td>&amp;#8903;</td>
        <td>&amp;divonx;</td>
        <td>\22C7</td>
    </tr>
    <tr>
        <td>Bowtie</td>
        <td title="Bowtie">⋈&nbsp;</td>
        <td>U+022C8</td>
        <td>&amp;#x22C8;</td>
        <td>&amp;#8904;</td>
        <td>&amp;bowtie;</td>
        <td>\22C8</td>
    </tr>
    <tr>
        <td>Left Normal Factor Semidirect Product</td>
        <td title="Left Normal Factor Semidirect Product">⋉&nbsp;</td>
        <td>U+022C9</td>
        <td>&amp;#x22C9;</td>
        <td>&amp;#8905;</td>
        <td>&amp;ltimes;</td>
        <td>\22C9</td>
    </tr>
    <tr>
        <td>Right Normal Factor Semidirect Product</td>
        <td title="Right Normal Factor Semidirect Product">⋊&nbsp;</td>
        <td>U+022CA</td>
        <td>&amp;#x22CA;</td>
        <td>&amp;#8906;</td>
        <td>&amp;rtimes;</td>
        <td>\22CA</td>
    </tr>
    <tr>
        <td>Left Semidirect Product</td>
        <td title="Left Semidirect Product">⋋&nbsp;</td>
        <td>U+022CB</td>
        <td>&amp;#x22CB;</td>
        <td>&amp;#8907;</td>
        <td>&amp;lthree;</td>
        <td>\22CB</td>
    </tr>
    <tr>
        <td>Right Semidirect Product</td>
        <td title="Right Semidirect Product">⋌&nbsp;</td>
        <td>U+022CC</td>
        <td>&amp;#x22CC;</td>
        <td>&amp;#8908;</td>
        <td>&amp;rthree;</td>
        <td>\22CC</td>
    </tr>
    <tr>
        <td>Reversed Tilde Equals</td>
        <td title="Reversed Tilde Equals">⋍&nbsp;</td>
        <td>U+022CD</td>
        <td>&amp;#x22CD;</td>
        <td>&amp;#8909;</td>
        <td>&amp;bsime;</td>
        <td>\22CD</td>
    </tr>
    <tr>
        <td>Curly Logical Or</td>
        <td title="Curly Logical Or">⋎&nbsp;</td>
        <td>U+022CE</td>
        <td>&amp;#x22CE;</td>
        <td>&amp;#8910;</td>
        <td>&amp;cuvee;</td>
        <td>\22CE</td>
    </tr>
    <tr>
        <td>Curly Logical And</td>
        <td title="Curly Logical And">⋏&nbsp;</td>
        <td>U+022CF</td>
        <td>&amp;#x22CF;</td>
        <td>&amp;#8911;</td>
        <td>&amp;cuwed;</td>
        <td>\22CF</td>
    </tr>
    <tr>
        <td>Double Subset</td>
        <td title="Double Subset">⋐&nbsp;</td>
        <td>U+022D0</td>
        <td>&amp;#x22D0;</td>
        <td>&amp;#8912;</td>
        <td>&amp;Sub;</td>
        <td>\22D0</td>
    </tr>
    <tr>
        <td>Double Superset</td>
        <td title="Double Superset">⋑&nbsp;</td>
        <td>U+022D1</td>
        <td>&amp;#x22D1;</td>
        <td>&amp;#8913;</td>
        <td>&amp;Sup;</td>
        <td>\22D1</td>
    </tr>
    <tr>
        <td>Double Intersection</td>
        <td title="Double Intersection">⋒&nbsp;</td>
        <td>U+022D2</td>
        <td>&amp;#x22D2;</td>
        <td>&amp;#8914;</td>
        <td>&amp;Cap;</td>
        <td>\22D2</td>
    </tr>
    <tr>
        <td>Double Union</td>
        <td title="Double Union">⋓&nbsp;</td>
        <td>U+022D3</td>
        <td>&amp;#x22D3;</td>
        <td>&amp;#8915;</td>
        <td>&amp;Cup;</td>
        <td>\22D3</td>
    </tr>
    <tr>
        <td>Pitchfork</td>
        <td title="Pitchfork">⋔&nbsp;</td>
        <td>U+022D4</td>
        <td>&amp;#x22D4;</td>
        <td>&amp;#8916;</td>
        <td>&amp;fork;</td>
        <td>\22D4</td>
    </tr>
    <tr>
        <td>Equal and Parallel To</td>
        <td title="Equal and Parallel To">⋕&nbsp;</td>
        <td>U+022D5</td>
        <td>&amp;#x22D5;</td>
        <td>&amp;#8917;</td>
        <td>&amp;epar;</td>
        <td>\22D5</td>
    </tr>
    <tr>
        <td>Less-Than With Dot</td>
        <td title="Less-Than With Dot">⋖&nbsp;</td>
        <td>U+022D6</td>
        <td>&amp;#x22D6;</td>
        <td>&amp;#8918;</td>
        <td>&amp;ltdot;</td>
        <td>\22D6</td>
    </tr>
    <tr>
        <td>Greater-Than With Dot</td>
        <td title="Greater-Than With Dot">⋗&nbsp;</td>
        <td>U+022D7</td>
        <td>&amp;#x22D7;</td>
        <td>&amp;#8919;</td>
        <td>&amp;gtdot;</td>
        <td>\22D7</td>
    </tr>
    <tr>
        <td>Very Much Less-Than</td>
        <td title="Very Much Less-Than">⋘&nbsp;</td>
        <td>U+022D8</td>
        <td>&amp;#x22D8;</td>
        <td>&amp;#8920;</td>
        <td>&amp;Ll;</td>
        <td>\22D8</td>
    </tr>
    <tr>
        <td>Very Much Greater-Than</td>
        <td title="Very Much Greater-Than">⋙&nbsp;</td>
        <td>U+022D9</td>
        <td>&amp;#x22D9;</td>
        <td>&amp;#8921;</td>
        <td>&amp;Gg;</td>
        <td>\22D9</td>
    </tr>
    <tr>
        <td>Less-Than Equal to or Greater-Than</td>
        <td title="Less-Than Equal to or Greater-Than">⋚&nbsp;</td>
        <td>U+022DA</td>
        <td>&amp;#x22DA;</td>
        <td>&amp;#8922;</td>
        <td>&amp;leg;</td>
        <td>\22DA</td>
    </tr>
    <tr>
        <td>Greater-Than Equal to or Less-Than</td>
        <td title="Greater-Than Equal to or Less-Than">⋛&nbsp;</td>
        <td>U+022DB</td>
        <td>&amp;#x22DB;</td>
        <td>&amp;#8923;</td>
        <td>&amp;gel;</td>
        <td>\22DB</td>
    </tr>
    <tr>
        <td>Equal to or Precedes</td>
        <td title="Equal to or Precedes">⋞&nbsp;</td>
        <td>U+022DE</td>
        <td>&amp;#x22DE;</td>
        <td>&amp;#8926;</td>
        <td>&amp;cuepr;</td>
        <td>\22DE</td>
    </tr>
    <tr>
        <td>Equal to or Succeeds</td>
        <td title="Equal to or Succeeds">⋟&nbsp;</td>
        <td>U+022DF</td>
        <td>&amp;#x22DF;</td>
        <td>&amp;#8927;</td>
        <td>&amp;cuesc;</td>
        <td>\22DF</td>
    </tr>
    <tr>
        <td>Does Not Precede or Equal</td>
        <td title="Does Not Precede or Equal">⋠&nbsp;</td>
        <td>U+022E0</td>
        <td>&amp;#x22E0;</td>
        <td>&amp;#8928;</td>
        <td>&amp;nprcue;</td>
        <td>\22E0</td>
    </tr>
    <tr>
        <td>Does Not Succeed or Equal</td>
        <td title="Does Not Succeed or Equal">⋡&nbsp;</td>
        <td>U+022E1</td>
        <td>&amp;#x22E1;</td>
        <td>&amp;#8929;</td>
        <td>&amp;nsccue;</td>
        <td>\22E1</td>
    </tr>
    <tr>
        <td>Not Square Image of or Equal To</td>
        <td title="Not Square Image of or Equal To">⋢&nbsp;</td>
        <td>U+022E2</td>
        <td>&amp;#x22E2;</td>
        <td>&amp;#8930;</td>
        <td>&amp;nsqsube;</td>
        <td>\22E2</td>
    </tr>
    <tr>
        <td>Not Square Original of or Equal To</td>
        <td title="Not Square Original of or Equal To">⋣&nbsp;</td>
        <td>U+022E3</td>
        <td>&amp;#x22E3;</td>
        <td>&amp;#8931;</td>
        <td>&amp;nsqsupe;</td>
        <td>\22E3</td>
    </tr>
    <tr>
        <td>Square Image of or Not Equal To</td>
        <td title="Square Image of or Not Equal To">⋤&nbsp;</td>
        <td>U+022E4</td>
        <td>&amp;#x22E4;</td>
        <td>&amp;#8932;</td>
        <td></td>
        <td>\22E4</td>
    </tr>
    <tr>
        <td>Square Original of or Not Equal To</td>
        <td title="Square Original of or Not Equal To">⋥&nbsp;</td>
        <td>U+022E5</td>
        <td>&amp;#x22E5;</td>
        <td>&amp;#8933;</td>
        <td></td>
        <td>\22E5</td>
    </tr>
    <tr>
        <td>Less-Than but Not Equivalent To</td>
        <td title="Less-Than but Not Equivalent To">⋦&nbsp;</td>
        <td>U+022E6</td>
        <td>&amp;#x22E6;</td>
        <td>&amp;#8934;</td>
        <td>&amp;lnsim;</td>
        <td>\22E6</td>
    </tr>
    <tr>
        <td>Greater-Than but Not Equivalent To</td>
        <td title="Greater-Than but Not Equivalent To">⋧&nbsp;</td>
        <td>U+022E7</td>
        <td>&amp;#x22E7;</td>
        <td>&amp;#8935;</td>
        <td>&amp;gnsim;</td>
        <td>\22E7</td>
    </tr>
    <tr>
        <td>Precedes but Not Equivalent To</td>
        <td title="Precedes but Not Equivalent To">⋨&nbsp;</td>
        <td>U+022E8</td>
        <td>&amp;#x22E8;</td>
        <td>&amp;#8936;</td>
        <td>&amp;prnsim;</td>
        <td>\22E8</td>
    </tr>
    <tr>
        <td>Succeeds but Not Equivalent To</td>
        <td title="Succeeds but Not Equivalent To">⋩&nbsp;</td>
        <td>U+022E9</td>
        <td>&amp;#x22E9;</td>
        <td>&amp;#8937;</td>
        <td>&amp;scnsim;</td>
        <td>\22E9</td>
    </tr>
    <tr>
        <td>Not Normal Subgroup Of</td>
        <td title="Not Normal Subgroup Of">⋪&nbsp;</td>
        <td>U+022EA</td>
        <td>&amp;#x22EA;</td>
        <td>&amp;#8938;</td>
        <td>&amp;nltri;</td>
        <td>\22EA</td>
    </tr>
    <tr>
        <td>Does Not Contain as Normal Subgroup</td>
        <td title="Does Not Contain as Normal Subgroup">⋫&nbsp;</td>
        <td>U+022EB</td>
        <td>&amp;#x22EB;</td>
        <td>&amp;#8939;</td>
        <td>&amp;nrtri;</td>
        <td>\22EB</td>
    </tr>
    <tr>
        <td>Not Normal Subgroup of or Equal To</td>
        <td title="Not Normal Subgroup of or Equal To">⋬&nbsp;</td>
        <td>U+022EC</td>
        <td>&amp;#x22EC;</td>
        <td>&amp;#8940;</td>
        <td>&amp;nltrie;</td>
        <td>\22EC</td>
    </tr>
    <tr>
        <td>Does Not Contain as Normal Subgroup or Equal</td>
        <td title="Does Not Contain as Normal Subgroup or Equal">⋭&nbsp;</td>
        <td>U+022ED</td>
        <td>&amp;#x22ED;</td>
        <td>&amp;#8941;</td>
        <td>&amp;nrtrie;</td>
        <td>\22ED</td>
    </tr>
    <tr>
        <td>Vertical Ellipsis</td>
        <td title="Vertical Ellipsis">⋮&nbsp;</td>
        <td>U+022EE</td>
        <td>&amp;#x22EE;</td>
        <td>&amp;#8942;</td>
        <td>&amp;vellip;</td>
        <td>\22EE</td>
    </tr>
    <tr>
        <td>Midline Horizontal Ellipsis</td>
        <td title="Midline Horizontal Ellipsis">⋯&nbsp;</td>
        <td>U+022EF</td>
        <td>&amp;#x22EF;</td>
        <td>&amp;#8943;</td>
        <td>&amp;ctdot;</td>
        <td>\22EF</td>
    </tr>
    <tr>
        <td>Up Right Diagonal Ellipsis</td>
        <td title="Up Right Diagonal Ellipsis">⋰&nbsp;</td>
        <td>U+022F0</td>
        <td>&amp;#x22F0;</td>
        <td>&amp;#8944;</td>
        <td>&amp;utdot;</td>
        <td>\22F0</td>
    </tr>
    <tr>
        <td>Down Right Diagonal Ellipsis</td>
        <td title="Down Right Diagonal Ellipsis">⋱&nbsp;</td>
        <td>U+022F1</td>
        <td>&amp;#x22F1;</td>
        <td>&amp;#8945;</td>
        <td>&amp;dtdot;</td>
        <td>\22F1</td>
    </tr>
    <tr>
        <td>Element of With Long Horizontal Stroke</td>
        <td title="Element of With Long Horizontal Stroke">⋲&nbsp;</td>
        <td>U+022F2</td>
        <td>&amp;#x22F2;</td>
        <td>&amp;#8946;</td>
        <td>&amp;disin;</td>
        <td>\22F2</td>
    </tr>
    <tr>
        <td>Element of With Vertical Bar at End of Horizontal    Stroke</td>
        <td title="Element of With Vertical Bar at End of Horizontal Stroke">⋳&nbsp;</td>
        <td>U+022F3</td>
        <td>&amp;#x22F3;</td>
        <td>&amp;#8947;</td>
        <td>&amp;isinsv;</td>
        <td>\22F3</td>
    </tr>
    <tr>
        <td>Small Element of With Vertical Bar at End of    Horizontal Stroke</td>
        <td title="Small Element of With Vertical Bar at End of Horizontal Stroke">⋴&nbsp;</td>
        <td>U+022F4</td>
        <td>&amp;#x22F4;</td>
        <td>&amp;#8948;</td>
        <td>&amp;isins;</td>
        <td>\22F4</td>
    </tr>
    <tr>
        <td>Element of With Dot Above</td>
        <td title="Element of With Dot Above">⋵&nbsp;</td>
        <td>U+022F5</td>
        <td>&amp;#x22F5;</td>
        <td>&amp;#8949;</td>
        <td>&amp;isindot;</td>
        <td>\22F5</td>
    </tr>
    <tr>
        <td>Element of With Overbar</td>
        <td title="Element of With Overbar">⋶&nbsp;</td>
        <td>U+022F6</td>
        <td>&amp;#x22F6;</td>
        <td>&amp;#8950;</td>
        <td>&amp;notinvc;</td>
        <td>\22F6</td>
    </tr>
    <tr>
        <td>Small Element of With Overbar</td>
        <td title="Small Element of With Overbar">⋷&nbsp;</td>
        <td>U+022F7</td>
        <td>&amp;#x22F7;</td>
        <td>&amp;#8951;</td>
        <td>&amp;notinvb;</td>
        <td>\22F7</td>
    </tr>
    <tr>
        <td>Element of With Underbar</td>
        <td title="Element of With Underbar">⋸&nbsp;</td>
        <td>U+022F8</td>
        <td>&amp;#x22F8;</td>
        <td>&amp;#8952;</td>
        <td></td>
        <td>\22F8</td>
    </tr>
    <tr>
        <td>Element of With Two Horizontal Strokes</td>
        <td title="Element of With Two Horizontal Strokes">⋹&nbsp;</td>
        <td>U+022F9</td>
        <td>&amp;#x22F9;</td>
        <td>&amp;#8953;</td>
        <td>&amp;isinE;</td>
        <td>\22F9</td>
    </tr>
    <tr>
        <td>Contains With Long Horizontal Stroke</td>
        <td title="Contains With Long Horizontal Stroke">⋺&nbsp;</td>
        <td>U+022FA</td>
        <td>&amp;#x22FA;</td>
        <td>&amp;#8954;</td>
        <td>&amp;nisd;</td>
        <td>\22FA</td>
    </tr>
    <tr>
        <td>Contains With Vertical Bar at End of Horizontal    Stroke</td>
        <td title="Contains With Vertical Bar at End of Horizontal Stroke">⋻&nbsp;</td>
        <td>U+022FB</td>
        <td>&amp;#x22FB;</td>
        <td>&amp;#8955;</td>
        <td>&amp;xnis;</td>
        <td>\22FB</td>
    </tr>
    <tr>
        <td>Small Contains With Vertical Bar at End of    Horizontal Stroke</td>
        <td title="Small Contains With Vertical Bar at End of Horizontal Stroke">⋼&nbsp;</td>
        <td>U+022FC</td>
        <td>&amp;#x22FC;</td>
        <td>&amp;#8956;</td>
        <td>&amp;nis;</td>
        <td>\22FC</td>
    </tr>
    <tr>
        <td>Contains With Overbar</td>
        <td title="Contains With Overbar">⋽&nbsp;</td>
        <td>U+022FD</td>
        <td>&amp;#x22FD;</td>
        <td>&amp;#8957;</td>
        <td>&amp;notnivc;</td>
        <td>\22FD</td>
    </tr>
    <tr>
        <td>Small Contains With Overbar</td>
        <td title="Small Contains With Overbar">⋾&nbsp;</td>
        <td>U+022FE</td>
        <td>&amp;#x22FE;</td>
        <td>&amp;#8958;</td>
        <td>&amp;notnivb;</td>
        <td>\22FE</td>
    </tr>
    <tr>
        <td>Z Notation Bag Membership</td>
        <td title="Z Notation Bag Membership">⋿&nbsp;</td>
        <td>U+022FF</td>
        <td>&amp;#x22FF;</td>
        <td>&amp;#8959;</td>
        <td></td>
        <td>\22FF</td>
    </tr>
    <tr>
        <td>Superscript Zero</td>
        <td title="Superscript Zero">⁰&nbsp;</td>
        <td>U+02070</td>
        <td>&amp;#x2070;</td>
        <td>&amp;#8304;</td>
        <td></td>
        <td>\2070</td>
    </tr>
    <tr>
        <td>Superscript Latin Small Letter I</td>
        <td title="Superscript Latin Small Letter I">ⁱ&nbsp;</td>
        <td>U+02071</td>
        <td>&amp;#x2071;</td>
        <td>&amp;#8305;</td>
        <td></td>
        <td>\2071</td>
    </tr>
    <tr>
        <td>Superscript Four</td>
        <td title="Superscript Four">⁴&nbsp;</td>
        <td>U+02074</td>
        <td>&amp;#x2074;</td>
        <td>&amp;#8308;</td>
        <td></td>
        <td>\2074</td>
    </tr>
    <tr>
        <td>Superscript Five</td>
        <td title="Superscript Five">⁵&nbsp;</td>
        <td>U+02075</td>
        <td>&amp;#x2075;</td>
        <td>&amp;#8309;</td>
        <td></td>
        <td>\2075</td>
    </tr>
    <tr>
        <td>Superscript Six</td>
        <td title="Superscript Six">⁶&nbsp;</td>
        <td>U+02076</td>
        <td>&amp;#x2076;</td>
        <td>&amp;#8310;</td>
        <td></td>
        <td>\2076</td>
    </tr>
    <tr>
        <td>Superscript Seven</td>
        <td title="Superscript Seven">⁷&nbsp;</td>
        <td>U+02077</td>
        <td>&amp;#x2077;</td>
        <td>&amp;#8311;</td>
        <td></td>
        <td>\2077</td>
    </tr>
    <tr>
        <td>Superscript Eight</td>
        <td title="Superscript Eight">⁸&nbsp;</td>
        <td>U+02078</td>
        <td>&amp;#x2078;</td>
        <td>&amp;#8312;</td>
        <td></td>
        <td>\2078</td>
    </tr>
    <tr>
        <td>Superscript Nine</td>
        <td title="Superscript Nine">⁹&nbsp;</td>
        <td>U+02079</td>
        <td>&amp;#x2079;</td>
        <td>&amp;#8313;</td>
        <td></td>
        <td>\2079</td>
    </tr>
    <tr>
        <td>Superscript Plus Sign</td>
        <td title="Superscript Plus Sign">⁺&nbsp;</td>
        <td>U+0207A</td>
        <td>&amp;#x207A;</td>
        <td>&amp;#8314;</td>
        <td></td>
        <td>\207A</td>
    </tr>
    <tr>
        <td>Superscript Minus</td>
        <td title="Superscript Minus">⁻&nbsp;</td>
        <td>U+0207B</td>
        <td>&amp;#x207B;</td>
        <td>&amp;#8315;</td>
        <td></td>
        <td>\207B</td>
    </tr>
    <tr>
        <td>Superscript Equals Sign</td>
        <td title="Superscript Equals Sign">⁼&nbsp;</td>
        <td>U+0207C</td>
        <td>&amp;#x207C;</td>
        <td>&amp;#8316;</td>
        <td></td>
        <td>\207C</td>
    </tr>
    <tr>
        <td>Superscript Left Parenthesis</td>
        <td title="Superscript Left Parenthesis">⁽&nbsp;</td>
        <td>U+0207D</td>
        <td>&amp;#x207D;</td>
        <td>&amp;#8317;</td>
        <td></td>
        <td>\207D</td>
    </tr>
    <tr>
        <td>Superscript Right Parenthesis</td>
        <td title="Superscript Right Parenthesis">⁾&nbsp;</td>
        <td>U+0207E</td>
        <td>&amp;#x207E;</td>
        <td>&amp;#8318;</td>
        <td></td>
        <td>\207E</td>
    </tr>
    <tr>
        <td>Superscript Latin Small Letter N</td>
        <td title="Superscript Latin Small Letter N">ⁿ&nbsp;</td>
        <td>U+0207F</td>
        <td>&amp;#x207F;</td>
        <td>&amp;#8319;</td>
        <td></td>
        <td>\207F</td>
    </tr>
    <tr>
        <td>Subscript Zero</td>
        <td title="Subscript Zero">₀&nbsp;</td>
        <td>U+02080</td>
        <td>&amp;#x2080;</td>
        <td>&amp;#8320;</td>
        <td></td>
        <td>\2080</td>
    </tr>
    <tr>
        <td>Subscript One</td>
        <td title="Subscript One">₁&nbsp;</td>
        <td>U+02081</td>
        <td>&amp;#x2081;</td>
        <td>&amp;#8321;</td>
        <td></td>
        <td>\2081</td>
    </tr>
    <tr>
        <td>Subscript Two</td>
        <td title="Subscript Two">₂&nbsp;</td>
        <td>U+02082</td>
        <td>&amp;#x2082;</td>
        <td>&amp;#8322;</td>
        <td></td>
        <td>\2082</td>
    </tr>
    <tr>
        <td>Subscript Three</td>
        <td title="Subscript Three">₃&nbsp;</td>
        <td>U+02083</td>
        <td>&amp;#x2083;</td>
        <td>&amp;#8323;</td>
        <td></td>
        <td>\2083</td>
    </tr>
    <tr>
        <td>Subscript Four</td>
        <td title="Subscript Four">₄&nbsp;</td>
        <td>U+02084</td>
        <td>&amp;#x2084;</td>
        <td>&amp;#8324;</td>
        <td></td>
        <td>\2084</td>
    </tr>
    <tr>
        <td>Subscript Five</td>
        <td title="Subscript Five">₅&nbsp;</td>
        <td>U+02085</td>
        <td>&amp;#x2085;</td>
        <td>&amp;#8325;</td>
        <td></td>
        <td>\2085</td>
    </tr>
    <tr>
        <td>Subscript Six</td>
        <td title="Subscript Six">₆&nbsp;</td>
        <td>U+02086</td>
        <td>&amp;#x2086;</td>
        <td>&amp;#8326;</td>
        <td></td>
        <td>\2086</td>
    </tr>
    <tr>
        <td>Subscript Seven</td>
        <td title="Subscript Seven">₇&nbsp;</td>
        <td>U+02087</td>
        <td>&amp;#x2087;</td>
        <td>&amp;#8327;</td>
        <td></td>
        <td>\2087</td>
    </tr>
    <tr>
        <td>Subscript Eight</td>
        <td title="Subscript Eight">₈&nbsp;</td>
        <td>U+02088</td>
        <td>&amp;#x2088;</td>
        <td>&amp;#8328;</td>
        <td></td>
        <td>\2088</td>
    </tr>
    <tr>
        <td>Subscript Nine</td>
        <td title="Subscript Nine">₉&nbsp;</td>
        <td>U+02089</td>
        <td>&amp;#x2089;</td>
        <td>&amp;#8329;</td>
        <td></td>
        <td>\2089</td>
    </tr>
    <tr>
        <td>Subscript Plus Sign</td>
        <td title="Subscript Plus Sign">₊&nbsp;</td>
        <td>U+0208A</td>
        <td>&amp;#x208A;</td>
        <td>&amp;#8330;</td>
        <td></td>
        <td>\208A</td>
    </tr>
    <tr>
        <td>Subscript Minus</td>
        <td title="Subscript Minus">₋&nbsp;</td>
        <td>U+0208B</td>
        <td>&amp;#x208B;</td>
        <td>&amp;#8331;</td>
        <td></td>
        <td>\208B</td>
    </tr>
    <tr>
        <td>Subscript Equals Sign</td>
        <td title="Subscript Equals Sign">₌&nbsp;</td>
        <td>U+0208C</td>
        <td>&amp;#x208C;</td>
        <td>&amp;#8332;</td>
        <td></td>
        <td>\208C</td>
    </tr>
    <tr>
        <td>Subscript Left Parenthesis</td>
        <td title="Subscript Left Parenthesis">₍&nbsp;</td>
        <td>U+0208D</td>
        <td>&amp;#x208D;</td>
        <td>&amp;#8333;</td>
        <td></td>
        <td>\208D</td>
    </tr>
    <tr>
        <td>Subscript Right Parenthesis</td>
        <td title="Subscript Right Parenthesis">₎&nbsp;</td>
        <td>U+0208E</td>
        <td>&amp;#x208E;</td>
        <td>&amp;#8334;</td>
        <td></td>
        <td>\208E</td>
    </tr>
    <tr>
        <td>Latin Subscript Small Letter A</td>
        <td title="Latin Subscript Small Letter A">ₐ&nbsp;</td>
        <td>U+02090</td>
        <td>&amp;#x2090;</td>
        <td>&amp;#8336;</td>
        <td></td>
        <td>\2090</td>
    </tr>
    <tr>
        <td>Latin Subscript Small Letter E</td>
        <td title="Latin Subscript Small Letter E">ₑ&nbsp;</td>
        <td>U+02091</td>
        <td>&amp;#x2091;</td>
        <td>&amp;#8337;</td>
        <td></td>
        <td>\2091</td>
    </tr>
    <tr>
        <td>Latin Subscript Small Letter O</td>
        <td title="Latin Subscript Small Letter O">ₒ&nbsp;</td>
        <td>U+02092</td>
        <td>&amp;#x2092;</td>
        <td>&amp;#8338;</td>
        <td></td>
        <td>\2092</td>
    </tr>
    <tr>
        <td>Latin Subscript Small Letter X</td>
        <td title="Latin Subscript Small Letter X">ₓ&nbsp;</td>
        <td>U+02093</td>
        <td>&amp;#x2093;</td>
        <td>&amp;#8339;</td>
        <td></td>
        <td>\2093</td>
    </tr>
    <tr>
        <td>Latin Subscript Small Letter Schwa</td>
        <td title="Latin Subscript Small Letter Schwa">ₔ&nbsp;</td>
        <td>U+02094</td>
        <td>&amp;#x2094;</td>
        <td>&amp;#8340;</td>
        <td></td>
        <td>\2094</td>
    </tr>
    </tbody>
</table>
<figcaption>
    Table Credit: <a href="https://www.calculators.org/math/html-math.php">www.calculators.org</a>
</figcaption>