
<style> 
    .LIpost{
        width: 628px;
        height: 1200px;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 100px;
        
    }
</style>
<div class="LIpost">
        <h2>CSS</h2>
        <h3>Fonts</h3>
        <h3>Change the font to change the style</h3>
        <h2 style="font-size: 10px; font-family: 'orbitron', sans-serif;">
            From <span class="text-warning">alecscripts.com</span>
        </h2>
    
</div>
