
<style> 
    .LIpost{
        width: 628px;
        height: 1200px;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 100px;
        font-size: 100px;
        line-height: 100px;
    }
</style>s
<p class="LIpost">
    functools. <span class="text-danger">reduce()</span>
    <br><br>
    <span style="line-height: 50px; font-family: monospace; font-size: 25px;">
        Combine values from 
        left to right based on a 
        function
    </span>
</div>
