


<h2>
    Document metadata
</h2>

@{
    char lt = '<';
    char gt = '>';
}

<script>
function getTags(){    
    let tags = document.getElementsByClassName("tagFormat");
    let s = "";
    for (let tag of tags){
        s += tag.textContent.replace(/< /g, "")
        .replace(/ >/g, "").replace(/ /, "");
    }
    document.getElementById("allTags").textContent = s;
}
</script>

            <p class="tagFormat">
                @lt base @gt
            </p>
            <p>
                Acts as a base url that can only 
                be used once.
            </p>
             <p class="tagFormat">
                @lt head @gt
            </p>
            <p>
                Contains specific details about the document 
                that are read by the computer. 
            </p>
             <p class="tagFormat">
                @lt link @gt
            </p>
            <p>
                Create a pipeline between a document and external resource.
            </p>
             <p class="tagFormat">
                @lt meta @gt
            </p>
            <p>
                Special metadata that cannot be used with other meta-related tags.
            </p>
             <p class="tagFormat">
                @lt Style @gt
            </p>
            <p>
                Style an element inline with CSS.
            </p>
             <p class="tagFormat">
                @lt title @gt
            </p>
            <p>
                Title of the search result on google.
            </p>
    

<h2 >
    Section Root
</h2>

     <p class="tagFormat">
        @lt body @gt 
    </p>
    <p>
        The base or root of all other sectioning 
        elements in a given document.
    </p>
    

<h2>
    Sectioning 
</h2>
     <p class="tagFormat">
      @lt address @gt
    </p>
    <p>
        Used to indicate an address of an entity.
    </p>
     <p class="tagFormat">
      @lt article @gt
    </p>
    <p>
        A writing that is its own entity, or can be separated from the document, e.g. a blog post, 
        news article, etc..
    </p>
     <p class="tagFormat">
      @lt aside @gt
    </p>
    <p>
        Where the sidebars and sideads usually go, content that 
        does not directly relate to the main content.
    </p>
     <p class="tagFormat">
      @lt footer @gt
    </p>
    <p>
        Contains the footer which has basic 
        information about the site like 
        copyright and privacy details.
    </p>
     <p class="tagFormat">
      @lt header @gt
    </p>
    <p>
        The introduction or beginning to a section.
    </p>
     <p class="tagFormat">
      @lt h2 @gt @lt h2 @gt @lt h3 @gt @lt h4 @gt @lt h5 @gt @lt h6 @gt
    </p>
    <p>
        Header text that is big and bold depending on the number (1 - 6). 
    </p>
     <p class="tagFormat">
      @lt main @gt
    </p>
    <p>
        Central point of the document that holds 
        the main information.
    </p>
     <p class="tagFormat">
      @lt nav @gt
    </p>
    <p>
        Used for site-navigation through links.
    </p>
     <p class="tagFormat">
      @lt section @gt
    </p>
    <p>
        Section of the document that cannot be grouped up any 
        further.
    </p>

<h2>
    Txt (Text)
</h2>


         <p class="tagFormat">
            @lt blockquote @gt 
        </p>
        <p>
            Contains a long quote from an external source. 
        </p>
         <p class="tagFormat">
            @lt div @gt 
        </p>
        <p>
            Div acts as a separator in documents to organize them, usually 
            done with bootstrap containers. 
        </p>
         <p class="tagFormat">
            @lt dd @gt 
        </p>
        <p>
            Child of @lt dl @gt that represents the data of a @lt dt @gt (description list).
        </p>
         <p class="tagFormat">
            @lt dl @gt 
        </p>
        <p>
            Description list that holds other @lt d* @gt tags.
        </p>
         <p class="tagFormat">
            @lt dt @gt 
        </p>
        <p>
            Is a term that must be connected to a @lt dl @gt element.
        </p>
         <p class="tagFormat">
            @lt figcaption @gt 
        </p>
        <p>
            Describes a parent figure element that is useful to crawlers.
        </p>
         <p class="tagFormat">
            @lt figure @gt 
        </p>
        <p>
            A reflective unit that combines its caption with its 
            content.
        </p>
         <p class="tagFormat">
            @lt hr @gt 
        </p>
        <p>
            Horizontal rule that breaks apart new sections in a story.
        </p>
         <p class="tagFormat">
            @lt ul @gt 
        </p>
        <p>
            Unordered list that contains @lt li @gt 's (list items).
        </p>
         <p class="tagFormat">
            @lt ol @gt 
        </p>
        <p>
            Ordered list that is usually numbered.
        </p>
         <p class="tagFormat">
            @lt li @gt 
        </p>
        <p>
            List item of an ordered or unordered list that contains the data.
        </p>
         <p class="tagFormat">
            @lt p @gt 
        </p>
        <p>
            Defines a new paragraph and start on a newline.
        </p>
         <p class="tagFormat">
            @lt pre @gt 
        </p>
        <p>
            Used to display pre-formatted text like source code. 
        </p>
    

<h2>
    Inline text
</h2>

         <p class="tagFormat">
            @lt a @gt 
        </p>
        <p>
            Reference to something else on the document or to an external URL using an <code> href </code> attribute.
        </p>
         <p class="tagFormat">
            @lt abbr @gt 
        </p>
        <p>
            An abbreviation or acronym.
        </p>
         <p class="tagFormat">
            @lt b @gt 
        </p>
        <p>
            Bold text.
        </p>
         <p class="tagFormat">
            @lt bdi @gt 
        </p>
        <p>
            Bidirectional isolation.
        </p>
         <p class="tagFormat">
            @lt bdo @gt 
        </p>
        <p>
            Override bidirectional
        </p>
         <p class="tagFormat">
            @lt br @gt 
        </p>
        <p>
            Line-break / carriage-return.
        </p>
         <p class="tagFormat">
            @lt cite @gt 
        </p>
        <p>
            Describe references 
        </p>
         <p class="tagFormat">
            @lt data @gt 
        </p>
        <p>
            Machine-readable translation of content.
        </p>
         <p class="tagFormat">
            @lt dfn @gt 
        </p>
        <p>
            Definition of nearest <code>p</code>, <code>dt/dd</code> or <code>section</code>.
        </p>
         <p class="tagFormat">
            @lt em @gt 
        </p>
        <p>
            Stresses emphasis.
        </p>
         <p class="tagFormat">
            @lt i @gt 
        </p>
        <p>
            <i>Italics</i>  (font-style).
        </p>
         <p class="tagFormat">
            @lt kbd @gt 
        </p>
        <p>
            Keyboard user input.
        </p>
         <p class="tagFormat">
            @lt mark @gt 
        </p>
        <p>
            Marked or highlighted text.
        </p>
         <p class="tagFormat">
            @lt q @gt 
        </p>
        <p>
            Short inline quotation.
        </p>
         <p class="tagFormat">
            @lt rp @gt 
        </p>
        <p>
            Support for () for ruby browsers that do not support ruby annotations.
        </p>
         <p class="tagFormat">
            @lt rt @gt 
        </p>
        <p>
            Text of ruby annotation.
        </p>
         <p class="tagFormat">
            @lt ruby @gt 
        </p>
        <p>
            Small annotations.
        </p>
         <p class="tagFormat">
            @lt s @gt 
        </p>
        <p>
            A strikethrough or line through the middle of text. 
        </p>
         <p class="tagFormat">
            @lt samp @gt 
        </p>
        <p>
            Sample output from executed script. 
        </p>
         <p class="tagFormat">
            @lt small @gt 
        </p>
        <p>
            Side-comments and side-info like copyright info.
        </p>
         <p class="tagFormat">
            @lt span @gt 
        </p>
        <p>
            Basic inline bucket for text and other objects.
        </p>
         <p class="tagFormat">
            @lt strong @gt 
        </p>
        <p>
            Bold text that is strongly important.
        </p>
         <p class="tagFormat">
            @lt sub @gt 
        </p>
        <p>
            Subscript. 
        </p>
         <p class="tagFormat">
            @lt sup @gt 
        </p>
        <p>
            Superscript.
        </p>
         <p class="tagFormat">
            @lt time @gt 
        </p>
        <p>
            Some point in time.
        </p>
         <p class="tagFormat">
            @lt u @gt 
        </p>
        <p>
            Underline
        </p>
         <p class="tagFormat">
            @lt var @gt 
        </p>
        <p>
            Variable in math or programming context.
        </p>
         <p class="tagFormat">
            @lt wbr @gt 
        </p>
        <p>
            Special word breaks.
        </p>
    
    


<h2>
    Media
</h2>


         <p class="tagFormat">
            @lt area @gt 
        </p>
        <p>
            Makes a picture clickable.
        </p>
         <p class="tagFormat">
            @lt audio @gt 
        </p>
        <p>
            Adds a sound to the document with the <code>src</code> attribute.
        </p>
         <p class="tagFormat">
            @lt img @gt 
        </p>
        <p>
            Inserts image/picture into the document.
        </p>
         <p class="tagFormat">
            @lt map @gt 
        </p>
        <p>
            Tied with area to create an "image map".
        </p>
         <p class="tagFormat">
            @lt track @gt 
        </p>
        <p>
            Used with <code>audio</code> and <code>video</code> to time things.
        </p>
         <p class="tagFormat">
            @lt video @gt 
        </p>
        <p>
            Inserts video player into the document.
        </p>
    

<h2>
    Embedded Content
</h2>


         <p class="tagFormat">
            @lt embed @gt 
        </p>
        <p>
            Insert external content.
        </p>
         <p class="tagFormat">
            @lt iframe @gt 
        </p>
        <p>
            Insert external html document into current one.
        </p>
         <p class="tagFormat">
            @lt object @gt 
        </p>
        <p>
            External resource.
        </p>
         <p class="tagFormat">
            @lt picture @gt 
        </p>
        <p>
            Alternative versions of pictures for display purposes.
        </p>
         <p class="tagFormat">
            @lt portal @gt 
        </p>
        <p>Insert another HTML document into current one 
            for good transitioning.</p>
         <p class="tagFormat">
            @lt source @gt 
        </p>
        <p>Multiple resources for media tags like audio and video.</p>
    

<h2>
    SVG and MathML
</h2>


         <p class="tagFormat">
            @lt svg @gt 
        </p>
        <p>
            New bucket that defines a viewport and matrix.
        </p>
         <p class="tagFormat">
            @lt math @gt 
        </p>
        <p>
            Parent to all MathML instances.
        </p>
    


<h2>
    Showing Scripts
</h2>


         <p class="tagFormat">
            @lt canvas @gt 
        </p>
        <p>
            Display graphics/animations.
        </p>
         <p class="tagFormat">
            @lt noscript @gt 
        </p>
        <p>
            Backup for unsupported scripts.
        </p>
         <p class="tagFormat">
            @lt script @gt 
        </p>
        <p>
            Insert javaScript code into document.
        </p>
    

<h2>
    Table
</h2>


         <p class="tagFormat">
            @lt caption @gt 
        </p>
        <p>
            Title of a table.
        </p>
         <p class="tagFormat">
            @lt colgroup @gt 
        </p>
        <p>
            Defines column groups within a table.
        </p>
         <p class="tagFormat">
            @lt table @gt 
        </p>
        <p>
            Tabular data structure with rows and columns.
        </p>
         <p class="tagFormat">
            @lt tbody @gt 
        </p>
        <p>
            Table body.
        </p>
         <p class="tagFormat">
            @lt td @gt 
        </p>
        <p>
            Table data, where the information is stored.
        </p>
         <p class="tagFormat">
            @lt tfoot @gt 
        </p>
        <p>
            Table footer, bottom of the table.
        </p>
         <p class="tagFormat">
            @lt th @gt 
        </p>
        <p>
            Header of table cells.
        </p>
         <p class="tagFormat">
            @lt thead @gt 
        </p>
        <p>
            Container for head rows.
        </p>
         <p class="tagFormat">
            @lt tr @gt 
        </p>
        <p>
            Row in a table.
        </p>
    


<h2>
    Forms
</h2>


         <p class="tagFormat">
            @lt button @gt 
        </p>
        <p>
            Clickable button activated by user.
        </p>
         <p class="tagFormat">
            @lt datalist @gt 
        </p>
        <p>
            Set of options for other controls.
        </p>
         <p class="tagFormat">
            @lt fieldset @gt 
        </p>
        <p>
            Group labels and labels within a web form.
        </p>
         <p class="tagFormat">
            @lt form @gt 
        </p>
        <p>
            Used for user-submitted data. 
        </p>
         <p class="tagFormat">
            @lt input @gt 
        </p>
        <p>
            Controls for <code>form</code> tag.
        </p>
         <p class="tagFormat">
            @lt label @gt 
        </p>
        <p>
            Title of an element in a UI.
        </p>
         <p class="tagFormat">
            @lt legend @gt 
        </p>
        <p>
            Caption for fieldset.
        </p>
         <p class="tagFormat">
            @lt meter @gt 
        </p>
        <p>
            Scalar with a known range or a fractional value .
        </p>
         <p class="tagFormat">
            @lt optgroup @gt 
        </p>
        <p>
            Grouping of options in a <code>select</code> tag.
        </p>
         <p class="tagFormat">
            @lt option @gt 
        </p>
        <p>
            Defines a <code>select</code>, <code>optgroup</code> or <code>datalist</code> element.
        </p>
         <p class="tagFormat">
            @lt output @gt 
        </p>
        <p>
            Inject user-input into document.
        </p>
         <p class="tagFormat">
            @lt progress @gt 
        </p>
        <p>
            Progress-bar like object displaying completion level of a task.
        </p>
         <p class="tagFormat">
            @lt select @gt 
        </p>
        <p>
            Control with a modification menu.
        </p>
         <p class="tagFormat">
            @lt textarea @gt 
        </p>
        <p>
            Large plain-text area for user to give lots 
            of feedback or info.
        </p>


<h2>
    Interactive
</h2>


         <p class="tagFormat">
            @lt details @gt 
        </p>
        <p>
            Information that is not normally displayed but can 
            be turned on.
        </p>
         <p class="tagFormat">
            @lt dialog @gt 
        </p>
        <p>
            Dialog box or text box of some sorts.
        </p>
         <p class="tagFormat">
            @lt summary @gt 
        </p>
        <p>
            Summary or caption for <code>details</code> element. Switches its parent details on and off by click.
        </p>

            @{
string ExampleDetails = @"<p>
    <details>
        Details
        <summary>
            Summary
        </summary>
    </details>
</p>";}
            <p>
                <details>
                    <pre><code class="lang-HTML line-numbers">@ExampleDetails</code></pre>        
                    <summary>
                        Code    
                    </summary>
                </details>


            </p>






<h2>
    Web
</h2>


         <p class="tagFormat">
            @lt slot @gt 
        </p>
        <p>
            Spot for custom markup and separate DOM.
        </p>
         <p class="tagFormat">
            @lt template @gt 
        </p>
        <p>
            Html not to be rendered until told to.
        </p>
    

<script>
    getTags()
</script>