.dancing-script {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.mag {
  font-family: 'UnifrakturMaguntia', cursive; font-size: 35px;
}

.text-1 {
  font-size: 10px;
}

.text-2 {
  font-size: 20px;
}

.text-3 {
  font-size: 30px;
}

.text-4 {
  font-size: 40px;
}

.text-5 {
  font-size: 50px;
}

.text-6 {
  font-size: 60px;
}

.color-Black {
  color: Black;
  background-color: #ffffff;
  border: 1px solid Black;
}

.color-Navy {
  color: Navy;
  background-color: #ffffff;
  border: 1px solid Navy;
}

.color-DarkBlue {
  color: DarkBlue;
  background-color: #ffffff;
  border: 1px solid DarkBlue;
}

.color-MediumBlue {
  color: MediumBlue;
  background-color: #ffffff;
  border: 1px solid MediumBlue;
}

.color-Blue {
  color: Blue;
  background-color: #ffffff;
  border: 1px solid Blue;
}

.color-DarkGreen {
  color: DarkGreen;
  background-color: #ffffff;
  border: 1px solid DarkGreen;
}

.color-Green {
  color: Green;
  background-color: #ffffff;
  border: 1px solid Green;
}

.color-Teal {
  color: Teal;
  background-color: #ffffff;
  border: 1px solid Teal;
}

.color-DarkCyan {
  color: DarkCyan;
  background-color: #ffffff;
  border: 1px solid DarkCyan;
}

.color-DeepSkyBlue {
  color: DeepSkyBlue;
  background-color: black;
  border: 1px solid DeepSkyBlue;
}

.color-DarkTurquoise {
  color: DarkTurquoise;
  background-color: black;
  border: 1px solid DarkTurquoise;
}

.color-MediumSpringGreen {
  color: MediumSpringGreen;
  background-color: black;
  border: 1px solid MediumSpringGreen;
}

.color-Lime {
  color: Lime;
  background-color: #ffffff;
  border: 1px solid Lime;
}

.color-SpringGreen {
  color: SpringGreen;
  background-color: #ffffff;
  border: 1px solid SpringGreen;
}

.color-Aqua {
  color: Aqua;
  background-color: black;
  border: 1px solid Aqua;
}

.color-Cyan {
  color: Cyan;
  background-color: black;
  border: 1px solid Cyan;
}

.color-MidnightBlue {
  color: MidnightBlue;
  background-color: #ffffff;
  border: 1px solid MidnightBlue;
}

.color-DodgerBlue {
  color: DodgerBlue;
  background-color: black;
  border: 1px solid DodgerBlue;
}

.color-LightSeaGreen {
  color: LightSeaGreen;
  background-color: #ffffff;
  border: 1px solid LightSeaGreen;
}

.color-ForestGreen {
  color: ForestGreen;
  background-color: #ffffff;
  border: 1px solid ForestGreen;
}

.color-SeaGreen {
  color: SeaGreen;
  background-color: #ffffff;
  border: 1px solid SeaGreen;
}

.color-DarkSlateGray {
  color: DarkSlateGray;
  background-color: #ffffff;
  border: 1px solid DarkSlateGray;
}

.color-DarkSlateGrey {
  color: DarkSlateGrey;
  background-color: #ffffff;
  border: 1px solid DarkSlateGrey;
}

.color-LimeGreen {
  color: LimeGreen;
  background-color: #ffffff;
  border: 1px solid LimeGreen;
}

.color-MediumSeaGreen {
  color: MediumSeaGreen;
  background-color: #ffffff;
  border: 1px solid MediumSeaGreen;
}

.color-Turquoise {
  color: Turquoise;
  background-color: black;
  border: 1px solid Turquoise;
}

.color-RoyalBlue {
  color: RoyalBlue;
  background-color: black;
  border: 1px solid RoyalBlue;
}

.color-SteelBlue {
  color: SteelBlue;
  background-color: #ffffff;
  border: 1px solid SteelBlue;
}

.color-DarkSlateBlue {
  color: DarkSlateBlue;
  background-color: #ffffff;
  border: 1px solid DarkSlateBlue;
}

.color-MediumTurquoise {
  color: MediumTurquoise;
  background-color: black;
  border: 1px solid MediumTurquoise;
}

.color-Indigo {
  color: Indigo  ;
  background-color: #ffffff;
  border: 1px solid Indigo  ;
}

.color-DarkOliveGreen {
  color: DarkOliveGreen;
  background-color: #ffffff;
  border: 1px solid DarkOliveGreen;
}

.color-CadetBlue {
  color: CadetBlue;
  background-color: black;
  border: 1px solid CadetBlue;
}

.color-CornflowerBlue {
  color: CornflowerBlue;
  background-color: black;
  border: 1px solid CornflowerBlue;
}

.color-RebeccaPurple {
  color: RebeccaPurple;
  background-color: #ffffff;
  border: 1px solid RebeccaPurple;
}

.color-MediumAquaMarine {
  color: MediumAquaMarine;
  background-color: black;
  border: 1px solid MediumAquaMarine;
}

.color-DimGray {
  color: DimGray;
  background-color: #ffffff;
  border: 1px solid DimGray;
}

.color-DimGrey {
  color: DimGrey;
  background-color: #ffffff;
  border: 1px solid DimGrey;
}

.color-SlateBlue {
  color: SlateBlue;
  background-color: black;
  border: 1px solid SlateBlue;
}

.color-OliveDrab {
  color: OliveDrab;
  background-color: #ffffff;
  border: 1px solid OliveDrab;
}

.color-SlateGray {
  color: SlateGray;
  background-color: #ffffff;
  border: 1px solid SlateGray;
}

.color-SlateGrey {
  color: SlateGrey;
  background-color: #ffffff;
  border: 1px solid SlateGrey;
}

.color-LightSlateGray {
  color: LightSlateGray;
  background-color: black;
  border: 1px solid LightSlateGray;
}

.color-LightSlateGrey {
  color: LightSlateGrey;
  background-color: black;
  border: 1px solid LightSlateGrey;
}

.color-MediumSlateBlue {
  color: MediumSlateBlue;
  background-color: black;
  border: 1px solid MediumSlateBlue;
}

.color-LawnGreen {
  color: LawnGreen;
  background-color: #ffffff;
  border: 1px solid LawnGreen;
}

.color-Chartreuse {
  color: Chartreuse;
  background-color: #ffffff;
  border: 1px solid Chartreuse;
}

.color-Aquamarine {
  color: Aquamarine;
  background-color: black;
  border: 1px solid Aquamarine;
}

.color-Maroon {
  color: Maroon;
  background-color: #ffffff;
  border: 1px solid Maroon;
}

.color-Purple {
  color: Purple;
  background-color: #ffffff;
  border: 1px solid Purple;
}

.color-Olive {
  color: Olive;
  background-color: #ffffff;
  border: 1px solid Olive;
}

.color-Gray {
  color: Gray;
  background-color: #ffffff;
  border: 1px solid Gray;
}

.color-Grey {
  color: Grey;
  background-color: #ffffff;
  border: 1px solid Grey;
}

.color-SkyBlue {
  color: SkyBlue;
  background-color: black;
  border: 1px solid SkyBlue;
}

.color-LightSkyBlue {
  color: LightSkyBlue;
  background-color: black;
  border: 1px solid LightSkyBlue;
}

.color-BlueViolet {
  color: BlueViolet;
  background-color: black;
  border: 1px solid BlueViolet;
}

.color-DarkRed {
  color: DarkRed;
  background-color: #ffffff;
  border: 1px solid DarkRed;
}

.color-DarkMagenta {
  color: DarkMagenta;
  background-color: #ffffff;
  border: 1px solid DarkMagenta;
}

.color-SaddleBrown {
  color: SaddleBrown;
  background-color: #ffffff;
  border: 1px solid SaddleBrown;
}

.color-DarkSeaGreen {
  color: DarkSeaGreen;
  background-color: black;
  border: 1px solid DarkSeaGreen;
}

.color-LightGreen {
  color: LightGreen;
  background-color: black;
  border: 1px solid LightGreen;
}

.color-MediumPurple {
  color: MediumPurple;
  background-color: black;
  border: 1px solid MediumPurple;
}

.color-DarkViolet {
  color: DarkViolet;
  background-color: #ffffff;
  border: 1px solid DarkViolet;
}

.color-PaleGreen {
  color: PaleGreen;
  background-color: black;
  border: 1px solid PaleGreen;
}

.color-DarkOrchid {
  color: DarkOrchid;
  background-color: black;
  border: 1px solid DarkOrchid;
}

.color-YellowGreen {
  color: YellowGreen;
  background-color: black;
  border: 1px solid YellowGreen;
}

.color-Sienna {
  color: Sienna;
  background-color: #ffffff;
  border: 1px solid Sienna;
}

.color-Brown {
  color: Brown;
  background-color: #ffffff;
  border: 1px solid Brown;
}

.color-DarkGray {
  color: DarkGray;
  background-color: black;
  border: 1px solid DarkGray;
}

.color-DarkGrey {
  color: DarkGrey;
  background-color: black;
  border: 1px solid DarkGrey;
}

.color-LightBlue {
  color: LightBlue;
  background-color: black;
  border: 1px solid LightBlue;
}

.color-GreenYellow {
  color: GreenYellow;
  background-color: black;
  border: 1px solid GreenYellow;
}

.color-PaleTurquoise {
  color: PaleTurquoise;
  background-color: black;
  border: 1px solid PaleTurquoise;
}

.color-LightSteelBlue {
  color: LightSteelBlue;
  background-color: black;
  border: 1px solid LightSteelBlue;
}

.color-PowderBlue {
  color: PowderBlue;
  background-color: black;
  border: 1px solid PowderBlue;
}

.color-FireBrick {
  color: FireBrick;
  background-color: #ffffff;
  border: 1px solid FireBrick;
}

.color-DarkGoldenRod {
  color: DarkGoldenRod;
  background-color: #ffffff;
  border: 1px solid DarkGoldenRod;
}

.color-MediumOrchid {
  color: MediumOrchid;
  background-color: black;
  border: 1px solid MediumOrchid;
}

.color-RosyBrown {
  color: RosyBrown;
  background-color: black;
  border: 1px solid RosyBrown;
}

.color-DarkKhaki {
  color: DarkKhaki;
  background-color: black;
  border: 1px solid DarkKhaki;
}

.color-Silver {
  color: Silver;
  background-color: black;
  border: 1px solid Silver;
}

.color-MediumVioletRed {
  color: MediumVioletRed;
  background-color: #ffffff;
  border: 1px solid MediumVioletRed;
}

.color-IndianRed {
  color: IndianRed ;
  background-color: black;
  border: 1px solid IndianRed ;
}

.color-Peru {
  color: Peru;
  background-color: black;
  border: 1px solid Peru;
}

.color-Chocolate {
  color: Chocolate;
  background-color: #ffffff;
  border: 1px solid Chocolate;
}

.color-Tan {
  color: Tan;
  background-color: black;
  border: 1px solid Tan;
}

.color-LightGray {
  color: LightGray;
  background-color: black;
  border: 1px solid LightGray;
}

.color-LightGrey {
  color: LightGrey;
  background-color: black;
  border: 1px solid LightGrey;
}

.color-Thistle {
  color: Thistle;
  background-color: black;
  border: 1px solid Thistle;
}

.color-Orchid {
  color: Orchid;
  background-color: black;
  border: 1px solid Orchid;
}

.color-GoldenRod {
  color: GoldenRod;
  background-color: black;
  border: 1px solid GoldenRod;
}

.color-PaleVioletRed {
  color: PaleVioletRed;
  background-color: black;
  border: 1px solid PaleVioletRed;
}

.color-Crimson {
  color: Crimson;
  background-color: #ffffff;
  border: 1px solid Crimson;
}

.color-Gainsboro {
  color: Gainsboro;
  background-color: black;
  border: 1px solid Gainsboro;
}

.color-Plum {
  color: Plum;
  background-color: black;
  border: 1px solid Plum;
}

.color-BurlyWood {
  color: BurlyWood;
  background-color: black;
  border: 1px solid BurlyWood;
}

.color-LightCyan {
  color: LightCyan;
  background-color: black;
  border: 1px solid LightCyan;
}

.color-Lavender {
  color: Lavender;
  background-color: black;
  border: 1px solid Lavender;
}

.color-DarkSalmon {
  color: DarkSalmon;
  background-color: black;
  border: 1px solid DarkSalmon;
}

.color-Violet {
  color: Violet;
  background-color: black;
  border: 1px solid Violet;
}

.color-PaleGoldenRod {
  color: PaleGoldenRod;
  background-color: black;
  border: 1px solid PaleGoldenRod;
}

.color-LightCoral {
  color: LightCoral;
  background-color: black;
  border: 1px solid LightCoral;
}

.color-Khaki {
  color: Khaki;
  background-color: black;
  border: 1px solid Khaki;
}

.color-AliceBlue {
  color: AliceBlue;
  background-color: black;
  border: 1px solid AliceBlue;
}

.color-HoneyDew {
  color: HoneyDew;
  background-color: black;
  border: 1px solid HoneyDew;
}

.color-Azure {
  color: Azure;
  background-color: black;
  border: 1px solid Azure;
}

.color-SandyBrown {
  color: SandyBrown;
  background-color: black;
  border: 1px solid SandyBrown;
}

.color-Wheat {
  color: Wheat;
  background-color: black;
  border: 1px solid Wheat;
}

.color-Beige {
  color: Beige;
  background-color: black;
  border: 1px solid Beige;
}

.color-WhiteSmoke {
  color: WhiteSmoke;
  background-color: black;
  border: 1px solid WhiteSmoke;
}

.color-MintCream {
  color: MintCream;
  background-color: black;
  border: 1px solid MintCream;
}

.color-GhostWhite {
  color: GhostWhite;
  background-color: black;
  border: 1px solid GhostWhite;
}

.color-Salmon {
  color: Salmon;
  background-color: black;
  border: 1px solid Salmon;
}

.color-AntiqueWhite {
  color: AntiqueWhite;
  background-color: black;
  border: 1px solid AntiqueWhite;
}

.color-Linen {
  color: Linen;
  background-color: black;
  border: 1px solid Linen;
}

.color-LightGoldenRodYellow {
  color: LightGoldenRodYellow;
  background-color: black;
  border: 1px solid LightGoldenRodYellow;
}

.color-OldLace {
  color: OldLace;
  background-color: black;
  border: 1px solid OldLace;
}

.color-Red {
  color: Red;
  background-color: #ffffff;
  border: 1px solid Red;
}

.color-Fuchsia {
  color: Fuchsia;
  background-color: black;
  border: 1px solid Fuchsia;
}

.color-Magenta {
  color: Magenta;
  background-color: black;
  border: 1px solid Magenta;
}

.color-DeepPink {
  color: DeepPink;
  background-color: black;
  border: 1px solid DeepPink;
}

.color-OrangeRed {
  color: OrangeRed;
  background-color: #ffffff;
  border: 1px solid OrangeRed;
}

.color-Tomato {
  color: Tomato;
  background-color: black;
  border: 1px solid Tomato;
}

.color-HotPink {
  color: HotPink;
  background-color: black;
  border: 1px solid HotPink;
}

.color-Coral {
  color: Coral;
  background-color: black;
  border: 1px solid Coral;
}

.color-DarkOrange {
  color: DarkOrange;
  background-color: black;
  border: 1px solid DarkOrange;
}

.color-LightSalmon {
  color: LightSalmon;
  background-color: black;
  border: 1px solid LightSalmon;
}

.color-Orange {
  color: Orange;
  background-color: black;
  border: 1px solid Orange;
}

.color-LightPink {
  color: LightPink;
  background-color: black;
  border: 1px solid LightPink;
}

.color-Pink {
  color: Pink;
  background-color: black;
  border: 1px solid Pink;
}

.color-Gold {
  color: Gold;
  background-color: black;
  border: 1px solid Gold;
}

.color-PeachPuff {
  color: PeachPuff;
  background-color: black;
  border: 1px solid PeachPuff;
}

.color-NavajoWhite {
  color: NavajoWhite;
  background-color: black;
  border: 1px solid NavajoWhite;
}

.color-Moccasin {
  color: Moccasin;
  background-color: black;
  border: 1px solid Moccasin;
}

.color-Bisque {
  color: Bisque;
  background-color: black;
  border: 1px solid Bisque;
}

.color-MistyRose {
  color: MistyRose;
  background-color: black;
  border: 1px solid MistyRose;
}

.color-BlanchedAlmond {
  color: BlanchedAlmond;
  background-color: black;
  border: 1px solid BlanchedAlmond;
}

.color-PapayaWhip {
  color: PapayaWhip;
  background-color: black;
  border: 1px solid PapayaWhip;
}

.color-LavenderBlush {
  color: LavenderBlush;
  background-color: black;
  border: 1px solid LavenderBlush;
}

.color-SeaShell {
  color: SeaShell;
  background-color: black;
  border: 1px solid SeaShell;
}

.color-Cornsilk {
  color: Cornsilk;
  background-color: black;
  border: 1px solid Cornsilk;
}

.color-LemonChiffon {
  color: LemonChiffon;
  background-color: black;
  border: 1px solid LemonChiffon;
}

.color-FloralWhite {
  color: FloralWhite;
  background-color: black;
  border: 1px solid FloralWhite;
}

.color-Snow {
  color: Snow;
  background-color: black;
  border: 1px solid Snow;
}

.color-Yellow {
  color: Yellow;
  background-color: black;
  border: 1px solid Yellow;
}

.color-LightYellow {
  color: LightYellow;
  background-color: black;
  border: 1px solid LightYellow;
}

.color-Ivory {
  color: Ivory;
  background-color: black;
  border: 1px solid Ivory;
}

.color-White {
  color: White;
  background-color: black;
  border: 1px solid White;
}

.example {
  background-color: white;
}

.circle-1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.circle-2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.circle-3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}

.circle-4 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
}

.circle-5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
}

.circle-6 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: red;
}

.circle-7 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: red;
}

.circle-8 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: red;
}

.circle-9 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: red;
}

.circle-10 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

.circle-11 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: red;
}

.circle-12 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: red;
}

.circle-13 {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: red;
}

.circle-14 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: red;
}

.circle-15 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: red;
}

.circle-16 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: red;
}

.circle-17 {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: red;
}

.circle-18 {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: red;
}

.circle-19 {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: red;
}

.circle-20 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
}

.btm-border-Black {
  border-bottom: 1px solid Black;
}

.btm-border-Black:hover {
  color: Black;
}

.btm-border-Navy {
  border-bottom: 1px solid Navy;
}

.btm-border-Navy:hover {
  color: Navy;
}

.btm-border-DarkBlue {
  border-bottom: 1px solid DarkBlue;
}

.btm-border-DarkBlue:hover {
  color: DarkBlue;
}

.btm-border-MediumBlue {
  border-bottom: 1px solid MediumBlue;
}

.btm-border-MediumBlue:hover {
  color: MediumBlue;
}

.btm-border-Blue {
  border-bottom: 1px solid Blue;
}

.btm-border-Blue:hover {
  color: Blue;
}

.btm-border-DarkGreen {
  border-bottom: 1px solid DarkGreen;
}

.btm-border-DarkGreen:hover {
  color: DarkGreen;
}

.btm-border-Green {
  border-bottom: 1px solid Green;
}

.btm-border-Green:hover {
  color: Green;
}

.btm-border-Teal {
  border-bottom: 1px solid Teal;
}

.btm-border-Teal:hover {
  color: Teal;
}

.btm-border-DarkCyan {
  border-bottom: 1px solid DarkCyan;
}

.btm-border-DarkCyan:hover {
  color: DarkCyan;
}

.btm-border-DeepSkyBlue {
  border-bottom: 1px solid DeepSkyBlue;
}

.btm-border-DeepSkyBlue:hover {
  color: DeepSkyBlue;
}

.btm-border-DarkTurquoise {
  border-bottom: 1px solid DarkTurquoise;
}

.btm-border-DarkTurquoise:hover {
  color: DarkTurquoise;
}

.btm-border-MediumSpringGreen {
  border-bottom: 1px solid MediumSpringGreen;
}

.btm-border-MediumSpringGreen:hover {
  color: MediumSpringGreen;
}

.btm-border-Lime {
  border-bottom: 1px solid Lime;
}

.btm-border-Lime:hover {
  color: Lime;
}

.btm-border-SpringGreen {
  border-bottom: 1px solid SpringGreen;
}

.btm-border-SpringGreen:hover {
  color: SpringGreen;
}

.btm-border-Aqua {
  border-bottom: 1px solid Aqua;
}

.btm-border-Aqua:hover {
  color: Aqua;
}

.btm-border-Cyan {
  border-bottom: 1px solid Cyan;
}

.btm-border-Cyan:hover {
  color: Cyan;
}

.btm-border-MidnightBlue {
  border-bottom: 1px solid MidnightBlue;
}

.btm-border-MidnightBlue:hover {
  color: MidnightBlue;
}

.btm-border-DodgerBlue {
  border-bottom: 1px solid DodgerBlue;
}

.btm-border-DodgerBlue:hover {
  color: DodgerBlue;
}

.btm-border-LightSeaGreen {
  border-bottom: 1px solid LightSeaGreen;
}

.btm-border-LightSeaGreen:hover {
  color: LightSeaGreen;
}

.btm-border-ForestGreen {
  border-bottom: 1px solid ForestGreen;
}

.btm-border-ForestGreen:hover {
  color: ForestGreen;
}

.btm-border-SeaGreen {
  border-bottom: 1px solid SeaGreen;
}

.btm-border-SeaGreen:hover {
  color: SeaGreen;
}

.btm-border-DarkSlateGray {
  border-bottom: 1px solid DarkSlateGray;
}

.btm-border-DarkSlateGray:hover {
  color: DarkSlateGray;
}

.btm-border-DarkSlateGrey {
  border-bottom: 1px solid DarkSlateGrey;
}

.btm-border-DarkSlateGrey:hover {
  color: DarkSlateGrey;
}

.btm-border-LimeGreen {
  border-bottom: 1px solid LimeGreen;
}

.btm-border-LimeGreen:hover {
  color: LimeGreen;
}

.btm-border-MediumSeaGreen {
  border-bottom: 1px solid MediumSeaGreen;
}

.btm-border-MediumSeaGreen:hover {
  color: MediumSeaGreen;
}

.btm-border-Turquoise {
  border-bottom: 1px solid Turquoise;
}

.btm-border-Turquoise:hover {
  color: Turquoise;
}

.btm-border-RoyalBlue {
  border-bottom: 1px solid RoyalBlue;
}

.btm-border-RoyalBlue:hover {
  color: RoyalBlue;
}

.btm-border-SteelBlue {
  border-bottom: 1px solid SteelBlue;
}

.btm-border-SteelBlue:hover {
  color: SteelBlue;
}

.btm-border-DarkSlateBlue {
  border-bottom: 1px solid DarkSlateBlue;
}

.btm-border-DarkSlateBlue:hover {
  color: DarkSlateBlue;
}

.btm-border-MediumTurquoise {
  border-bottom: 1px solid MediumTurquoise;
}

.btm-border-MediumTurquoise:hover {
  color: MediumTurquoise;
}

.btm-border-Indigo {
  border-bottom: 1px solid Indigo  ;
}

.btm-border-Indigo :hover {
  color: Indigo  ;
}

.btm-border-DarkOliveGreen {
  border-bottom: 1px solid DarkOliveGreen;
}

.btm-border-DarkOliveGreen:hover {
  color: DarkOliveGreen;
}

.btm-border-CadetBlue {
  border-bottom: 1px solid CadetBlue;
}

.btm-border-CadetBlue:hover {
  color: CadetBlue;
}

.btm-border-CornflowerBlue {
  border-bottom: 1px solid CornflowerBlue;
}

.btm-border-CornflowerBlue:hover {
  color: CornflowerBlue;
}

.btm-border-RebeccaPurple {
  border-bottom: 1px solid RebeccaPurple;
}

.btm-border-RebeccaPurple:hover {
  color: RebeccaPurple;
}

.btm-border-MediumAquaMarine {
  border-bottom: 1px solid MediumAquaMarine;
}

.btm-border-MediumAquaMarine:hover {
  color: MediumAquaMarine;
}

.btm-border-DimGray {
  border-bottom: 1px solid DimGray;
}

.btm-border-DimGray:hover {
  color: DimGray;
}

.btm-border-DimGrey {
  border-bottom: 1px solid DimGrey;
}

.btm-border-DimGrey:hover {
  color: DimGrey;
}

.btm-border-SlateBlue {
  border-bottom: 1px solid SlateBlue;
}

.btm-border-SlateBlue:hover {
  color: SlateBlue;
}

.btm-border-OliveDrab {
  border-bottom: 1px solid OliveDrab;
}

.btm-border-OliveDrab:hover {
  color: OliveDrab;
}

.btm-border-SlateGray {
  border-bottom: 1px solid SlateGray;
}

.btm-border-SlateGray:hover {
  color: SlateGray;
}

.btm-border-SlateGrey {
  border-bottom: 1px solid SlateGrey;
}

.btm-border-SlateGrey:hover {
  color: SlateGrey;
}

.btm-border-LightSlateGray {
  border-bottom: 1px solid LightSlateGray;
}

.btm-border-LightSlateGray:hover {
  color: LightSlateGray;
}

.btm-border-LightSlateGrey {
  border-bottom: 1px solid LightSlateGrey;
}

.btm-border-LightSlateGrey:hover {
  color: LightSlateGrey;
}

.btm-border-MediumSlateBlue {
  border-bottom: 1px solid MediumSlateBlue;
}

.btm-border-MediumSlateBlue:hover {
  color: MediumSlateBlue;
}

.btm-border-LawnGreen {
  border-bottom: 1px solid LawnGreen;
}

.btm-border-LawnGreen:hover {
  color: LawnGreen;
}

.btm-border-Chartreuse {
  border-bottom: 1px solid Chartreuse;
}

.btm-border-Chartreuse:hover {
  color: Chartreuse;
}

.btm-border-Aquamarine {
  border-bottom: 1px solid Aquamarine;
}

.btm-border-Aquamarine:hover {
  color: Aquamarine;
}

.btm-border-Maroon {
  border-bottom: 1px solid Maroon;
}

.btm-border-Maroon:hover {
  color: Maroon;
}

.btm-border-Purple {
  border-bottom: 1px solid Purple;
}

.btm-border-Purple:hover {
  color: Purple;
}

.btm-border-Olive {
  border-bottom: 1px solid Olive;
}

.btm-border-Olive:hover {
  color: Olive;
}

.btm-border-Gray {
  border-bottom: 1px solid Gray;
}

.btm-border-Gray:hover {
  color: Gray;
}

.btm-border-Grey {
  border-bottom: 1px solid Grey;
}

.btm-border-Grey:hover {
  color: Grey;
}

.btm-border-SkyBlue {
  border-bottom: 1px solid SkyBlue;
}

.btm-border-SkyBlue:hover {
  color: SkyBlue;
}

.btm-border-LightSkyBlue {
  border-bottom: 1px solid LightSkyBlue;
}

.btm-border-LightSkyBlue:hover {
  color: LightSkyBlue;
}

.btm-border-BlueViolet {
  border-bottom: 1px solid BlueViolet;
}

.btm-border-BlueViolet:hover {
  color: BlueViolet;
}

.btm-border-DarkRed {
  border-bottom: 1px solid DarkRed;
}

.btm-border-DarkRed:hover {
  color: DarkRed;
}

.btm-border-DarkMagenta {
  border-bottom: 1px solid DarkMagenta;
}

.btm-border-DarkMagenta:hover {
  color: DarkMagenta;
}

.btm-border-SaddleBrown {
  border-bottom: 1px solid SaddleBrown;
}

.btm-border-SaddleBrown:hover {
  color: SaddleBrown;
}

.btm-border-DarkSeaGreen {
  border-bottom: 1px solid DarkSeaGreen;
}

.btm-border-DarkSeaGreen:hover {
  color: DarkSeaGreen;
}

.btm-border-LightGreen {
  border-bottom: 1px solid LightGreen;
}

.btm-border-LightGreen:hover {
  color: LightGreen;
}

.btm-border-MediumPurple {
  border-bottom: 1px solid MediumPurple;
}

.btm-border-MediumPurple:hover {
  color: MediumPurple;
}

.btm-border-DarkViolet {
  border-bottom: 1px solid DarkViolet;
}

.btm-border-DarkViolet:hover {
  color: DarkViolet;
}

.btm-border-PaleGreen {
  border-bottom: 1px solid PaleGreen;
}

.btm-border-PaleGreen:hover {
  color: PaleGreen;
}

.btm-border-DarkOrchid {
  border-bottom: 1px solid DarkOrchid;
}

.btm-border-DarkOrchid:hover {
  color: DarkOrchid;
}

.btm-border-YellowGreen {
  border-bottom: 1px solid YellowGreen;
}

.btm-border-YellowGreen:hover {
  color: YellowGreen;
}

.btm-border-Sienna {
  border-bottom: 1px solid Sienna;
}

.btm-border-Sienna:hover {
  color: Sienna;
}

.btm-border-Brown {
  border-bottom: 1px solid Brown;
}

.btm-border-Brown:hover {
  color: Brown;
}

.btm-border-DarkGray {
  border-bottom: 1px solid DarkGray;
}

.btm-border-DarkGray:hover {
  color: DarkGray;
}

.btm-border-DarkGrey {
  border-bottom: 1px solid DarkGrey;
}

.btm-border-DarkGrey:hover {
  color: DarkGrey;
}

.btm-border-LightBlue {
  border-bottom: 1px solid LightBlue;
}

.btm-border-LightBlue:hover {
  color: LightBlue;
}

.btm-border-GreenYellow {
  border-bottom: 1px solid GreenYellow;
}

.btm-border-GreenYellow:hover {
  color: GreenYellow;
}

.btm-border-PaleTurquoise {
  border-bottom: 1px solid PaleTurquoise;
}

.btm-border-PaleTurquoise:hover {
  color: PaleTurquoise;
}

.btm-border-LightSteelBlue {
  border-bottom: 1px solid LightSteelBlue;
}

.btm-border-LightSteelBlue:hover {
  color: LightSteelBlue;
}

.btm-border-PowderBlue {
  border-bottom: 1px solid PowderBlue;
}

.btm-border-PowderBlue:hover {
  color: PowderBlue;
}

.btm-border-FireBrick {
  border-bottom: 1px solid FireBrick;
}

.btm-border-FireBrick:hover {
  color: FireBrick;
}

.btm-border-DarkGoldenRod {
  border-bottom: 1px solid DarkGoldenRod;
}

.btm-border-DarkGoldenRod:hover {
  color: DarkGoldenRod;
}

.btm-border-MediumOrchid {
  border-bottom: 1px solid MediumOrchid;
}

.btm-border-MediumOrchid:hover {
  color: MediumOrchid;
}

.btm-border-RosyBrown {
  border-bottom: 1px solid RosyBrown;
}

.btm-border-RosyBrown:hover {
  color: RosyBrown;
}

.btm-border-DarkKhaki {
  border-bottom: 1px solid DarkKhaki;
}

.btm-border-DarkKhaki:hover {
  color: DarkKhaki;
}

.btm-border-Silver {
  border-bottom: 1px solid Silver;
}

.btm-border-Silver:hover {
  color: Silver;
}

.btm-border-MediumVioletRed {
  border-bottom: 1px solid MediumVioletRed;
}

.btm-border-MediumVioletRed:hover {
  color: MediumVioletRed;
}

.btm-border-IndianRed {
  border-bottom: 1px solid IndianRed ;
}

.btm-border-IndianRed :hover {
  color: IndianRed ;
}

.btm-border-Peru {
  border-bottom: 1px solid Peru;
}

.btm-border-Peru:hover {
  color: Peru;
}

.btm-border-Chocolate {
  border-bottom: 1px solid Chocolate;
}

.btm-border-Chocolate:hover {
  color: Chocolate;
}

.btm-border-Tan {
  border-bottom: 1px solid Tan;
}

.btm-border-Tan:hover {
  color: Tan;
}

.btm-border-LightGray {
  border-bottom: 1px solid LightGray;
}

.btm-border-LightGray:hover {
  color: LightGray;
}

.btm-border-LightGrey {
  border-bottom: 1px solid LightGrey;
}

.btm-border-LightGrey:hover {
  color: LightGrey;
}

.btm-border-Thistle {
  border-bottom: 1px solid Thistle;
}

.btm-border-Thistle:hover {
  color: Thistle;
}

.btm-border-Orchid {
  border-bottom: 1px solid Orchid;
}

.btm-border-Orchid:hover {
  color: Orchid;
}

.btm-border-GoldenRod {
  border-bottom: 1px solid GoldenRod;
}

.btm-border-GoldenRod:hover {
  color: GoldenRod;
}

.btm-border-PaleVioletRed {
  border-bottom: 1px solid PaleVioletRed;
}

.btm-border-PaleVioletRed:hover {
  color: PaleVioletRed;
}

.btm-border-Crimson {
  border-bottom: 1px solid Crimson;
}

.btm-border-Crimson:hover {
  color: Crimson;
}

.btm-border-Gainsboro {
  border-bottom: 1px solid Gainsboro;
}

.btm-border-Gainsboro:hover {
  color: Gainsboro;
}

.btm-border-Plum {
  border-bottom: 1px solid Plum;
}

.btm-border-Plum:hover {
  color: Plum;
}

.btm-border-BurlyWood {
  border-bottom: 1px solid BurlyWood;
}

.btm-border-BurlyWood:hover {
  color: BurlyWood;
}

.btm-border-LightCyan {
  border-bottom: 1px solid LightCyan;
}

.btm-border-LightCyan:hover {
  color: LightCyan;
}

.btm-border-Lavender {
  border-bottom: 1px solid Lavender;
}

.btm-border-Lavender:hover {
  color: Lavender;
}

.btm-border-DarkSalmon {
  border-bottom: 1px solid DarkSalmon;
}

.btm-border-DarkSalmon:hover {
  color: DarkSalmon;
}

.btm-border-Violet {
  border-bottom: 1px solid Violet;
}

.btm-border-Violet:hover {
  color: Violet;
}

.btm-border-PaleGoldenRod {
  border-bottom: 1px solid PaleGoldenRod;
}

.btm-border-PaleGoldenRod:hover {
  color: PaleGoldenRod;
}

.btm-border-LightCoral {
  border-bottom: 1px solid LightCoral;
}

.btm-border-LightCoral:hover {
  color: LightCoral;
}

.btm-border-Khaki {
  border-bottom: 1px solid Khaki;
}

.btm-border-Khaki:hover {
  color: Khaki;
}

.btm-border-AliceBlue {
  border-bottom: 1px solid AliceBlue;
}

.btm-border-AliceBlue:hover {
  color: AliceBlue;
}

.btm-border-HoneyDew {
  border-bottom: 1px solid HoneyDew;
}

.btm-border-HoneyDew:hover {
  color: HoneyDew;
}

.btm-border-Azure {
  border-bottom: 1px solid Azure;
}

.btm-border-Azure:hover {
  color: Azure;
}

.btm-border-SandyBrown {
  border-bottom: 1px solid SandyBrown;
}

.btm-border-SandyBrown:hover {
  color: SandyBrown;
}

.btm-border-Wheat {
  border-bottom: 1px solid Wheat;
}

.btm-border-Wheat:hover {
  color: Wheat;
}

.btm-border-Beige {
  border-bottom: 1px solid Beige;
}

.btm-border-Beige:hover {
  color: Beige;
}

.btm-border-WhiteSmoke {
  border-bottom: 1px solid WhiteSmoke;
}

.btm-border-WhiteSmoke:hover {
  color: WhiteSmoke;
}

.btm-border-MintCream {
  border-bottom: 1px solid MintCream;
}

.btm-border-MintCream:hover {
  color: MintCream;
}

.btm-border-GhostWhite {
  border-bottom: 1px solid GhostWhite;
}

.btm-border-GhostWhite:hover {
  color: GhostWhite;
}

.btm-border-Salmon {
  border-bottom: 1px solid Salmon;
}

.btm-border-Salmon:hover {
  color: Salmon;
}

.btm-border-AntiqueWhite {
  border-bottom: 1px solid AntiqueWhite;
}

.btm-border-AntiqueWhite:hover {
  color: AntiqueWhite;
}

.btm-border-Linen {
  border-bottom: 1px solid Linen;
}

.btm-border-Linen:hover {
  color: Linen;
}

.btm-border-LightGoldenRodYellow {
  border-bottom: 1px solid LightGoldenRodYellow;
}

.btm-border-LightGoldenRodYellow:hover {
  color: LightGoldenRodYellow;
}

.btm-border-OldLace {
  border-bottom: 1px solid OldLace;
}

.btm-border-OldLace:hover {
  color: OldLace;
}

.btm-border-Red {
  border-bottom: 1px solid Red;
}

.btm-border-Red:hover {
  color: Red;
}

.btm-border-Fuchsia {
  border-bottom: 1px solid Fuchsia;
}

.btm-border-Fuchsia:hover {
  color: Fuchsia;
}

.btm-border-Magenta {
  border-bottom: 1px solid Magenta;
}

.btm-border-Magenta:hover {
  color: Magenta;
}

.btm-border-DeepPink {
  border-bottom: 1px solid DeepPink;
}

.btm-border-DeepPink:hover {
  color: DeepPink;
}

.btm-border-OrangeRed {
  border-bottom: 1px solid OrangeRed;
}

.btm-border-OrangeRed:hover {
  color: OrangeRed;
}

.btm-border-Tomato {
  border-bottom: 1px solid Tomato;
}

.btm-border-Tomato:hover {
  color: Tomato;
}

.btm-border-HotPink {
  border-bottom: 1px solid HotPink;
}

.btm-border-HotPink:hover {
  color: HotPink;
}

.btm-border-Coral {
  border-bottom: 1px solid Coral;
}

.btm-border-Coral:hover {
  color: Coral;
}

.btm-border-DarkOrange {
  border-bottom: 1px solid DarkOrange;
}

.btm-border-DarkOrange:hover {
  color: DarkOrange;
}

.btm-border-LightSalmon {
  border-bottom: 1px solid LightSalmon;
}

.btm-border-LightSalmon:hover {
  color: LightSalmon;
}

.btm-border-Orange {
  border-bottom: 1px solid Orange;
}

.btm-border-Orange:hover {
  color: Orange;
}

.btm-border-LightPink {
  border-bottom: 1px solid LightPink;
}

.btm-border-LightPink:hover {
  color: LightPink;
}

.btm-border-Pink {
  border-bottom: 1px solid Pink;
}

.btm-border-Pink:hover {
  color: Pink;
}

.btm-border-Gold {
  border-bottom: 1px solid Gold;
}

.btm-border-Gold:hover {
  color: Gold;
}

.btm-border-PeachPuff {
  border-bottom: 1px solid PeachPuff;
}

.btm-border-PeachPuff:hover {
  color: PeachPuff;
}

.btm-border-NavajoWhite {
  border-bottom: 1px solid NavajoWhite;
}

.btm-border-NavajoWhite:hover {
  color: NavajoWhite;
}

.btm-border-Moccasin {
  border-bottom: 1px solid Moccasin;
}

.btm-border-Moccasin:hover {
  color: Moccasin;
}

.btm-border-Bisque {
  border-bottom: 1px solid Bisque;
}

.btm-border-Bisque:hover {
  color: Bisque;
}

.btm-border-MistyRose {
  border-bottom: 1px solid MistyRose;
}

.btm-border-MistyRose:hover {
  color: MistyRose;
}

.btm-border-BlanchedAlmond {
  border-bottom: 1px solid BlanchedAlmond;
}

.btm-border-BlanchedAlmond:hover {
  color: BlanchedAlmond;
}

.btm-border-PapayaWhip {
  border-bottom: 1px solid PapayaWhip;
}

.btm-border-PapayaWhip:hover {
  color: PapayaWhip;
}

.btm-border-LavenderBlush {
  border-bottom: 1px solid LavenderBlush;
}

.btm-border-LavenderBlush:hover {
  color: LavenderBlush;
}

.btm-border-SeaShell {
  border-bottom: 1px solid SeaShell;
}

.btm-border-SeaShell:hover {
  color: SeaShell;
}

.btm-border-Cornsilk {
  border-bottom: 1px solid Cornsilk;
}

.btm-border-Cornsilk:hover {
  color: Cornsilk;
}

.btm-border-LemonChiffon {
  border-bottom: 1px solid LemonChiffon;
}

.btm-border-LemonChiffon:hover {
  color: LemonChiffon;
}

.btm-border-FloralWhite {
  border-bottom: 1px solid FloralWhite;
}

.btm-border-FloralWhite:hover {
  color: FloralWhite;
}

.btm-border-Snow {
  border-bottom: 1px solid Snow;
}

.btm-border-Snow:hover {
  color: Snow;
}

.btm-border-Yellow {
  border-bottom: 1px solid Yellow;
}

.btm-border-Yellow:hover {
  color: Yellow;
}

.btm-border-LightYellow {
  border-bottom: 1px solid LightYellow;
}

.btm-border-LightYellow:hover {
  color: LightYellow;
}

.btm-border-Ivory {
  border-bottom: 1px solid Ivory;
}

.btm-border-Ivory:hover {
  color: Ivory;
}

.btm-border-White {
  border-bottom: 1px solid White;
}

.btm-border-White:hover {
  color: White;
}


/*# sourceMappingURL=alecScriptsStyles.css.map */
