:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-lato: 'Lato', sans-serif;
    --font-family-dance: 'Dancing Script', cursive;
  }

* {
    scroll-behavior: smooth;
}

*::selection {
    background-color: black;
    color: white;
}



html {
    font-size: 14px;
}

@keyframes op {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 900px) {
    .sidebar {
        display: inline-block;
    }
}



.tip::before {
    content: ">> Quick Tip <<";
    font-style: italic;
    font-size: 5px;
}

html {
    position: relative;
    min-height: 100%;
}

td,
th {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
th {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}

table{
    margin-top: 10px;
    margin-left: 2%;
}

:not(pre)>code {
    color: black;
    background-color: rgba(0, 0, 0, 0.0508);
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
}

#navy {
    background-color: var(--light);
    border-bottom: 2px solid hotpink;
    font-family: 'Poppins', sans-serif;
    color: black;
}

body {
    margin-bottom: 60px;
    background-color: white;
    overflow-x: hidden;
}

main {
    background-color: white;
    margin-left: 5%;
}

@media (min-width: 1250px) {
    main {
        margin-left: 20%;
        margin-right: 20%;
    }
}

p:not(a) {
    max-width: 750px;
    padding-left: 3%;
    margin-bottom: 30px;
}
details > a{
    padding-left: 50px;
}

details {
    padding-bottom: 5px;
    color: var(--black);
    
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}


li.nav-item {
    border-bottom: 1px solid #f8f9fa;
}


.toc-container {

    font-family: 'Lato', sans-serif;
    
}

.indent-1 {
    margin-left: 20px;
}

.indent-2 {
    margin-left: 20%;
}

.link {
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    transition: padding-left .5s, color .5s, background-color 1s;
}


.sidebar .link{
    transition: color .25s, background-color .1s;
    border-radius: 4px;
}

.link:hover  {
    color: black;
    transition: color .1s, background-color .25s;
    

}

.sidebar .link:hover{

    background-color: var(--pink);
    color: white;

}


nav {
    font-size: 14px;
    text-align: left;
}

li a.toc {
    text-decoration: none;
    color: black;
    
}

div.container {
    line-height: 30px;
}

.btn:hover {
    transition: color 1s;
    transition: background-color 1s;
}

.btn {
    transition: color 1s;
    transition: background-color 1s;
}

/* div.container div div{
  border: 1px solid rgba(0, 0, 0, 0.108);
  background-color: #f8f9fa;
  border-bottom-right-radius: 10%;
} */
div.container div div div {
    border: none;
}

.btn-custom {
    color: rgba(0, 0, 0, 1);
    background: none;
    border: none;
    transition: all .5s;
}

.hidden {
    display: none;
}

.display-6 {
    scroll-margin-top: 80px;
    font-size: 2.5em;
    max-width: fit-content;
    margin-top: 50px;
    text-transform: capitalize;
    padding: 10px;
}

.display-4 {
    padding: 10px;
    /* text-align: center; */
    /* font-weight: 100; */
}

.underlineBox{
    height: 10px;
    max-width: 100%;
    background-image: repeating-linear-gradient(white, silver, black);
    margin-bottom: 30px;
    border-radius: 10px;
    opacity: 50%;
}

a {
    scroll-margin-top: 200px;
}



/* 
.container{
    background-color: #f8f9fa;
} */

#foot {
    background-color: #f8f9fa;
    padding-right: 20px;
    margin-top: 100px;
    position: absolute;
    bottom: -1000px;
    z-index: -1;
    text-align: right;
    max-width: 100%;
    width: 100%;
    font-size: .9em;
    padding-top: 10px;
}

#foot > ul{
    list-style-type: none;
}

#foot > ul > li, li > a {
    color: var(--pink);
}


@media (max-width: 1250px) {
    #foot {
        text-align: center;
    }
}




td,
th,


td {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: left;

}

textarea {
    background-color: #f8f9fa;
    font-family: monospace;
    font-size: 14px;
    min-height: 300px;
    min-width: 75%;
    line-height: normal;
    margin-left: 3%;
}



.code-toolbar {
    padding-left: 3%;
}

ul {
    padding-left: 5%;
}


summary {
    margin-left: 4%;
    font-size: 1em;
}

.sidebar {
    z-index: 0;
    text-align: left;
    max-height: 92%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 59px;
    font-family: 'Lato', sans-serif;
    max-width: 19%;
    padding-bottom: 20px;
    
    /* background-image: repeating-linear-gradient(Magenta, DeepPink, Tomato, HotPink, Coral, DarkOrange); */
    background-image: repeating-linear-gradient(white, silver);
}

@media (max-width: 1250px) {
    .sidebar {
        display: none;
        max-width: 100%;
        width: 100%;
        z-index: 25;
    }
    
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid red;
  }

  p {
    font-family: var(--font-family-sans-serif);
    word-spacing: 3px;
    color: var(--gray-dark);
    padding-top: 20px;
    /* font-size: 1.1em; */
  }

.toc-container{
    
    background-image: repeating-linear-gradient(white, var(--light));   
    padding-bottom: 10px;
    text-transform: capitalize;
    color: var(--pink);
}

.toc-container .link {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: black;

}
.toc-container li a.link:not(.link-inner):hover{
    background-color: inherit;
}




a.link.link-inner:hover {
    background-color: inherit;
    margin-left: 10px;
    transition: margin-left .5s;
}
a.link.link-inner{
    transition: margin-left .5s;
}
.borderless {
    border: none;
}

.sexy {
    background-image: repeating-linear-gradient(Magenta, DeepPink, HotPink);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: black;
    text-align: center;
    padding-top: 35px;
}
.sexy-sm {
    background-image: repeating-linear-gradient(Magenta, DeepPink, HotPink);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 1s;
}
.sexy:hover{
    transform: rotate(720deg);
    transition: transform 1s;
}
.sexy-sm:hover {
    transform: rotate(360deg);
    transition: transform 1s;
    border-bottom: none;
}

.tagFormat{
    color: var(--primary);
}

.sidebar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.circle {
    background: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

table tr td {
    font-family: monospace;
    color: var(--black);
    padding: 10px;
}

table tr th {
    font-family: monospace;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.908);
    color: white;;
}

a.nav-link.btm-border-Coral{
    transition: background-color .5s, box-shadow 1.25s, border-radius .2s;
    
}
a.nav-link.btm-border-Coral:hover{
    background-color: coral;
    transition: background-color 1s, box-shadow .25s, border-radius 1s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.0508);
    border-radius: 4px;
}

a.nav-link.btm-border-HotPink{
    transition: background-color .5s, box-shadow 1.25s, border-radius .2s;
    
}
a.nav-link.btm-border-HotPink:hover{
    background-color: hotpink;
    transition: background-color 1s, box-shadow .25s, border-radius 1s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.0508);
    border-radius: 4px;
}

a.nav-link.btm-border-Magenta{
    transition: background-color .5s, box-shadow 1.25s, border-radius .2s;
    
}
a.nav-link.btm-border-Magenta:hover{
    background-color: magenta;
    transition: background-color 1s, box-shadow .25s, border-radius 1s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.0508);
    border-radius: 4px;
    
}

.glossary-header{
    font-size: 1.2em;
    background-color: #f8f9fa;
    max-width: 100%;
}

.glossary-text{
    font-size: .9em;
}

ul {
    list-style-type: square;
}

.sidebar-link {
    font-size: 1em;
    color: black;
    text-decoration: none;
    
}
