:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-lato: 'Lato', sans-serif;
    --font-family-dance: 'Dancing Script', cursive;
  }

* {
    scroll-behavior: smooth;
}

*::selection {
    background-color: black;
    color: white;
}



html {
    font-size: 14px;
}

@keyframes op {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 900px) {
    .sidebar {
        display: inline-block;
    }
}



.tip::before {
    content: ">> Quick Tip <<";
    font-style: italic;
    font-size: 5px;
}

html {
    position: relative;
    min-height: 100%;
}

td,
th {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
th {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
table{
    margin-top: 10px;
    margin-left: 2%;
}

:not(pre)>code {
    color: black;
    background-color: rgba(0, 0, 0, 0.0508);
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
}

#navy {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-bottom: 60px;
    background-color: white;
    overflow-x: hidden;
}

main {
    background-color: white;
}

@media (min-width: 1250px) {
    main {
        margin-left: 20%;
        margin-right: 20%;
    }
}

p:not(a) {
    max-width: 750px;
    padding-left: 3%;
    margin-bottom: 30px;
}
details > a{
    padding-left: 50px;
}

details {
    padding-bottom: 5px;
    color: var(--black);
}


li.nav-item {
    border-bottom: 1px solid #f8f9fa;
}


li.nav-item:hover {
    border-bottom: 1px solid black;
}

.toc-container {

    font-family: 'Lato', sans-serif;
    
}

.indent-1 {
    margin-left: 20px;
}

.indent-2 {
    margin-left: 20%;
}

.link {
    color: var(--black);
    font-size: 20px;
    text-decoration-color: rgba(0, 0, 0, 0.3508);
    transition: padding-left .5s, color .5s, background-color 1s;
}


.sidebar .link{
    transition: padding-left .5s, color .5s, background-color 1s;
}

.link:hover {
    color: black;
    background-color: magenta;
    transition: padding-left .5s, color .5s, background-color 1s;
    padding-left: 10px;
}

.sidebar .link:hover{
    padding-right: 100%;
    
}


nav {
    font-size: 14px;
    text-align: left;
}

li a.toc {
    text-decoration: none;
    color: black;
    
}

div.container {
    line-height: 30px;
}

.btn:hover {
    transition: color 1s;
    transition: background-color 1s;
}

.btn {
    transition: color 1s;
    transition: background-color 1s;
}

/* div.container div div{
  border: 1px solid rgba(0, 0, 0, 0.108);
  background-color: #f8f9fa;
  border-bottom-right-radius: 10%;
} */
div.container div div div {
    border: none;
}

.btn-custom {
    color: rgba(0, 0, 0, 1);
    background: none;
    border: none;
    transition: all .5s;
}

.hidden {
    display: none;
}

.display-6 {
    /* color: black;
  
  font-weight: 100; */
    scroll-margin-top: 80px;
    font-size: 37px;
    /* font-family: 'Lexend', sans-serif; */

    /* border-top-right-radius:60px;
  border-bottom-right-radius:60px; */
    max-width: fit-content;
    
    margin-top: 10px;
    font-family: 'Lato', sans-serif;

    padding: 10px;
    text-shadow: 1px 1px 1px 1px;
    /* background-color:  #f8f9fa */
}
 .display-6:not(.fs-4)::before {
    content: "𝜱";
    font-size: 70%;
    vertical-align: top;
    color: red;
    
}
.fs-4::before {
    content: "𐦉";
    color: coral;
    font-size: 70%;
    vertical-align: top;
}

.display-4 {
    padding: 10px;
    text-align: center;
    font-weight: 100;
}

.underlineBox{
    height: 10px;
    max-width: 100%;
    background-image: repeating-radial-gradient(red,magenta, DeepPink, pink, white);
    margin-bottom: 30px;
    border-radius: 10px;
    
}


a {
    scroll-margin-top: 200px;
}

/* 
.container{
    background-color: #f8f9fa;
} */

#foot {
    background-color: #f8f9fa;
    padding-right: 20px;
    margin-top: 100px;
    position: absolute;
    bottom: -1000px;
    z-index: -1;

}

li {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 10px;
}

td,
th,


td {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: left;

}

textarea {
    background-color: #f8f9fa;
    font-family: monospace;
    font-size: 14px;
    min-height: 300px;
    min-width: 75%;
    line-height: normal;
    margin-left: 3%;
}


.code-toolbar {
    padding-left: 3%;
}

ul {
    padding-left: 5%;
}

.navbar-brand:hover {
    border-bottom: 1px solid black;

}


summary {
    margin-left: 4%;
    font-size: 12px;
}
a.link {
    font-size: 12px;
}

.sidebar {
    z-index: 0;
    text-align: left;
    max-height: 92%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    top: 59px;
    font-family: 'Lato', sans-serif;
    max-width: 19%;
    padding-bottom: 20px;

    background-image: repeating-linear-gradient(Magenta, DeepPink, Tomato, HotPink, Coral, DarkOrange);
    
}

@media (max-width: 1250px) {
    .sidebar {
        display: none;
        max-width: 100%;
        width: 100%;
        z-index: 25;
    }
    
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid red;
  }

  p {
    font-family: var(--font-family-sans-serif);
    word-spacing: 3px;
    color: var(--gray-dark);
    /* font-size: 1.1em; */
  }


.skipToTopBtn{
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: black;
    color: white;
    opacity: 5%;
}

.skipToTopBtn:hover{
    opacity: 100%;
    background-color: black;
    color: white;
}

.toc-container{
    
    background-image: repeating-linear-gradient(coral,orange, coral);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toc-container .link {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;

}
.toc-container .link::before {
    text-align: left;
    content: "iii ";
    font-size: 10px;
    color: goldenrod; 
}
.toc-container {
    list-style-type: none;
}

.toc-container li a.link:not(.link-inner):hover{
    background-color: inherit;
}

a.link.link-inner::before {
    content: "𐦉";
    color: goldenrod;
    border-radius: 4px;
}

a.sidebarLink{
    text-decoration:none; 
    font-size: 12px; 
    padding-right: 100%
}

a.link.link-inner:hover {
    background-color: inherit;
    margin-left: 10px;
    transition: margin-left .5s;
}
a.link.link-inner{
    transition: margin-left .5s;
}
.borderless {
    border: none;
}

.sexy {
    background-image: repeating-linear-gradient(Magenta, DeepPink, Tomato, HotPink, Coral, DarkOrange);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: black;
    text-align: center;
    padding-top: 35px;
}
.sexy-sm {
    background-image: repeating-linear-gradient(Magenta, DeepPink, Tomato, HotPink, Coral, DarkOrange);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sexy:hover{
    transform: rotate(720deg);
    transition: transform 1s;
}
.sexy-sm:hover {
    transform: rotate(360deg);
    transition: transform 1s;
    border-bottom: none;
}

.tagFormat{
    color: var(--primary);
}

.sidebar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

