
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



html {
    font-size: 16px;
}
p {
    font-size: 1.1em;
    margin-bottom: 25px;
    line-height: 1.75em;
}

* {
    scroll-margin-top: 80px;
}

h2,h3 {
    margin-bottom: 25px;
    margin-top: 50px;
}


h3 {
    font-weight: 300;
}

#mainBody{
    padding-left: 7%;

}

.cursive {
    font-family: 'UnifrakturMaguntia', cursive;
}

@media (max-width: 1200px)
    {
        #rightSidebar{
            display: none;
        }
        #mainBody {
            width: 70%;
        }
    }



@media (max-width: 768px)
    {
        #leftSidebar{
            display: none;
        }
        #mainBody {
            
            max-width: 100%;
            width: auto;
            
        }
    }    

.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#leftSidebar{
    max-height: 750px;
    overflow-y: scroll;
    z-index: 0;
    
}

.nav-link{
    color: grey;
}
.nav-link:hover{
    color: black;
    border-bottom: 1px solid grey ;
}

.nav-link:active{
    border-bottom: 1px solid grey ;
}
