
<p>
    Comments are useless to runtime, the compiler, and the 
    machine itself. Humans, on the other hand, love comments 
    because they explain the code so the person reading it 
    does not have to decipher it. 
</p>
<p>
    Comments can also prevent execution while leaving a line in place 
    for testing or future production code. 
</p>

<h2>
    Single Line Comments
</h2>
<p>
    Single line comments use two forward slashes <code>//</code> and 
    can only be written one line at a time:
</p>
<pre><code class="lang-js">// Single line comment
// Single line comments use one line

let x = 5; // give variable x a value of 5 
let x = 7; // give variable y a value of 7 
</code></pre>

<p>
    Avoid marking it up to much: that's like highlighting 
    an entire page in a book. Make comments meaningful. 
</p>

<h2>
    Multi-line Comments
</h2>
<p>
    Multi-line comments go inside <code>/* */</code>. They can 
    be a single line or stretch over multiple. 
</p>
<pre><code class="lang-js">/* This is an example comment */</code></pre>

<pre><code class="lang-js">/* This is an 
    example comment */</code></pre>

Comments can also prevent code from executing while saving it in place:

<pre><code class="lang-js">//document.getElementById("myH").innerHTML = "My Page";
document.getElementById("myP").innerHTML = "My paragraph.";</code></pre>