
@{
    
}
@* JavaScript Date getMonth() *@

@* =============== Return Value =============== *@
<h1 class="display-6">
    Return Value
</h1>

        <p>
           <code class="bg-light text-dark">getMonth()</code> returns the month of a date object from <code class="bg-light text-dark">0 - 11</code>.
        </p>
        <pre><code class="lang-js">
const dt = new Date("2013/10/31")
dt.getMonth()
// 9 (October)
        </code></pre>
    
@* END Return Value*@


<h1 class="display-6">
    Example
</h1>

        <p>
            Given a date, create a function that returns true
            if the month is October.
        </p>
        <pre><code class="lang-js">
function october(dt) {
  console.log("October")
  return dt.getMonth() === 9;
}
october(new Date("2013/10/31"))
// October
// true
        </code></pre>