
<p>
    Method definitions are an easy way to define methods (functions) inside an object. 
</p>

<pre><code class="lang-js" id="input">
const example = {
  method1() {
    console.log("Method 1")
  },
  method2() {
    console.log("Method 2")
  },
};
example.method2()

// 'Method 2'
</code></pre>

