<p>
    <code>exec()</code> searches for a single match of a pattern in the string.
</p>
<h2>
    Syntax
</h2>
<pre><code class="lang-js">exec(string)</code></pre>

<h3>
    Parameters
</h3>
<ul>
    <li>
        <code>string</code> - the input string 
        that gets searched
    </li>
</ul>
<p>
      
</p>

<p>
    The regex goes first, and the exec is put behind it with 
    dot notation. It will return an array of matches if a match is found, <code>null</code>
    if no matches are found. 
</p>
<pre><code class="lang-js">/bose/g.exec("boseman")
// ["bose"]
</code></pre>

<pre><code>
    
</code></pre>
