@{
    
}
<h1 class="display-6">
    Number.toFixed()
</h1>
        <p>
            Rounds a float to a given number.
        </p>
        <pre><code class="lang-js">
// Convert kilometers to miles 
// and round to 5 decimal places.

function kmToMiles(km) {
	return Number.parseFloat((km * 0.621371).toFixed(5));
}            
        </code></pre>