
<p>
    Tags are essential when trying to optimize SEO. It also makes debugging and 
    refactoring easier, because the code is better organized. 
</p>
<section>
    <h2>
        Title Tag
    </h2>
    <p>
        The title tag is what shows up on a Google search (all the blue links). 
        While Google may change it from something in the title tag to something else, it 
        is the first thing checked to create the SERP (search engine results page). 
    </p>
</section>

<section>
    <h2>
        h2 (Header) Tag
    </h2>
    <p>
        The h2 tag is the main title of the page. The title tag 
        will show up on the SERP, but the h2 tag will show 
        on the website as a header. Is is best practice to use only one h2 tag.  
    </p>
</section>