
<p>
    Tags are essential when trying to optimize SEO. It also makes debugging and 
    refactoring easier, because the code is better organized. 
</p>
<section>
    <h2>
        Title Tag
    </h2>
    <p>
        The title tag is what shows up on a Google search (all the blue links). 
        While Google may change it from something in the title tag to something else, it 
        is the first thing checked to create the SERP (search engine results page). 
    </p>
</section>

<section>
    <h2>
        h1 (Header) Tag
    </h2>
    <p>
        The h1 tag is the main title of the page. The title tag 
        will show up on the SERP, but the h1 tag will show 
        on the website as a header. Is is best practice to use only a single <code>h1</code> tag. 
    </p>
    <h3>
        Subheader
    </h3>
    <p>
        Subheaders should be in an <code>h2</code> tag at the most. Sub-Subheaders should be h3. Going deeper (h4, h5, h6) 
        is unnecessary and will result in worse SEO. 
    </p>
</section>

<section>
    <h2>
        Meta Description Tag
    </h2>
    <p>
        The meta description is displayed under the title in the search results page. 
        Sometimes Google will take a snippet from the website and use that, but it is still just 
        as important. Only use 150 - 160 characters; Google will cut the rest. <a href="https://www.socialmediatoday.com/news/8-of-the-most-important-html-tags-for-seo/574987/">Source</a>
    </p>
    <pre><code class="lang-html">&lt;meta name="description" content="Coding tutorials and coding examples."></code></pre>
</section>

<section>
    <h2>
        Image Alt Text
    </h2>
    <p>
        Normally, alt text is used for people who cannot see the image, for whatever reason. 
        The Seo point of alt text is image index ranking on Google. 
    </p>
    <p>
        Try to have an alt text for every image.
    </p>
    
</section>