
<p>
    SEO stands for <b>S</b>earch <b>E</b>ngine <b>O</b>ptimization. It is 
    all about search page results and getting more traffic to a website. 
</p>

<h2>
    Search Engines
</h2>
<p>
    Search engines do a couple things to get the best results:
    <ul>
        <li>
            Crawling - fetching all links from a website
        </li>
        <li>
            Indexing - Assigning pages to a giant index for easy searching
        </li>
        <li>
            Processing - Compares search string against index
        </li>
        <li>
            Relevancy - Best page of similar results
        </li>
        <li>
            Results - Displays results to the user
        </li>
    </ul>
</p>

<p>
    Example search engines are Google, Yahoo! and Bing. 
</p>