@{
    ViewData["title"] = "Bash";
}

<h1 class="display-6">
    Introduction
</h1>
<p>

</p>

<h1 class="display-6">
    Using Bash
</h1>
<p>
    How one will use bash depends on the operating system one 
    is running it on. macOS used to come shipped with 
    bash, but now it comes with zsh which is not the same 
    thing, yet a similar language. 
</p>
<h1 class="display-6 fs-4 indent-1">
    macOS
</h1>
<p>
    Though macOS uses ZSH as its default terminal, one 
    can use bash by searching for it in spotlight. In other words, 
    bash still comes with macOS its just not the active language 
    in the terminal. To run bash on the terminal, use the <code>bash</code> 
    command and a bash shell will replace the current one. 
</p>

<p>
    <img width="100%" src="~/lib/Resources/ScreenShot_a1.png">
</p>
<h1 class="display-6 fs-4 indent-1">
    Windows
</h1>
<p>
    Windows comes with its own shell and one will have to use 
    a program like <code>git bash</code> to run bash commands on 
    the machine.
    <br>
    <a class="link" href="https://www.educative.io/answers/how-to-install-git-bash-in-windows">Install Tutorial</a>
</p>

<h1 class="display-6">
    Programming With Bash
</h1>
<p>
    
</p>

<h1 class="display-6">
    Bash Control Structures 
</h1>
<p>
    
</p>

<h1 class="display-6">
    Interacting With The User 
</h1>
<p>
    
</p>

<h1 class="display-6">
    Bash In the Real World
</h1>
<p>
    
</p>

<h1 class="display-6">
    Conclusion 
</h1>
<p>
    
</p>