@{
    
}

<h2 class="display-6">
    Echo 
</h2>

<p>
    <code class="bg-white rounded-3 p-3">
         <span class="text-primary">echo</span> <span class="text-secondary">[options]</span> <span class="text-secondary">[string]</span>
    </code>
</p>


<p>
    Echo is a function that is like print: it displays whatever is supplied 
    to it. It doesn't actually print anything on a printer, it just 
    "prints" out information to the command line. 
</p>
<pre><code class="lang-bash">
echo candle
# candle
</code></pre>