<section>
    <p>
        Splitting a string is imperative in any programming language. There 
        are lots of real-world applications involving the process of separating a string by a 
        certain character. 
    </p>
    <h2>
        Split Using awk
    </h2>
    <p>
        Pipe a string to <code>awk -F</code> followed 
        by a separator (like a dash). 
    </p>
    <pre><code class="lang-bash">
str="abc-def-ghi"
echo "$str" | awk -F'-' '{print $1,$2,$3}'        
# abc def ghi
    </code></pre>
    <p>
        In the example above, <code>"-"</code> is the separator
        and <code>$1, $2, $3</code> are the first three variables supplied from splitting 
        the array, excluding the array itself (<code>$0</code>).
    </p>
</section>

<section>
    <h2>
        IFS (Internal Field Separator)
    </h2>
    <p>
        IFS is where the string is split into an array based on a character. 
    </p>
    <pre><code class="lang-bash">
STR="one-two-three"
IFS='-' array=($STR)

for ele in "${array[@@]}"; 
    do
        echo $ele;
    done        
# one
# two
# three
    </code></pre>

</section>