@{
    ViewData["Title"] = "Home";
}

<h1 class="display-6">
    Welcome
</h1>

        <p>
            I need to focus on becoming a network engineer and working 
            with the cloud because it is in high demand. This project wraps 
            everything I know into one and lets 
            me learn C# and document it.
        </p>

<h1 class="display-6">
    Site Description 
</h1>

        <p>
            Just random coding tutorials basically. 
        </p>
    

