@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Alec Scripts</h1>
</div>

<div class="container">
    <p>Learn about <a class="link text-primary" href="~/Python">python</a></p>
</div>
