@{
    ViewData["Title"] = "Home";
}

<h1 class="display-6">
    Welcome
</h1>
<div class="container">
    <div class="container">
        <p>
            I wanted to make something that was mine.
        </p>

    </div>
</div>

<h1 class="display-6">
    Site Description 
</h1>
<div class="container">
    <div class="container">
        <p>
            Just random coding tutorials basically. 
        </p>
    </div>
</div>

