@{
    ViewData["Title"] = "Home";
}

<h1 class="display-6">
    Welcome
</h1>

        <p>
            I wanted to make something that was mine.
        </p>

<h1 class="display-6">
    Site Description 
</h1>

        <p>
            Just random coding tutorials basically. 
        </p>
    

