@{
    ViewData["Title"] = "Home";
}

<h1 class="display-6">
    Welcome
</h1>
<div class="container">
    <div class="container">
        <p>
            The goal of this website is to provide 
            a good tutorial for people who want to 
            learn how to code. A lot of the tutorial websites 
            on the internet fail to bring a good experience 
            to the user. Sometimes the code is not updated, sometimes 
            the code output in not on the same page, etc..
        </p>
        <p>
            This website aims to change all that with good examples 
            and direct code output without having to run it in
            another browser. The website is also free to use and 
            free from ads. There is a lack of a community tutorial 
            website like a community W3Schools. StackOverflow is based 
            around questions and not so much a pure tutorial website driven 
            and updated by the community. 
        </p>
        <p>
            There is a lot of great doc sites out there, but here
            I want to have them all in one place. There needs 
            to be a reliable source for all code in one spot 
            instead of scattered throughout the web. Programiz is 
            good because it looks like this website, but the english is
            off to me. Writing is an important skill to develop because 
            it helps one think of ideas. There is no real benefit of writing 
            unless there is thought and care put into it (and somebody 
            read it).
        </p>
        <p>
            Of course, this is an undertaking of my own without help. Bugs are
            starting to pop up and I see why software recruiters have a hard 
            time finding decent developes. While my english might 
            be slightly better, does the lack of functionality 
            and proper bug control make it worthless? I digress.
        </p>

    </div>
</div>

<h1 class="display-6">
    Site Description 
</h1>
<div class="container">
    <div class="container">
        <p>
            This site has clear tutorials with examples 
            that make it easy for anyone to learn coding. Examples 
            are harder to focus on with five ads starting back and a million 
            different things going on. Tutorial websites need to have simple 
            design and execution.
        </p>
        <p>
            The font makes a world of difference along with backgrounds and shadows.
            The important part is noise and having a lack of it. There is three basic parts
            to this website: the header, sidebar and body. It runs off .NET6 because vanilla 
            html is hard to work with on a site like this.   
        </p>
        <p>
            There are currently only javaScript and python tutorials, but more are coming in the future.
            The plan is simple, while I learn to code and wait to get a job why
            not make a tutorial website out of it :)?
        </p>
    </div>
</div>

