@{
    ViewData["Title"] = "Privacy Policy";
}


<h1 class="display-6">
    1a.Warranty &NestedGreaterGreater;
</h1>
<div class="container">
    <div class="container">
        <p>
            None of the code found on this website is responsible 
            for any damages that may arise when 
            executing code found on <i>alecscripts.com</i>&trade;. Neither 
            the limited partners, nor any connected enterprises are
            liable for the consequences that may arise from 
            following/reading a tutorial. There is NO Warranty 
            on alecscripts.com&trade;.
        </p>
    </div>
</div>

<h1 class="display-6">
    1b.License &NestedGreaterGreater;
</h1>
<div class="container">
    <div class="container">
        <p>
            All code and content found under this website 
            is available to the public under the GNU GPLv3 
            license.
        </p>
    </div>
</div>