
@{
    ViewData["title"] = "Random Numbers in C#";
}

<h1 class="display-6">
     Random Number Generator
</h1>
<div class="container">
    <div class="container">
        <p>
            Use <code> RandomNumberGenerator.GetInt32(upperLimit)</code>
            to generate a random number from zero to the <code>upperLimit</code>.
        </p>
        <pre><code class="lang-csharp">using System.Security.Cryptography;
randNum = RandomNumberGenerator.GetInt32(20)
        </code></pre>

        <p>
             <a href="https://stackoverflow.com/questions/2706500/how-do-i-generate-a-random-integer-in-c/70413499#70413499">Stack Overflow</a>
        </p>
    </div>
</div>

@* 
<h1 class="display-6">

</h1>
<div class="container">
    <div class="container">
        <p>
            
        </p>
    </div>
</div> 
*@
