<p>
    Arrays are fixed size in Java and cannot go above their set limit. They hold a collection 
    of values that have the same type. For example, to store 100 numbers in an array: 
</p>
<pre><code class="lang-java">String[] array = new String[100];</code></pre>