<h2>
    Syntax
</h2>

<p>
    Single-line comments are done with <code>//</code> in Java. 
    Anything on the same line after that will be ignored.
</p>
<pre><code class="lang-java">// print Hello World!
System.out.println("Hello World!");
</code></pre>

<h3>Multiline Comments</h3>
<p>
    Multiline comments <b>start</b> with <code>/*</code> and <b>end</b> with <code>*/</code>. 
</p>
<pre><code class="lang-java">/* 

    print Hello World! 
 
*/
System.out.println("Hello World!");
</code></pre>