
<p>
    Control flow is what path the computer takes to get to the end of a loop 
    or program. It consists of conditional statement like <code>if</code> and <code>else</code>
    to control what happens. 
</p>

<h2>
    If Statement 
</h2>
<pre><code class="lang-java">
if (condition) {
  // block of code to be executed if the condition is true
}
</code></pre>