
<p>
    Java is an easy to learn, high-level programming language 
    created by James Gosling in May 1995. Java is compiled 
    to bytecode to be run on the <code>JVM</code> (Java Virtual Machine).
    This makes it easier to distribute Java programs and run them on 
    different operating systems. 
</p>

<h2>
    Other Resources
</h2>
<ul>
    <li>
        <a class=" link link-dark bg-light p-2 rounded-3" href="https://quickref.me/java">
            quickref.me/java
        </a>
    </li>
    <li>
        <a class=" link link-dark bg-light p-2 rounded-3" href="https://docs.oracle.com/javase/tutorial/getStarted/index.html">
            docs.oracle.com
        </a>
    </li>
</ul>

<h2>
    Main Method
</h2>
<p>
    Every Java program has a main method: without it, the program won't run. 
</p>
<pre><code class="lang-java">public static void main(String[] args)    </code></pre>