@model MvcAlecScripts.Models.LanguageModel

@{
    
}

<p>
    Java is a popular language that is easy to learn and use. 
</p>

<h2>
    Main Method
</h2>
<p>
    Every Java program has a main method: without it, the program won't run. 
</p>
<pre><code class="lang-java">public static void main(String[] args)    </code></pre>