
<p>
    Java is an easy to learn, high-level programming language 
    created by James Gosling in May 1995. Java is compiled 
    to bytecode to be run on the <code>JVM</code> (Java Virtual Machine).
    This makes it easier to distribute Java programs and run them on 
    different operating systems. 
</p>

<h2>
    Other Resources
</h2>
<ul>
    <li>
        <a class=" link link-dark bg-light p-2 rounded-3" href="https://quickref.me/java">
            quickref.me/java
        </a>
    </li>
    <li>
        <a class=" link link-dark bg-light p-2 rounded-3" href="https://docs.oracle.com/javase/tutorial/getStarted/index.html">
            docs.oracle.com
        </a>
    </li>
</ul>

<h2>
    Main Method
</h2>
<p>
    Every Java program has a main method: without it, the program won't run. 
    This must be inside a class (all methods must). The class name should also 
    match the filename. 
</p>
<pre><code class="lang-java">// Example.java
public class Example {
    // main method 
    public static void main(String[] args){
        System.out.println("Example");
        // Example
    }
}</code></pre>

<h2>
    Variables
</h2>
<pre><code class="lang-java">int num = 10;
float floatNum = 5.23f;
char letter = 'A';
boolean bool = false;
String site = "alecscripts.com";
</code></pre>

<h2>
    Strings
</h2>
<pre><code class="lang-java">String first = "Alec";
String last = "Scripts";
String name = first + " " + last;
System.out.println(name);
// Alec Scripts
</code></pre>

<h2>
    For Each Loops
</h2>
<pre><code class="lang-java">String word = "iPhone";
for (char c: word.toCharArray()) {
  System.out.print(c + "_");
}
// i_P_h_o_n_e_
</code></pre>

<h2>
    Fibonacci Example
</h2>
<pre><code class="lang-java">// fib.java
public class Fib {
    // FIBONACCI 𝑓(x)
    public static void fib(int n){
        int a = 0, b = 0, c = 1;
        for (int i=0; i&lt;n-1; i++){
             a = b; b = c; c = a+b; 
             System.out.print(c); System.out.print(" - ");
        } 
        System.out.println();
    }
    public static void main(String[] args){
        System.out.println("FIBONACCI");
        fib(8);
        // FIBONACCI
        // 1 - 2 - 3 - 5 - 8 - 13 - 21 -         
    }
}
</code></pre>
