
<h2>
    Math
</h2>
<p>
    Java uses the <code>Math</code> module and includes a variety of useful math functions. 
</p>
<h3>
    max(x,y)
</h3>
<p>
    Returns the greater value between x and y. 
</p>
<pre><code class="lang-java">Math.max(-10, 10)
// 10
</code></pre>
<h3>
    min(x,y)
</h3>
<p>
    Returns the lesser value of x and y. 
</p>
<pre><code class="lang-java">Math.min(-10, 10)
// -10
</code></pre>
<h3>
    sqrt(x)
</h3>
<p>
    Returns the square root of x <code>(&#8730;x)</code>.
</p>
<pre><code class="lang-java">Math.sqrt(4)
// 2.0
</code></pre>
<h3>
    abs(x)
</h3>
<p>
    Returns the absolute value of x <code>(|x|)</code>.
</p>
<pre><code class="lang-java">Math.abs(-10)
// 10
</code></pre>
<h3>
    Math.PI
</h3>
<pre><code class="lang-java">Math.PI
// 3.141592653589793
</code></pre>

<h3>
    Math.E
</h3>
<pre><code class="lang-java">Math.E
// 2.718281828459045
</code></pre>

<h2>
    Quadratic Example
</h2>
<pre><code class="lang-java">public class quadratic {
    // [-b +- sqrt(b^2 - 4ac)] / 2a
    public static void quadratic(int a, int b, int c){
        double res1 = 0, res2=0;
        double discrim = Math.sqrt( Math.pow(b, 2) - 4 * a * c );
        res1 = (-b + discrim) / (2*a);
        res2 = (-b - discrim) / (2*a);
        System.out.println(res2);
        System.out.println(res1);
    }
    public static void main(String[] args){
        System.out.println("Solutions");
        quadratic(1,2,-4);
        // Solutions
        // -3.23606797749979
        // 1.2360679774997898
    }
}

</code></pre>
