
<h2>
    Math
</h2>
<p>
    Java uses the <code>Math</code> module and includes a variety of useful math functions. 
</p>
<h3>
    max(x,y)
</h3>
<p>
    Returns the greater value between x and y. 
</p>
<pre><code class="lang-java">Math.max(-10, 10)
// 10
</code></pre>
<h3>
    min(x,y)
</h3>
<p>
    Returns the lesser value of x and y. 
</p>
<pre><code class="lang-java">Math.min(-10, 10)
// -10
</code></pre>
<h3>
    sqrt(x)
</h3>
<p>
    Returns the square root of x <code>(&#8730;x)</code>.
</p>
<pre><code class="lang-java">Math.sqrt(4)
// 2.0
</code></pre>
<h3>
    abs(x)
</h3>
<p>
    Returns the absolute value of x <code>(|x|)</code>.
</p>
<pre><code class="lang-java">Math.abs(-10)
// 10
</code></pre>