<p>
    Printing is a way to display results to the user for debugging or other software purposes.
    It usually goes to the console. 
</p>
<h2>
    println
</h2>

<p>
    <code>System.out.println</code> is java's way of printing something to the screen. 
</p>
<pre><code class="lang-java">System.out.println("Java")
// Java
</code></pre>

<h2>
    print
</h2>
<p>
    <code>Print</code> will not add a newline at the end of line. 
</p>
<pre><code class="lang-java">System.out.print("Java")
System.out.print("c")
// javac 
</code></pre>

<h2>
    Printing Variables 
</h2>
<p>
    <code>println</code> and <code>print</code> can display variables as well: 
</p>
<pre><code class="lang-java">String str = "Java"
System.out.println(str)
// java
System.out.print(str)
// java
</code></pre>