<p>
    Threads allow the computer multiple things at once. While a 
    more complex task is preformed, the main program can continue. 
</p>
<h2>
    Create Threads
</h2>
<p>
    Threads are created by implementation or by extending the main class.  
</p>