
* {
  scroll-behavior: smooth;
}


html {
  font-size: 14px;
  
}
/* 976 */


@keyframes op{
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#sidebar{
  border-left: 1px solid rgba(0, 0, 0, 0.108);
  border-right: 1px solid rgba(0, 0, 0, 0.108);
  border-bottom: 1px solid rgba(0, 0, 0, 0.108);
  border-radius: 5px;
  background-image: repeating-linear-gradient(ghostwhite, azure);
  width: 200px;
  height: 700px;
  position: absolute;
  top: 58px;

  
  
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 20px;
  margin-top: 5px;
  font-size: medium;
  overflow-y: scroll;
  overflow-x: hidden;
} 

@media (min-width: 1250px){
  #sidebar{
    display: block;
  }
}
@media (max-width: 1250px){
  #sidebar{
    display: none;
  }
}

.tip::before{
  content: ">> Quick Tip <<";
  font-style: italic;
  font-size: 5px;
}

html {
  position: relative;
  min-height: 100%;
}

td, th{
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.108);
    border-bottom: 1px solid rgba(0, 0, 0, 0.108);
}

#navy{
    background-color: powderblue;
    
    
}

body {
  margin-bottom: 60px;
  background-color: white;
}

p {
  margin: 20px;
}

li.nav-item{
  transition: background-color .5s;
}
li.nav-item:hover{
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 5px;
  transition: background-color .5s;
}
.toc-container{
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.108);
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.108);
  padding: 20px;
}

.sidebarBtn{
  transition: transform .5s;
}


.indent-1{
  margin-left: 20px;
}

.indent-2{
  margin-left: 20%;
}
.link{
  color: black;
  text-decoration: none;
}




.sidebar-link{
  text-decoration: none;
}
a.sidebar-link{
  color: black;
}
a.sidebar-link:hover{
  color: blue;
}




li a.toc{
  text-decoration: none;
  color: black;
}
.toc{
  background-color: #f8f9fa;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  /* box-shadow: -3px 3px 2px 1px rgba(0, 0, 0, 0.808);
  transition: padding .25s; */
}

.toc:hover{
  /* padding: 15px;
  transition: padding .5s;
  color: crimson; */
}

div.container{
  border-radius: 6px;
}
div.container div div{
  border: 1px solid rgba(0, 0, 0, 0.108);
}
div.container div div div{
  border: none;
}

.btn-custom{
  color: rgba(0, 0, 0, 1);
  background: none;
  border: none;
  transition: all .5s ;
}

.hidden{
  display: none;
}

.display-6{
  color: black;
  font-size: 37px;
  font-weight: 100;
  background-image: repeating-linear-gradient(ghostwhite, azure);
  padding: 25px;
  border-radius: 4px;
  scroll-margin-top: 80px;
  transition: all 1s;
  border: 1px solid rgba(0, 0, 0, 0.108);
}

.display-4{
  color: black;
  font-size: 50px;
  font-weight: 100;
  background-color: azure ;
  border: 1px solid rgba(0, 0, 0, 0.108);
  padding: 25px;
}
a{
  scroll-margin-top: 200px;
}
